.landing_banner .best_activities {
  position: relative;
  max-width: 665px;
}

.landing_banner .best_activities h1 {
  font-family: "Poppins";
  font-weight: 600;
  font-size: 45px;
  margin-top: 20px;
  line-height: 60px;
  color: #ffffff;
  width: 80%;
  margin-bottom: 40px;
}

/* start activity_category css */

.activity_category {
  padding: 74px 0 54px 0;
}

h2.title {
  font-family: "Poppins";
  font-weight: 600;
  font-size: 26px;
  line-height: 18px;
  color: #494949;
}

.activity_category_list {
  padding-top: 18px;
}

.category_list_box {
  overflow: hidden;
  position: relative;
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  margin-top: 34px;
}

.category_list_box .category_image {
  border-radius: 20px 20px 0px 0px;
  text-align: center;
}

.activity_category .category_list_box img {
  max-width: 100%;
  min-height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  height: auto;
}

.category_list_box .category_title p {
  font-family: "Poppins";
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: #494949;
  text-align: left;
}

.category_list_box .category_title p span.title_arrow {
  float: right;
  transition: 0.8s;
}

.category_list_box:hover .category_title p span.title_arrow {
  transform: translateX(4px);
}

.category_list_box .category_title {
  padding: 19px 22px;
}

@media (max-width: 767px) {
  .tab_outer .nav-tabs .nav-link {
    padding: 15px 0 !important;
    min-width: 110px !important;
  }
  .tab-content .forgot_password .forgot_text {
    max-width: 100% !important;
  }
  .otp_outer {
    padding: 0 0 20px 0;
  }
  .tab_outer .nav-tabs .nav-item {
    margin: 0 20px 0 0;
  }
}

.far {
  font-variant: all-petite-caps;
  color: #beb4b4;
}

/* blog-section */

section.blog-explore .box {
  width: 100%;
  background: #ffffff;
  box-shadow: 4px 4px 4px rgb(0 0 0 / 10%);
  border-radius: 20px;
  padding: 40px;
  padding-top: 30px;
}
.blog-explore h2.blog-heading {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 18px;
  text-align: justify;
  color: #494949;
  padding-top: 30px;
  padding-bottom: 50px;
}
h2.upper-blog-heading {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  text-align: justify;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  color: #494949;
}
span.upper-blog-view {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  text-align: justify;
  letter-spacing: 0.01em;
  text-transform: capitalize;
  color: #53b2e8;
  float: right;
}
.lower-content h2.lower-blog-content {
  font-family: "Poppins";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  text-align: justify;
  letter-spacing: 0.001em;
  color: #494949;
  padding-top: 10px;
}
.lower-content h2.lower-blog-heading {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  text-align: justify;
  letter-spacing: 0.001em;
  color: #53b2e8;
}
.lower-content {
  padding-left: 20px;
  padding-right: 40px;
}
.lower-blog {
  display: flex;
  align-items: center;
  padding-top: 20px;
}
.lower-img .lower-blog img {
  width: 110px;
  height: 94px;
  object-fit: cover;
}
.lower-blog-sec {
  padding-top: 15px;
  padding-bottom: 15px;
}

.lower-img {
  width: 120px;
}

.blog_img {
  width: 110px;
  height: 94px;
  object-fit: cover;
}

.form-group .form-control::-webkit-input-placeholder {
  color: #858585;
}

.form-group .form-control::-moz-placeholder {
  color: #858585;
}

/* dropdown program/provider */

.dropdownprogram {
  position: absolute;
  top:-10px;
}
.dropdownprogram .card {
  background: #ffffff;
  box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
  border-radius: 20px;
  width: 400px;
  min-height: auto;
  max-height: 450px;
  /* height: 420px; */
  z-index: 1;
  top: 75px;
}

.dropdownprogram .card h6 span.search-programlist {
  float: right;
}
.dropdownprogram .card .program-list {
  padding: 10px;
}
.dropdownprogram .card h6 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  letter-spacing: 0.001em;
  color: #858585;
  padding-top: 10px;
  padding-bottom: 10px;
  cursor: pointer;
}
.dropdownprogram .card .provider-list {
  padding: 10px;
}
.dropdownprogram .card h5 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 0.001em;
  color: #858585;
  padding-top: 10px;
  padding-bottom: 10px;
  cursor: pointer;
}
button.banner_button.cursor img {
  width: 60%;
}

.banner_form {
  display: flex;
    background: #FFFFFF;
    border-radius: 44px;
    padding: 0;
    justify-content: space-between;
    width: 81%;
}

.banner_form .form-group {
  margin: 0;
}

.banner_form .form-group input {
  min-height: 100%;
  background-color: transparent;
  border: none;
  border-radius: 0;
  padding: 0 25px;
  position: relative;
  z-index:100;
}

.banner_form .form-group input.camp_input{
  min-width:250px;
  height: 55px;
  margin-top: 0px !important;
}

.banner_form .form-group input.date_input {
  background: #EFEFEF;
  border-radius: 30px;
  margin-left: 27px;
  max-width: 215px;
  min-width: auto;
}

.banner_form .form-group input::-webkit-input-placeholder,
.banner_form .form-group .form-control::-webkit-input-placeholder {
  color: #858585;
}

.banner_form .form-group input::-moz-placeholder,
.banner_form .form-group .form-control::-moz-placeholder {
  color: #858585;
}

.banner_form .form-group input::placeholder,
.banner_form .form-group .form-control::placeholder {
  color: #858585;
}
.banner_form .form-group.daterange input::placeholder,
.banner_form .form-group.daterange .form-control::placeholder {
  color: #494949 !important;
}

.banner_form .form-group .form-control.date_input::-webkit-calendar-picker-indicator {
  display: none;
  -webkit-appearance: none;
}

.banner_form .form-group input::placeholder {
  color: #D5DCE1;
}

.banner_form .form-group input::-webkit-input-placeholder {
  color: #D5DCE1;
}

.banner_form .form-group input:-moz-placeholder {
  color: #D5DCE1;
}

.banner_form .banner_button {
  background:#777CEA;
  border: 1px solid #777CEA;
  border-radius: 50%;
  width: 45px;
  height: 45px;
  position: absolute;
  right: 15px;
  top: 5px;
}

.search-results {
  max-height: calc(100vh - -736px);
  overflow: hidden;
  scrollbar-color: #ddd #ccc;
  scrollbar-width: thin;
  height: 100%;
  overflow-y: auto;
  padding-top:20px;
  padding-left: 40px;
  padding-right:20px;
}
.search-results::-webkit-scrollbar {
  width: 8px;
  height: 4px;
}

/* search location */
.search-location input {
  min-width:275px;
    background-color: transparent;

}
.search-location:before {
  content: "";
  width: 2px;
  height: 40px;
  background-color: #E0E0E0;
  position: absolute;
  left:43%;
  top: 7px;
}

/* locatrion-popup */
.logo-img{
  width: 35%;
  margin-bottom: 25px;
}
.sign_in_btn button.SignBtn {
  margin-left: 20px;
}
.SignBtn.cancel {
  background: transparent;
  border: 1px solid #53b2e8;
  color: #53b2e8;
  margin: 0 auto 0 16px;
}
.sign_in_btn{
  text-align: center;
  margin: 8px 0 0 0;
}
.SignBtn{
  background: #53b2e8;
  border: 1px solid #53b2e8;
  box-sizing: border-box;
  box-shadow: 0px 2px 2px rgb(0 0 0 / 12%);
  border-radius: 50px;
  min-width: 205px;
  min-height: 55px;
  line-height: 55px;
  text-align: center;
  color: #ffffff;
  font-weight: 600;
  font-size: 13px;
  margin: 0 auto;
  text-transform: uppercase;
  transition: 0.8s;
}
.location-popup span img {
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.location-popup {
  padding-top: 25px;
  padding-bottom: 25px;
}
.location-popup h1 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  text-align: center;
  color: #494949;
}
.location-popup h2 {
  font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 36px;
    text-align: center;
    color: #494949;
    padding-left: 40px;
    padding-right: 80px;
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
}
.location-popup h2 img{
  margin-top: 10px;
}
.header_main .left-searchpd {
    margin-right: auto;
}
/* .after-nav {
  margin-right: -84px;
} */
.Button-badge {
  position: absolute;
  bottom: 44%;
  right:-57%;
  background-color: #fa627d;
  font-size: 10px;
  font-weight: 500;
  color: #fff;
  border-radius: 100%;
  height: 20px;
  width: 20px;
  padding: 3px;
  text-align: center;
}
span.icon.rel {
    position: relative;
}
.left_search {
    position: relative;
}
.search-location {
  display: flex;
  width: 100%;
  align-items: center;
}
.left-searchpd {
  padding: 5px;
}
.got-newsletter {
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.newsletter-div {
  background: #DCF3FF;
  border-radius: 20px;
  padding: 60px;
  position: relative;
  padding-top: 75px;
  padding-bottom: 70px;
}
.beta-suggestionbox .image-corners img {
  width: 194px;
  position: absolute;
  right: 0px;
  bottom: 0px;
}
.beta-suggestionbox .imgage-corners img {
  width: 194px;
  position: absolute;
  left: 0px;
  top: 0px
  ;
}
.search-location input::placeholder{
  color:rgb(190, 187, 187);
}
button[disabled] {
  background-color: #fa627d  !important;
  border: 1px solid #fa627d  !important;
}
@media only screen and (min-width: 1024px) and (max-width: 1366px) and (orientation: portrait) {
  .container,
  .container-lg,
  .container-md,
  .container-sm {
    max-width: 960px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1024px) and (orientation: portrait) {
  /* img.header-image-search {
    margin-left: 0px;
  } */
  /* .after-nav {
    margin-right: 0px;
  } */
  .activity .media-left {
    max-width: 300px;
  }
}

::ng-deep.mat-autocomplete-panel.mat-autocomplete-visible.auto-landing { 
  visibility: visible !important;
  background: white !important;
  border-radius: 20px !important; 
  box-shadow: 0px 4px 4px rgb(0 0 0 / 25%) !important; 
  position: relative !important;
 }
 ::ng-deep div.cdk-overlay-pane {
  position: relative;
  width: 100%!important;
  max-width: 530px;margin-top: 10px;
}

.autocomp{
  width: 100% !important;
}
::ng-deep.mat-option-text{
 font-family: 'Poppins' !important;
 font-style: normal !important;
 font-weight: normal !important;
 font-size: 14px !important;
 letter-spacing: 0.001em !important;
 color: #858585 !important;
 cursor: pointer !important;
}

::ng-deep.mat-option-text span.search-programlist {
 float: right !important;
}

::ng-deep.mat-option.mat-active {
 background: #53B2E8 !important;
 color: #FFFFFF !important;
}


/* Hide scrollbar for Chrome, Safari and Opera */
::ng-deep.mat-autocomplete-panel.mat-autocomplete-visible::-webkit-scrollbar {
  display: none !important;
}

/* Hide scrollbar for IE, Edge and Firefox */
::ng-deep.mat-autocomplete-panel.mat-autocomplete-visible{
  -ms-overflow-style: none !important;  /* IE and Edge */
  scrollbar-width: none !important;  /* Firefox */
}