.main_container {
  background-image: url("/assets/Squiggle-blue 1.png");
  width: auto;
  height: 100%;
  min-height: 100vh;
  background-size: cover;
  background-color: #ade0fd;
  position: relative;
}
.img_container .cursor img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.img_container .cursor {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  min-height: 200px;
}
.box {
  position: relative;
  top: 5px;
  width: 60%;
  padding-top: 45px !important;
  border-radius: 20px;
  background: #ffffff;
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.25);
  margin: 0 auto;
  padding-left: 30px !important;
  padding-right: 30px !important;
}
.box p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: -0.01em;
  color: #494949;
}
.N_container_box_input_heading {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 10px;
  line-height: 15px;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  color: #494949;
  text-align: left;
  padding-top: 14px;
  padding-bottom: 4px;
}
.box textarea.my_inputs {
  width: 100%;
  background: #ffffff;
  border: 1px solid #e5e9ec;
  box-sizing: border-box;
  border-radius: 20px;
}
textarea.my_inputs {
  font-family: "Poppins";
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.001em;
  color: rgba(0, 0, 0, 0.3);
  padding: 17px;
}
.my_inputs::placeholder {
  color: rgba(0, 0, 0, 0.3);
}
.business_name {
  padding-top: 24px;
}
.about textarea {
  background: #ffffff;
  border: 1px solid #e5e9ec;
  box-sizing: border-box;
  border-radius: 20px;
  width: 100%;
  color: #494949;
}
.N_btns .col-6 {
  padding-top: 40px;
}
.N_btns .back_btn {
  border: 1px solid #53b2e8;
  box-sizing: border-box;
  border-radius: 50px;
  padding: 16px;
  width: 55%;
  margin: 0 auto;
}
.N_btns .back_btn a {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #53b2e8;
}
.N_btns .next_btn {
  background: #53b2e8;
  border: 1px solid #53b2e8;
  box-sizing: border-box;
  box-shadow: 0px 2px 2px rgb(0 0 0 / 12%);
  border-radius: 50px;
  padding: 16px;
  width: 55%;
  margin: 0 auto;
}
.form-group
  .input_outer
  .autocomplete-container
  .input-container
  input::placeholder {
  color: rgba(0, 0, 0, 0.3);
}
textarea.my_inputs.ng-untouched.ng-pristine.ng-invalid::placeholder {
  color: rgba(0, 0, 0, 0.3);
}

.N_btns .next_btn a {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #ffffff;
}
.N_inputs_container {
  width: 65%;
  margin: 0 auto;
}
.N_btns {
  padding-bottom: 55px;
}
h2.my_heading1 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: normal;
  font-size: 26px;
  line-height: 39px;
  text-align: center;
  color: #494949;
}
.small_boxes .my_box {
  box-sizing: border-box;
  border-radius: 20px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.small_boxes .col-3 {
  padding: 6px 4px;
  text-align: center;
  /* display: flex;
    align-items: center;
    justify-content: center; */
}
.small_boxes .row {
  display: flex;
  align-items: flex-start;
  padding: 15px;
  padding-left: 50px;
  padding-right: 50px;
  text-align: center;
  padding-bottom: 0px;
}
.small_boxes {
  margin-top: 30px;
}
.img_container img.map_img {
  padding: 48px 22px 0px 22px;
  width: 30%;
}
.img_container img.map_img1 {
  padding: 48px 22px 0px 22px;
  width: 30%;
}
.img_container img.dynamic_img {
  width: 180px !important;
  height: 178px !important;
  border-radius: 50% !important;
  margin-top: 25px;
}

.img_container .map {
  padding: 36px 60px 0px 60px;
  width: 100%;
  border-radius: 30px !important;
}
/* .dynamic-img{
        border-radius: 50% !important;
        width: 226.8px;
        height: 230.8px;
    } */
agm-map {
  border-radius: 10px;
  height: 288px;
}
.inputs_with_icons {
  display: flex;
  width: 100%;
}
span.N_icons {
  width: 15%;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  padding: 20px;
}
span.N_icons img {
  width: 100%;
}
span.input_af {
  width: 80%;
  display: flex;
  padding: 10px 0px;
}
.cat_img {
  width: 200px;
  height: 200px;
  cursor: pointer;
}
.health_img {
  margin-top: 30px;
}
textarea {
  overflow: auto;
  resize: vertical;
  font-family: "Poppins";
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.001em;
  color: rgba(0, 0, 0, 0.3);
  padding: 17px;
}
.category_list:hover,
.category_list .active {
  color: #53b2e8;
  border-color: #53b2e8;
}
.category_list .box-border .active {
  color: #53b2e8;
  border-color: #53b2e8;
}
.business_name.datef {
  padding-top: 0px;
}
/* .progress-bar {
      height: 20px;
      position: fixed;
      z-index: 11;
  } */
.cant_blank {
  color: red;
  text-align: initial;
}
.input_empty {
  border: 1px solid red;
}

::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.3);
}

:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.3);
}

::placeholder {
  color: rgba(0, 0, 0, 0.3);
}
.box-border {
  border: 1px solid #c4c4c4;
  height: 113px;
  width: 131px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 20px;
}
::ng-deep.agm-map-container-inner {
  width: inherit;
  height: inherit;
  border-radius: 30px;
}
::ng-deep .mat-progress-bar-fill::after {
  background-color: #53b2e8;
}
::ng-deep .mat-progress-bar-buffer {
  background: #ffffff;
}
::ng-deep .autocomplete-container .suggestions-container ul li a {
  text-align: left;
}
.category_list span {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.001em;
  color: #858585;
  cursor: pointer;
}
.category_list span:hover {
  color: #53b2e8;
}
::ng-deep .input-container input::placeholder {
  color: #e5e9ec !important;
}

.menu-box {
  padding-bottom: 150px;
  padding-top: 150px;
}
span.wnderfly-btn {
  font-family: "Poppins";
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.001em;
  color: #494949;
  position: absolute;
  bottom: 40px;
  left: 100px;
}

#whywonderflydrop h1 span {
  margin-right: 10px;
}
.business_name.why-wonderflyinput {
  position: relative;
  z-index: 2;
}
#whywonderflydrop {
  position: absolute;
  z-index: 1;
  width: 60%;
  background-color: #ffffff;
  box-shadow: 4px 10px 24px rgb(0 0 0 / 5%);
  border-radius: 40px;
  top: 124px;
  padding: 30px;
}
#whywonderflydrop h1 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 21px;
  letter-spacing: 0.001em;
  color: #494949;
  display: flex;
  justify-content: flex-start;
  margin-top: 20px;
  cursor: pointer;
}
#whywonderflydrop h1:hover {
  color: #53b2e8 !important;
  filter: invert(61%) sepia(66%) saturate(593%) hue-rotate(172deg)
    brightness(99%) contrast(84%);
}
#whywonderflydrop h1 span img {
  filter: invert(27%) sepia(0%) saturate(1109%) hue-rotate(135deg)
    brightness(100%) contrast(92%);
}

@media only screen and (min-width: 1024px) and (max-width: 1366px) and (orientation: portrait) {
  .menu-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
  }
  .small_boxes .my_box {
    border-radius: 20px;
    width: 80px;
    height: 80px;
  }
  .category_list span {
    font-size: 13px;
  }
  .box-border {
    height: 100px;
    width: 110px;
  }
  .box {
    width: 70%;
  }
}

.disable_next {
  background-color: #b5e4f9 !important;
  pointer-events: none;
}

/* --------------------------------------------mat-chip-----------------------------------------             */
.demo-chip-list.mat-form-field-appearance-legacy .mat-form-field-underline {
  height: 0;
}
.demo-chip-list {
  display: inline;
}

.mat-form-field-appearance-legacy .mat-form-field-wrapper {
  padding: 0 !important;
}

.N_inputs_container.form-group .input_outer .demo-chip-list {
  position: relative;
}

.N_inputs_container.form-group
  .input_outer
  .demo-chip-list
  .mat-form-field-wrapper {
  padding-bottom: 0 !important;
}

.N_inputs_container.form-group .input_outer .demo-chip-list::after {
  content: "";
  background-color: #fff;
  position: absolute;
  bottom: 18px;
  height: 4px;
  width: 100%;
}
.N_inputs_container .form-group .mat-chip.mat-standard-chip {
  background: #53b2e8;
  border-radius: 40px;
  color: #ffffff;
}

.N_inputs_container .form-group .mat-chip.mat-standard-chip .mat-chip-remove {
  color: #efefef;
  opacity: 1;
}

.N_inputs_container.form-group
  .input_outer
  .mat-standard-chip
  .mat-chip-remove.mat-icon {
  font-size: 0;
  opacity: 1;
  width: 0;
  height: auto;
  right: 27px;
}

.N_inputs_container.form-group
  .input_outer
  .mat-standard-chip
  .mat-chip-remove.mat-icon:before {
  content: "\e900";
  font-family: "Poppins";
  font-size: 15px;
  color: #ffffff;
}

.welcomeImg img {
  margin-top: 30px;
}
