.dashboard_outer {
    padding: 66px 0 30px 0;
}

canvas {
    height: 250px !important;
}

.dashboard_outer h2.title {
    font-family: 'Poppins';
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    color: #494949;
}

.dashboard_top {
    display: inline-block;
    width: 100%;
    margin-top: 34px;
}

.dashboard_top .dashboard_box {
    background: #FFFFFF;
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    padding: 24px 27px 18px;
    display: inline-block;
    position: relative;
    min-width: 292px;
    margin: 0 12px 0 0;
}

.dashboard_top .dashboard_box:last-child {
    margin: 0;
}

.dashboard_top .dashboard_box p {
    font-weight: 600;
    font-size: 10px;
    line-height: 14px;
    letter-spacing: 0.01em;
    text-transform: uppercase;
    color: #494949;
    margin-top: 17px;
}

.dashboard_top .dashboard_box h3 {
    font-family: 'Poppins';
    font-size: 22px;
    line-height: 18px;
    letter-spacing: 0.005em;
    color: #777CEA;
    margin-top: 5px;
}

.dashboard_top .dashboard_box .active_point {
    position: absolute;
    top: 24px;
    right: 37px;
}

.dashboard_box .active_point h4 {
    font-family: 'Poppins';
    font-size: 36px;
    line-height: 18px;
    letter-spacing: 0.005em;
    color: #777CEA;
}

.graph_outer {
    margin-top: 20px;
}

.graph .top_title label {
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 10px;
    line-height: 14px;
    letter-spacing: 0.01em;
    text-transform: uppercase;
    color: #494949;
}

.graph .top_title h3 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: normal;
    font-size: 19px;
    line-height: 21px;
    color: #494949;
    margin-top: 4px;
}

.graph.number_graph img {
    margin-top: 26px;
}


/* start trending_discussions css */

.trending_discussions h2.title {
    float: left;
    color: #494949;
}

.trending_discussions a.view {
    float: right;
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 10px;
    line-height: 14px;
    text-transform: uppercase;
    color: #494949;
    cursor: pointer;
}

.trending_outer {
    margin-top: 26px;
    display: inline-block;
    width: 100%;
}

.trending_outer .trending_box {
    margin: 0 0 36px 0;
    position: relative;
}

.trending_outer .trending_box .date {
    position: absolute;
    top: 0;
    right: 0;
}

.trending_outer .trending_box:last-child {
    margin: 0;
}

.trending_outer .trending_box h3 {
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 13px;
    line-height: 18px;
    color: #53B2E8;
}

.trending_outer .trending_box p {
    font-size: 13px;
    line-height: 16px;
    font-family: 'Poppins';
    text-align: justify;
    letter-spacing: 0.001em;
    color: #494949;
    margin: 8px 0 0 0;
}

.graph img {
    margin-top: 27px;
    max-width: 100%;
}

.graph_color {
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    padding: 20px;
}

.trending_discussions.graph_outer {
    margin-top: 50px;
}

@media(max-width:991px) {
    .dashboard_outer {
        padding: 36px 0 30px 0;
    }
}

@media(max-width:767px) {
    .dashboard_outer {
        padding: 26px 0 0 0;
    }
    .graph_outer .graph {
        margin: 0 0 20px 0;
    }
    .trending_discussions .trending {
        margin: 0 0 20px 0;
    }
    .graph_outer {
        margin-top: 0;
    }
}

.graph.graph_color canvas {
    width: 100% !important;
    height: 100% !important;
    margin-top: 9px;
}

.graph.activity_graph.graph_color canvas {
    height: 222px !important;
}

@media(max-width:575px) {
    .dashboard_top .dashboard_box {
        margin: 0 12px 11px 0;
        width: 100%;
    }
}