<div class="bg-img">
    <div class="container i-padcontainer">
        <div class="row">

            <div class="col-md-4 progress-1">
                <div class="progress-box ">
                    <!-- <h3 class="progress-heading">Profile Progress</h3>
                    <div class="progress horizontal">
                        <div class="progress-bar bar-cl" role="progressbar" [ngStyle]="{'width': progressBarVaue + '%'}" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                    </div> -->
                    <div class="vertical-box">
                        <h3 class="progress-subheading">Get Started!</h3>
                        <div class="pgbar-move">
                            <div class="progress vertical">
                                <div class="progress-bar bar-cl2" role="progressbar"
                                    [ngStyle]="{'width': progressBarVaue + '%'}" aria-valuenow="70" aria-valuemin="0"
                                    aria-valuemax="100"></div>
                            </div>
                        </div>
                    </div>

                    <div class="cicle-dots">
                        <div class="dots-info dots-info1">
                            <span class="dot" [ngClass]="{active: this.progressBarVaue>=10}">1</span>
                            <h3 class="prog_text" [ngClass]="{active: this.progressBarVaue>=10}">Business Information
                            </h3>

                        </div>
                        <div class="dots-info dots-info2">
                            <span class="dot" [ngClass]="{active: this.progressBarVaue>=21}">2</span>
                            <h3 class="prog_text" [ngClass]="{active: this.progressBarVaue>=21}">Categories</h3>

                        </div>
                        <div class="dots-info dots-info3">
                            <span class="dot" [ngClass]="{active: this.progressBarVaue>=32}">3</span>
                            <h3 class="prog_text" [ngClass]="{active: this.progressBarVaue>=32}">Location</h3>

                        </div>
                        <div class="dots-info dots-info4">

                            <span class="dot" [ngClass]="{active: this.progressBarVaue>=44}">4</span>
                            <h3 class="prog_text" [ngClass]="{active: this.progressBarVaue>=44}">Profile Photo</h3>
                        </div>
                        <div class="dots-info dots-info5">
                            <span class="dot" [ngClass]="{active: this.progressBarVaue>=55}">5</span>
                            <h3 class="prog_text" [ngClass]="{active: this.progressBarVaue>=55}">Business Logo</h3>
                                                           </div> 
                        <div class="dots-info dots-info6">
                            <span class="dot" [ngClass]="{active: this.progressBarVaue>=68}">6</span>
                            <h3 class="prog_text" [ngClass]="{active: this.progressBarVaue>=68}">Health & Safety Measures</h3>
                        </div>
                        <div class="dots-info dots-info7">
                            <span class="dot" [ngClass]="{active: this.progressBarVaue>=80}">7</span>
                            <h3 class="prog_text" [ngClass]="{active: this.progressBarVaue>=80}">Social Media Channels</h3>
                        </div>
                    </div>


                </div>

            </div>



            <div class="col-md-8 progress-2" *ngIf='step1'>
                <div class=" box text-center p-3 bg-white">

                    <p>
                    <h2 class="my_heading1">Tell us about your business</h2>
                    <!-- <p><del>Your information will help us to customized activities according to thier age group</del></p> -->

                    <div class="N_inputs_container">
                        <form [formGroup]="providerForm">
                            <div class="business_name">
                                <div class="N_container_box_input_heading">
                                    Business Name
                                </div>
                                <input type="text" placeholder="Type" class="my_inputs"
                                    [formControl]="providerForm.controls['firstName']" [(ngModel)]="provider.firstName"
                                    required>
                                <p class="cant_blank"
                                    *ngIf="providerForm.controls['firstName'].hasError('required') && providerForm.controls['firstName'].touched">
                                    CAN'T LEAVE IT BLANK</p>
                            </div>
                            <div class="about">
                                <div class="N_container_box_input_heading">
                                    Business Description
                                </div>
                                <textarea type="text" maxlength="3000" rows="4" class="my_inputs"
                                    [formControl]="providerForm.controls['about']" [(ngModel)]="provider.about"
                                    placeholder="Type" required></textarea>
                                <p class="cant_blank"
                                    *ngIf="providerForm.controls['about'].hasError('required') && providerForm.controls['about'].touched">
                                    CAN'T LEAVE IT BLANK</p>

                            </div>
                            <div class="phone">
                                <div class="N_container_box_input_heading">
                                    Business Phone
                                </div>
                                <input  matInput  placeholder="Type" class="my_inputs"
                                    [formControl]="providerForm.controls['phoneNumber']"
                                    [(ngModel)]="provider.phoneNumber" mask="(000) 000-0000"  minlength="10" required>
                                <p class="cant_blank"
                                    *ngIf="providerForm.controls['phoneNumber'].hasError('required') && providerForm.controls['phoneNumber'].touched">
                                    CAN'T LEAVE IT BLANK</p>
                                <p class="phone-secondary cursor" (click)="isSecondaryNumber=true">+ Add Secondary Phone Number</p>
                                <input  *ngIf="isSecondaryNumber" matInput  placeholder="Type" class="my_inputs"
                                [formControl]="providerForm.controls['secondaryPhonenumber']"
                                [(ngModel)]="provider.secondaryPhonenumber" mask="(000) 000-0000"  minlength="10" required>
                            </div>
                        </form>
                    </div>

                    <div class="N_btns step1-btn">
                        <div class="row">
                            <div class="col-6">
                                <div onclick="history.back()" class="back_btn cursor">
                                    <a>
                                        back
                                    </a>
                                </div>
                            </div>
                            <div class="col-6">
                                <div [ngClass]="{'disable_next':!provider.firstName || !provider.about|| !provider.phoneNumber}"
                                    (click)="nextStep()" class="next_btn cursor">
                                    <a>
                                        Next
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>



            <div class="col-md-8 progress-2" *ngIf='step2'>
                <div class=" box text-center p-3 bg-white">

                    <p>
                    <h2 class="my_heading1">Which activity categories do you provide?</h2>

                    <form [formGroup]="providerForm1">
                        <div class="N_inputs_container">
                            <div class="form-group">
                                <div class="input_outer">
                                    <div class="ng-autocomplete">
                                        <ng-autocomplete [data]="searchesCatg" placeholder="Other activities"
                                            [searchKeyword]="keyword" (selected)="selectSkills($event)"
                                            (inputChanged)="onChangeSearch($event)" [itemTemplate]="itemTemplate"
                                            [notFoundTemplate]="notFoundTemplate">
                                        </ng-autocomplete>

                                        <ng-template #itemTemplate let-item>
                                            <a [innerHTML]="item.name"></a>
                                        </ng-template>

                                        <ng-template #notFoundTemplate let-notFound>
                                            <div *ngIf="searchesCatg.length" [innerHTML]="notFound"></div>
                                        </ng-template>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="small_boxes">
                            <div class="row">
                                <div class="col-3" *ngFor="let category of categories | slice:0:8">
                                    <div (click)="selectSkills(category)" class="category_list cat-1234">
                                        <img [ngClass]="{'active':category.active}" class="cat_img my_box"
                                            src="{{category.imageUrl}}" alt="">
                                        <br>
                                        
                                        <span class="pt-2" [ngClass]="{'active':category.active}"> {{category.name}}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                    <div class="N_btns step4-btn">
                        <div class="row">
                            <div class="col-6">
                                <div (click)="backStep()" class="back_btn cursor">
                                    <a>
                                        back
                                    </a>
                                </div>
                            </div>
                            <div class="col-6">
                                <div (click)="nextStep()" *ngIf='interests?.length<=0' class="next_btn cursor">
                                    <a>
                                        Skip
                                    </a>
                                </div>
                                <div (click)="nextStep()" *ngIf='interests?.length>0' class="next_btn cursor">
                                    <a>
                                        Next
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>






            <div class="col-md-8 progress-2" [hidden]="!step3">
                <div class=" box text-center p-3 bg-white">
                    <p>
                        <h2 class="my_heading1">Where are you located?</h2>

                    <form [formGroup]="locationForm">
                        <div class="N_inputs_container">
                            <div class="business_name">

                                <input class="my_inputs" placeholder="Your address" value="" formControlName="location"
                                    (keydown.enter)="$event.preventDefault()" autocorrect="off" autocapitalize="off"
                                    spellcheck="off" #search>
                                <p class="cant_blank"
                                    *ngIf="locationForm.controls['location'].hasError('required') && locationForm.controls['location'].touched">
                                    CAN'T LEAVE IT BLANK</p>
                            </div>


                        </div>
                        <div class="img_container">
                            <div class="map">
                                <agm-map [latitude]="latitude" [longitude]="longitude" [zoom]="zoom"
                                    [styles]="mapTheme?.styles" [zoomControl]="false" [streetViewControl]="false">
                                    <div>
                                        <agm-marker [iconUrl]="markerUrl" [latitude]="latitude" [longitude]="longitude">
                                            <strong>{{provider.firstName}}</strong>
                                        </agm-marker>
                                    </div>
                                </agm-map>
                            </div>
                            <!-- <img class="map_img" src="assets/stepper_graph.png"> -->
                        </div>
                    </form>
                    <div class="N_btns step1-btn">
                        <div class="row">
                            <div class="col-6">
                                <div (click)="backStep()" class="back_btn cursor">
                                    <a>
                                        back
                                    </a>
                                </div>
                            </div>
                            <div class="col-6">
                                <div [ngClass]="{'disable_next':!locationForm.value.location || !locationForm.value.addressLine1}"
                                    (click)="nextStep()" class="next_btn cursor">
                                    <a>
                                        Next
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>



            <div class="col-md-8 progress-2" *ngIf='step4'>
                <div class=" box text-center p-3 bg-white">

                    <p>
                        <h2 class="my_heading1">Add your Personal info</h2>
                    <!-- <p><del>Your information will help us to customized activities according to their age group</del></p> -->


                    <div>
                        <div class="img_container">
                            <label class="cursor">
                                <img *ngIf="providerImgURL" class="dynamic_img" src="{{providerImgURL}}"
                                    alt="Default Image">
                                <img *ngIf="!providerImgURL" class="dynamic_img" src="assets/profile_img.jpg"
                                    alt="Default Image">
                                <!-- <img style="min-width: 230.8px;min-height: 226.8px;" class="map_img1 " src="assets/img_upload.png"> -->
                                <a>
                                    <input style="display: none;" #file
                                        accept="image/png,image/jpg,image/jpeg,image/svg"
                                        (change)="providerImageSelect($event)" type="file" name="image" />
                                </a>
                            </label>

                        </div>
                        <!-- <app-image-crop></app-image-crop> -->

                    </div>

                    <div class="about your-bio">
                                    <div class="N_container_box_input_heading">
                                      Your bio
                              </div>
                                  <textarea type="text" maxlength="3000" rows="4" class="my_inputs" placeholder="Type"></textarea>
                              
                
                              </div>
                         

                    <div class="N_btns step2-btn">
                        <div class="row">
                            <div class="col-6">
                                <div (click)="nextStep()" class="back_btn cursor">
                                    <a>
                                        SKIP
                                    </a>
                                </div>
                            </div>
                            <div class="col-6">
                              
                                <div (click)="upload()"  class="next_btn cursor">
                                    <a>
                                        UPLOAD
                                    </a>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>




            <div class="col-md-8 progress-2" *ngIf='step5'>
                <div class=" box text-center p-3 bg-white">

                    <p>
                        <h2 class="my_heading1">Add your business logo</h2>
                           <!-- <p><del>Your information will help us to customized activities according to their age group</del></p> -->


                    <div>
                        <div class="img_container">
                            <label class="cursor">
                                <!-- <img *ngIf="providerLogoUrl" class="dynamic_img" src="{{providerLogoUrl}}" alt="Default Image"> -->
                                <img class="dynamic_img" src="assets/kids-land.png" alt="Default Image">
                                <!-- <img style="min-width: 230.8px;min-height: 226.8px;" class="map_img1 " src="assets/img_upload.png"> -->
                                <a>
                                    <input style="display: none;" #file
                                        accept="image/png,image/jpg,image/jpeg,image/svg"
                                        (change)="providerLogoSelect($event)" type="file" name="image" />
                                </a>
                            </label>

                        </div>

                    </div>


                    <div class="N_btns step-btn">
                        <div class="row">
                            <div class="col-6">
                                <div (click)="nextStep()" class="back_btn cursor">
                                    <a>
                                        SKIP
                                    </a>
                                </div>
                            </div>
                            <div class="col-6">
                               
                                <div (click)="uploadLogo()"  class="next_btn cursor">
                                    <a>
                                        UPLOAD
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>



            <div class="col-md-8 progress-2" *ngIf='step6'>
                <div class=" box text-center p-3 bg-white">
                    <p>
                        <h2 class="my_heading1">Health and safety measures</h2>
                           <p class="pl-3 pr-3 pt-2">This information will be displayed on your business profile to let parents know about the precautions in place at your location and in your programs.</p>


                    <div class="small_boxes">
                        <div class="row">
                            <div class="col-3" *ngFor="let health of health_safety; let i =index">
                                <div class="category_list cat-2345" (click)="upDateHealthMeasure(health.type,i)">
                                    <div class="cat_img my_box" [ngClass]="{'active':health.status}"> <img
                                            class="health_img" [ngClass]="{'health_icon_disable':health.status}"
                                            src="{{health.img}}"></div>
                                            <p class="boxes-textdown" [ngClass]="{'active':health.status}">{{health.name}}</p>
                                                       
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="N_btns step3-btn">
                        <div class="row">
                            <div class="col-6">
                                <div (click)="backStep()" class="back_btn cursor">
                                    <a>
                                        back
                                    </a>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="next_btn cursor" *ngIf='provider.healthAndSafety.length>0'
                                    (click)="nextStep()">
                                    <a>
                                        Next
                                    </a>
                                </div>
                                <div class="next_btn cursor" *ngIf='provider.healthAndSafety.length<=0'
                                    (click)="nextStep()">
                                    <a>
                                        Skip
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-md-8 progress-2" *ngIf='step7'>
                <div class=" box text-center p-3 bg-white">
                    <p>
                        <h2 class="my_heading1">Share your website and social media channels</h2>

                    <div class="N_inputs_container">
                        <div class="inputs_with_icons">
                            <span class="N_icons">
                                <img src="assets/Onboarding_icons/web.png">
                            </span>
                            <span class="input_af">
                                <input type="text" class="my_inputs" placeholder="Website"
                                    [formControl]="socialLinksForm.controls['website']" [(ngModel)]="provider.website">
                                    <img class="social-iconplus" src="assets/socialplus-icon.png">
                            </span>
                        </div>

                        <div class="inputs_with_icons">
                            <span class="N_icons">
                                <img src="assets/Onboarding_icons/fb.png">
                            </span>
                            <span class="input_af">
                                <input type="text" class="my_inputs" placeholder="Facebook"
                                    [formControl]="socialLinksForm.controls['facebook']"
                                    [(ngModel)]="provider.facebook">
                            </span>
                        </div>

                        <div class="inputs_with_icons">
                            <span class="N_icons">
                                <img src="assets/Onboarding_icons/insta.png">
                            </span>
                            <span class="input_af">
                                <input type="text" class="my_inputs" placeholder="Instagram"
                                    [formControl]="socialLinksForm.controls['instagram']"
                                    [(ngModel)]="provider.instagram">
                            </span>
                        </div>

                        <div class="inputs_with_icons">
                            <span class="N_icons">
                                <img src="assets/Onboarding_icons/linked_in.png">
                            </span>
                            <span class="input_af">
                                <input type="text" class="my_inputs" placeholder="Linkedin"
                                    [formControl]="socialLinksForm.controls['linkedin']"
                                    [(ngModel)]="provider.linkedin">
                            </span>
                        </div>

                        <div class="inputs_with_icons">
                            <span class="N_icons">
                                <img src="assets/Onboarding_icons/tweet.png">
                            </span>
                            <span class="input_af">
                                <input type="text" class="my_inputs" placeholder="Twitter"
                                    [formControl]="socialLinksForm.controls['twitter']" [(ngModel)]="provider.twitter">
                            </span>
                        </div>
                    </div>

                    <div class="N_btns step2-btn">
                        <div class="row">
                            <div class="col-6">
                                <div class="back_btn cursor" (click)="backStep()">
                                    <a>
                                        Back
                                    </a>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="next_btn cursor" *ngIf='provider.facebook || provider.linkedin
             || provider.instagram || provider.website|| provider.twitter' (click)="nextStep()">
                                    <a>
                                        Next
                                    </a>
                                </div>
                                <div class="next_btn cursor" *ngIf='!provider.facebook && !provider.linkedin
            && !provider.instagram && !provider.website && !provider.twitter' (click)="nextStep()">
                                    <a>
                                        Skip
                                    </a>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-md-8 progress-2" *ngIf='step8'>
                <div class=" box text-center p-3 bg-white">
                    <p>
                    <h2 class="my_heading1">Welcome to Wondrfly</h2>
                    <div class="N_inputs_container">
                        <form>
                            <div class="business_name why-wonderflyinput">
                                <input type="text" placeholder="Where did you hear from us?" class="my_inputs" data-toggle="collapse"
                                href="#whywonderflydrop" role="button" aria-expanded="false" aria-controls="whywonderflydrop">
                            </div>
                            <div class="whywonderfly-dropdown collapse"  id="whywonderflydrop">
                                <a><h1><span >
                                    <img src="assets/search.svg">
                                    </span>
                                Search Engine
                                </h1></a>
                                <a><h1><span >
                                  <img src="assets/social-media.svg">
                                  </span>
                                  Social Media
                                      </h1></a>
                                      <a><h1><span >
                                        <img src="assets/from-friend.svg">
                                        </span>
                                        From a Friend
                                    </h1></a>
                                    <a><h1><span >
                                      <img src="assets/fb-ad.svg">
                                      </span>
                                      Facebook Ad
                                  </h1></a>
                                  <a><h1><span >
                                    <img src="assets/google-ad.svg">
                                    </span>
                                    Google Ad
                                </h1></a>
                              </div>
                        </form>
                    </div>
                    <div class="welcomeImg">
                        <img src="assets/welcomeScreen.png" class="welcomeImg" alt="">
                    </div>
                    <div class="N_btns step8-btn">
                        <div class="row">
                            <div class="col-6">
                                <div (click)="backStep()" class="back_btn cursor">
                                    <a>
                                        back
                                    </a>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="next_btn cursor" (click)=" updateProvider()">
                                    <a>
                                        Finish
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>
<ngx-ui-loader></ngx-ui-loader>