<app-header2></app-header2>

<div class="common-headermargin">

  <section class="beta-upperpart">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1>Join Wondrfly Beta!</h1>
          <p>Get access to our exclusive, invite only <br>Beta Community for the full Wondrfly experience.</p>
        </div>
      </div>
    </div>
  </section>
  <section class="webelieve-wonderfly">
    <div class="container">
      <div class="row">
        <div class="col-6 terms_box">
          <h1>We’re in Beta. What does that mean?</h1>
          <p>
            It means that full access to Wondrfly is restricted to members of our beta community only. But never fear! You too can join the Wondrfly Beta community.
            <br />
            <br />
            All you have to do is share our passion for seeing kids learn and grow through educational, engaging activities catered to their individual needs.
          </p>
          <button class="Submit_btn webelieve-wonderfly" type="button">SIGN UP NOW</button>
        </div>
        <div class="col-3 image-sec-1">
          <img
            class="mt-5 image-sec-1-1"
            src="assets/about-beta1.png">
          <img
            class="mt-4 image-sec-1-2"
            src="assets/about-beta2.png">
        </div>
        <div class="col-3 image-sec-2">
          <img
            class="image-sec-2-1"
            src="assets/about-beta3.png">
          <img
            class="mt-4 image-sec-2-2"
            src="assets/about-beta4.png">
        </div>
      </div>
    </div>
  </section>

  <section class="family-wonderfly">
    <div class="container">
      <div class="row">
        <div class="col-6 family-text">
          <h1>
            Beta Users Receive Huge Benefits!
          </h1>
          <ul>
            <li>Unlimited and unrestricted access to over thousands of kids’ activity programs in Jersey City.</li>
            <li>Early access to all Wondrfly’s features and the ability to provide feedback and comments</li>
            <li>Exclusive parenting content and resources</li>
            <li>Program recommendations, personalized for your child</li>
            <li>2 referrals to invite friends and family to join the beta program</li>
          </ul>

        </div>
        <div class="col-6">
          <div class="image-section">
            <img
            src="assets/about-beta5.png">
          </div>
        </div>
      </div>
    </div>
  </section>

<section class="beta-questions">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
              <div class="search-result">
                <h1>Have a question?</h1>
                <div class="tab1-data">
                  <h6
                    class="cursor"
                    data-toggle="collapse" href="#bet1">
                    Enim amet cursus quis malesuada odio malesuada.
                    <span class="plus-src cursor">
                      <img _ngcontent-rxp-c9="" src="assets/plus.png" />
                    </span>
                  </h6>
                  <div class="collapse beta-show" id="bet1">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit, debitis aut sequi eos laboriosam quo assumenda porro labore earum doloremque nesciunt pariatur, ducimus esse. Adipisci dolorum pariatur totam itaque dolor.
                  </div>
                  <h6
                  class="cursor"
                  data-toggle="collapse" href="#bet2">
                  Enim amet cursus quis malesuada odio malesuada.
                  <span class="plus-src cursor">
                    <img _ngcontent-rxp-c9="" src="assets/plus.png" />
                  </span>
                </h6>
                <div class="collapse beta-show" id="bet2">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit, debitis aut sequi eos laboriosam quo assumenda porro labore earum doloremque nesciunt pariatur, ducimus esse. Adipisci dolorum pariatur totam itaque dolor.
                </div>
                <h6
                    class="cursor"
                    data-toggle="collapse" href="#bet3">
                    Enim amet cursus quis malesuada odio malesuada.
                    <span class="plus-src cursor">
                      <img _ngcontent-rxp-c9="" src="assets/plus.png" />
                    </span>
                  </h6>
                  <div class="collapse beta-show" id="bet3">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit, debitis aut sequi eos laboriosam quo assumenda porro labore earum doloremque nesciunt pariatur, ducimus esse. Adipisci dolorum pariatur totam itaque dolor.
                  </div>
                  <h6
                    class="cursor"
                    data-toggle="collapse" href="#bet4">
                    Enim amet cursus quis malesuada odio malesuada.
                    <span class="plus-src cursor">
                      <img _ngcontent-rxp-c9="" src="assets/plus.png" />
                    </span>
                  </h6>
                  <div class="collapse beta-show" id="bet4">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit, debitis aut sequi eos laboriosam quo assumenda porro labore earum doloremque nesciunt pariatur, ducimus esse. Adipisci dolorum pariatur totam itaque dolor.
                  </div>
                </div>
              </div>
            </div>
        </div>
    </div>
</section>

<section class="wondrfly-beta">
  <div class="container">
    <div class="row">
      <div class="col-12 subscribe">
        <h1>Spots are limited. <br>
          Join the Wondrfly Beta community today!</h1>
        <div class="search_bar">
          <button class="Submit_btn" type="button" [routerLink]="['/ask-to-join']">SIGN UP NOW</button>
        </div>
      </div>
    </div>
  </div>
</section>


</div>

<app-footer></app-footer>
