<body class="terms_body">
  <app-header2 *ngIf="!isLogin"></app-header2>
  <app-header *ngIf="isLogin"></app-header>

  <div class="common-headermargin">
    <div class="imgage-corners">
      <img src="assets/whywonderfly-leftcircle.png" />
    </div>
    <section class="webelieve-wonderfly">
      <div class="container">
        <div class="row">
          <div class="col-3 image-sec-1">
            <img
              class="mt-5 image-sec-1-1"
       
              src="{{ blogUrl }}{{ data[0]?.images[1]?.formats?.thumbnail?.url }}"
              alt="{{ data[0]?.images[1]?.alternativeText }}"
            />
            <img
              class="mt-4 image-sec-1-2"
              src="{{ blogUrl }}{{ data[0]?.images[0]?.formats?.thumbnail?.url }}"
              alt="{{ data[0]?.images[0]?.alternativeText }}"
            />
          </div>
          <div class="col-3 image-sec-2">
            <img
              class="image-sec-2-1"
              src="{{ blogUrl }}{{ data[0]?.images[2]?.formats?.thumbnail?.url }}"
              alt="{{ data[0]?.images[2]?.alternativeText }}"
            />
            <img
              class="mt-4 image-sec-2-2"
              src="{{ blogUrl }}{{ data[0]?.images[3]?.formats?.thumbnail?.url }}"
              alt="{{ data[0]?.images[3]?.alternativeText }}"
            />
          </div>
          <div class="col-6 terms_box">
            <h1>{{ data[0].title }}</h1>
            <ul>
              <li>{{ data[0].content1 }}</li>
              <li>{{ data[0].content2 }}</li>
              <li>{{ data[0].content3 }}</li>
              <li>{{ data[0].content4 }}</li>
            </ul>
          </div>
        </div>
      </div>
    </section>

    <section class="family-wonderfly">
      <div class="container">
        <div class="row">
          <div class="col-6 family-text">
            <h1>
              {{ data[1].title }}
            </h1>
            <p>
              {{ data[1].content1 }}
              <br />
              <br />
              <span> {{ data[1].content2 }}</span>
              <br />
              <br />
              {{ data[1].content3 }}
            </p>
          </div>
          <div class="col-6">
            <div class="image-corners">
              <img src="assets/whywonderfly-rightcircle.png" />
            </div>
            <div class="image-section">
              <img
                src="{{ blogUrl }}{{ data[1]?.images[0]?.formats?.small?.url }}"
                alt="{{ data[1]?.images[0]?.alternativeText }}"
              />
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="wave-sect">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="text-header">
              <div class="bar"></div>
              <h1>want to give it a try?</h1>
              <h2>it's as easy as...</h2>
            </div>
            <div class="wave-bar">
              <img src="assets/wave-line.svg" />

              <div class="first-circle">
                <div class="circle-dots position-1">
                  <h1>1</h1>
                </div>

                <h3 class="clickable cursor"  *ngIf="!isLogin" [routerLink]="['/ask-to-join']">Join The Beta</h3>
                <h3  *ngIf="isLogin" >Join The Beta</h3>
                <h2>Join the exclusive <a class="cursor" target="_blank" [routerLink]="['/about-beta']"><u>Wondrfly
                  Beta community</u></a> today!</h2>
              </div>

              <div class="second-circle">
                <div class="circle-dots position-2">
                  <h1>2</h1>
                </div>

                <h3 class="clickable cursor" *ngIf="isLogin" (click)='gotoProfile()'>Customize</h3>
                <h3 class="clickable cursor" *ngIf="!isLogin" [routerLink]="['/login']">Customize</h3>

                <h2>
                  your wondrfly experience with 
                  recommendations based on your  your child's age,
                  interests, and skills!
                </h2>
              </div>

              <div class="third-circle">
                <div class="circle-dots position-3">
                  <h1>3</h1>
                </div>

                <h3 class="cursor"  [routerLink]="['/search']">Explore</h3>

                <h2>
                  our database of local providers 
                  anytime - find the perfect fun and 
                  learning activities for your little ones!
                </h2>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="upto_date">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="newsletter-div">
              <div class="beta-suggestionbox">
                <div class="imgage-corners newslett">
                  <img src="assets/resouces-circle.png">
                </div>
              <div class="got-newsletter">
                <h2 class="title">Get our Newsletter</h2>
                <p>
                  Stay up to date on the best promotions, parenting tips, and news about kids’ activities.
                </p>
                <mailchimp-subscribe-form></mailchimp-subscribe-form>
              </div>
                <div class="image-corners">
                  <img src="assets/beta-image.png">
                </div>
            </div>
          </div>
        </div>
      </div>
      </div>
    </section>
  </div>

  <app-footer></app-footer>
</body>
<ngx-ui-loader></ngx-ui-loader>
