<body>
    <app-header2 *ngIf="!isLogin"></app-header2>
    <app-header *ngIf="isLogin"></app-header>


    <div class="ambassador_banner">
        <div class="banner_img">
            <img src="assets/ambassador_banner.jpg" alt="Banner image">
        </div>
    </div>

    <div class="ambas_content">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h2>Mattis sem vitae sit et sit vitae, tristique. Malesuada duis leo<br> sed vestibulum, phasellus.
                    </h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="ambas_box">
                        <img src="assets/ambas_icon1.svg" alt="ambas icon">
                        <h3>Who are Letsplay Ambassadors?</h3>
                        <p>They are a community committed to developing their kids well and are also empowering others
                            ...View More</p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="ambas_box">
                        <img src="assets/ambas_icon2.svg" alt="ambas icon">
                        <h3>What would I do?</h3>
                        <p>Spread the word about LetsPlay in your community, campus, network, family, those random
                            ..View More
                        </p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="ambas_box">
                        <img src="assets/ambas_icon3.svg" alt="ambas icon">
                        <h3>What would I get?</h3>
                        <p>Perks. Perks. Perks. Just for being the cool parent!Expert sessions, Free After-school
                            Program for ...View More</p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="ambas_box">
                        <img src="assets/ambas_icon4.svg" alt="ambas icon">
                        <h3>How do I start?</h3>
                        <p>Its so simple! Just fill out the form! Share the contact details of 5 potential Letsplay
                            amba...View More</p>
                    </div>
                </div>
            </div>
        </div>




    </div>
    <div class="who_ambassador">
        <div class="container">
            <div class="row margin_top align-items-center">
                <div class="col-md-6">
                    <div class="ambassador_img">
                        <img src="assets/dummy_img.jpg" alt="Ambassador image">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="ambassador_text right">
                        <h2>Who are Letsplay Ambassadors?</h2>
                        <p>Non sem lectus pharetra consequat odio est. Lectus nec massa eu purus neque nulla varius nunc
                            et. Feugiat sed id aliquet adipiscing donec aliquet nunc placerat. Eget pretium arcu mi
                            aliquet vitae placerat tellus. Vitae sed pharetra,
                            ac vestibulum, semper enim quis. Consectetur urna tempus, at viverra in odio mi. Amet,
                            elementum ut nunc, posuere. Euismod non nam felis, praesent. Sit maecenas magna lobortis
                            fames. Sagittis at ullamcorper porttitor varius
                            placerat diam aliquet lacinia mattis. Donec eget sed quisque dolor eget est. Purus aliquam
                            elementum adipiscing id proin quisque elementum in.</p>
                    </div>
                </div>
            </div>
            <div class="row margin_top align-items-center">
                <div class="col-md-6">
                    <div class="ambassador_text left">
                        <h2>Who are Letsplay Ambassadors?</h2>
                        <p>Non sem lectus pharetra consequat odio est. Lectus nec massa eu purus neque nulla varius nunc
                            et. Feugiat sed id aliquet adipiscing donec aliquet nunc placerat. Eget pretium arcu mi
                            aliquet vitae placerat tellus. Vitae sed pharetra,
                            ac vestibulum, semper enim quis. Consectetur urna tempus, at viverra in odio mi. Amet,
                            elementum ut nunc, posuere. Euismod non nam felis, praesent. Sit maecenas magna lobortis
                            fames. Sagittis at ullamcorper porttitor varius
                            placerat diam aliquet lacinia mattis. Donec eget sed quisque dolor eget est. Purus aliquam
                            elementum adipiscing id proin quisque elementum in.</p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="ambassador_img">
                        <img src="assets/dummy_img.jpg" alt="Ambassador image">
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="ambass_img_banner">
        <div class="img_box">

        </div>
    </div>


    <section class="upto_date">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="upto_inner">
                        <h2 class="title">Stay upto date</h2>
                        <p>Stay upto date and receive best promotions directly in your inbox. We promise not to spam
                            you.
                        </p>
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="example@domain.com">
                            <div class="input-group-append">
                                <button class="Submit_btn" type="button">Submit</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <footer>
        <div class="container">
            <div class="footer_inner">
                <div class="row align-items-center">
                    <div class="col-12">
                        <div class="footer_left">
                            <div class="footer_logo">
                                <a href="landing">
                                    <img *ngIf="isLogin" src="assets/newlogo.png" alt="Logo">
                                </a>
                            </div>
                            <div class="footer_menu">
                                <ul>
                                    <li class="cursor">
                                        <a [routerLink]="['/why-wondrfly']"> About Wondrfly</a>
                                    </li>
                                    <li>
                                        <a [routerLink]="['/ambassador-policy']">Ambassador Policy</a>
                                    </li>
                                    <li>
                                        <a [routerLink]="['/term-condition']">Terms & Conditions</a>
                                    </li>
                                    <li>
                                        <a [routerLink]="['/privacyPolicy']">Privacy Policy</a>
                                    </li>


                                </ul>
                            </div>
                            <div class="copyright_text">
                                <p>© 2021 Wondrfly Inc. All Rights Reserved.</p>
                            </div>
                        </div>
                        <div class="social_icon_footer">
                            <ul>
                                <li>
                                    <a href="javascript:;">
                                        <span class="icon icon-facebook"></span>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:;">
                                        <span class="icon icon-instagram"></span>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.pinterest.com/wondrfly/"  target="_blank">
                                        <span class="icon icon-pinterest"></span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</body>
