h2.title {
    font-family: 'Poppins';
    font-weight: normal;
    font-size: 20px;
    line-height: 18px;
    color: #494949;
}

.ambassador_banner img {
    max-width: 100%;
    width: 100%;
}

.ambas_content h2 {
    font-weight: 500;
    font-size: 28px;
    line-height: 38px;
    color: #828282;
    text-align: center;
    padding: 50px 0;
}

.ambas_box {
    background: #FFFFFF;
    box-shadow: -4px -4px 20px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    padding: 24px 15px;
    text-align: center;
}

.ambas_box img {
    max-height: 100px;
}

.ambas_box h3 {
    font-weight: 500;
    font-size: 15px;
    line-height: 28px;
    color: #748494;
    margin-top: 22px;
}

.ambas_box p {
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    color: #748494;
}

.ambassador_img img {
    max-width: 100%;
}

.ambassador_text.right {
    padding-left: 30px;
}

.ambassador_text.left {
    padding-right: 30px;
}

.ambassador_text h2 {
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: #748494;
}

.ambassador_text p {
    font-size: 16px;
    line-height: 28px;
    color: #748494;
    margin-top: 27px;
}

.who_ambassador {
    margin-top: 43px;
    padding-bottom: 120px;
}

.who_ambassador .margin_top {
    margin-top: 70px;
}

.ambass_img_banner {
    padding: 0 0 30px 0;
}

.ambass_img_banner .img_box {
    display: inline-block;
    background: #C4C4C4;
    width: 100%;
    min-height: 500px;
}


/* start upto_date section css */

.upto_date {
    padding: 0 0 76px 0;
}

.upto_date .container {
    padding-top: 53px;
}

.upto_inner {
    max-width: 470px;
}

.upto_date p {
    font-size: 13px;
    line-height: 19px;
    letter-spacing: 0.001em;
    color: #494949;
    margin: 31px 0 0 0;
}

.upto_date .input-group {
    background: #FFFFFF;
    padding: 0 0 0 5px;
    margin-top: 50px;
    border: 1px solid #E5E9EC;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.1);
    border-radius: 50px;
}

.upto_date .input-group:focus-within,
.upto_date .input-group:focus {
    border: 1px solid #777CEA;
}

.upto_date .input-group .form-control {
    border: none;
    box-shadow: none;
    font-size: 13px;
    min-height: 46px;
    background-color: transparent;
}

.upto_date .input-group .form-control::placeholder {
    color: rgba(0, 0, 0, 0.3);
}

.upto_date .input-group .form-control::-moz-placeholder {
    color: rgba(0, 0, 0, 0.3);
}

.upto_date .input-group .input-group-append {
    margin-left: 0;
}

.upto_date .input-group .Submit_btn {
    background: #53B2E8;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
    border: none;
    box-shadow: none;
    min-width: 124px;
    min-height: 46px;
    line-height: 46px;
    font-weight: 600;
    font-size: 13px;
    color: #FFFFFF;
}

