<div class="online-searchresult">

    <div class="search-results" *ngIf="programs?.length && contentLoaded">
        <div class="container-fluid search-onlineprog">
            <div class="row">
                <div *ngFor="let program of programs; index as i" class="col-6">
                    <div class="media activity">
                        <div class="online-bar">
                            ONLINE
                        </div>
                        <div class="media-left activity-imgs" (click)="goToProgramDetail(program) ">
                            <img *ngIf="imageLoader.isLoad" [src]="imageLoader.img" alt="Activity">
                            <img *ngIf="program?.category[0]?.iconUrl" [hidden]="imageLoader.isLoad" [src]="baseUrl+program?.category[0]?.iconUrl" (load)="imageLoader.isLoad=false" alt="Activity">
                            <img *ngIf="!program?.category[0]?.iconUrl" [hidden]="imageLoader.isLoad" [src]="'assets/guitar.png'" (load)="imageLoader.isLoad=false" alt="Activity">
                        </div>
                        <div class="media-body ">
                            <div class="share_icon ">
                                <a data-toggle="modal" (click)="selectedProgram=program" data-target="#ShareModal" class="cursor">
                                    <img src="assets/share_gray.svg " alt="Share Icon ">
                                </a>
                                <div class="bookmark_outer ">
                                    <a *ngIf="!program.isFav && parentRole && isLogin" (click)="addFavProgram(userData.id,program._id ,i) " class="bookmark_icon cursor "><img src="assets/bookmark_gray.svg " alt="Menu Image "></a>

                                    <a *ngIf="!isLogin" routerLink="/login" class="bookmark_icon cursor "><img src="assets/bookmark_gray.svg " alt="Menu Image "></a>

                                    <a *ngIf="program.isFav && parentRole && isLogin" (click)="deleteFavProgram(program._id,i) " class="bookmark_icon cursor "><img src="assets/bookmarkOrange.svg " alt="Menu Image "></a>
                                </div>

                            </div>
                            <h2 class="cursor " (click)="goToProgramDetail(program) ">{{program.name}}</h2>
                            <div class="list_outer row row-0 ">
                                <div class="list col-12 mt-2 mb-1">
                                    <p>by {{program.programOwner}}
                                    </p>
                                </div>
                                <div class="rating-starsearch">
                                    <p (click)="getRating(program);programOwnerData.firstName=program.programOwner" class="cursor" data-toggle="collapse" [attr.data-target]="'#collapseExamplestar' + i" role="button" aria-expanded="false" aria-controls="collapseExamplestar">
                                        <span *ngIf="program.averageFinalRating==0">
                          <span class="fa fa-star-o"></span>
                                        <span class="fa fa-star-o"></span>
                                        <span class="fa fa-star-o"></span>
                                        <span class="fa fa-star-o"></span>
                                        <span class="fa fa-star-o"></span>
                                        </span>
                                        <span *ngIf="program.averageFinalRating==1">
                          <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star-o"></span>
                                        <span class="fa fa-star-o"></span>
                                        <span class="fa fa-star-o"></span>
                                        <span class="fa fa-star-o"></span>
                                        </span>
                                        <span *ngIf="program.averageFinalRating>1 && program.averageFinalRating<2">
                          <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star-half-o checked"></span>
                                        <span class="fa fa-star-o"></span>
                                        <span class="fa fa-star-o"></span>
                                        <span class="fa fa-star-o"></span>
                                        </span>
                                        <span *ngIf="program.averageFinalRating==2">
                          <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star-o"></span>
                                        <span class="fa fa-star-o"></span>
                                        <span class="fa fa-star-o"></span>
                                        </span>
                                        <span *ngIf="program.averageFinalRating>2 && program.averageFinalRating<3">
                          <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star-half-o checked"></span>
                                        <span class="fa fa-star-o"></span>
                                        <span class="fa fa-star-o"></span>
                                        </span>
                                        <span *ngIf="program.averageFinalRating==3">
                          <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star-o"></span>
                                        <span class="fa fa-star-o"></span>
                                        </span>
                                        <span *ngIf="program.averageFinalRating>3 && program.averageFinalRating<4">
                          <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star-half-o checked"></span>
                                        <span class="fa fa-star-o"></span>
                                        </span>
                                        <span *ngIf="program.averageFinalRating==4">
                          <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star-o"></span>
                                        </span>
                                        <span *ngIf="program.averageFinalRating>4 && program.averageFinalRating<5">
                          <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star-half-o checked"></span>
                                        </span>
                                        <span *ngIf="program.averageFinalRating==5">
                          <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        </span>
                                        <a *ngIf='program.totalReviews'> ({{program.totalReviews}} reviews)</a>
                                        <a *ngIf='!program.totalReviews'> (0 reviews)</a>
                                    </p>
                                    <div *ngIf="rating" class="collapse star-daialogbox" id="collapseExamplestar{{i}}">
                                        <button type="button" data-toggle="collapse" [attr.data-target]="'#collapseExamplestar' + i" class="close star-daialogicon" aria-label="Close">
                              <span aria-hidden="true"><img src="assets/grey-close.png"></span>
                          </button>
                                        <app-rating [rating]="rating" [user]="programOwnerData"></app-rating>
                                    </div>
                                </div>
                                <div class="coding_text ">
                                    <div *ngIf="program?.subCategoryIds?.length" class="coding-text-1">
                                        <h3 *ngFor="let subCat of program?.subCategoryIds | slice:0:2">{{subCat?.name}}</h3>
                                        <h6 *ngIf="program?.subCategoryIds?.length>2" class="" data-toggle="collapse" href="#morecategories" [attr.data-target]="'#morecategories' + i">+{{program?.subCategoryIds?.length-2}} more
                                            <div class="collapse main_collpases verification_modal" id="morecategories{{i}}" data-parent="#accordionExample">
                                                <div class="collpase_content">
                                                    <div class="categories-content">
                                                        <span><img src="assets/grey-close.png"> </span>
                                                        <h5 *ngFor="let subCat of program?.subCategoryIds | slice:2:program.subCategoryIds?.length" class="collapse-btn">{{subCat?.name}}</h5>
                                                    </div>
                                                </div>
                                            </div>
                                        </h6>
                                    </div>
                                </div>

                                <div class="list col-md-4 images-school">
                                    <p><img src="assets/user_group.svg " alt="School image ">{{program?.ageGroup?.from + '-' + program?.ageGroup?.to}} Yrs
                                    </p>
                                </div>
                                <div class="list col-md-6 ">
                                    <p><img src="assets/calendar.svg " alt="School image ">{{program.date.from | date: 'MMM d, '}} – {{program.date.to | date: 'MMM d, '}}</p>
                                </div>
                            </div>

                            <div class="price-box ">
                                <p *ngIf='!program.isFree'><span><img src="assets/price.svg">${{program.pricePerParticipant}}<span *ngIf="program.pricePeriod.periodAmount">/{{program.pricePeriod.periodAmount}}</span></span>
                                </p>
                                <p *ngIf='program.isFree'><span>Free</span></p>
                            </div>
                            <div class="rating_box ">

                            </div>

                        </div>

                    </div>
                </div>


            </div>

        </div>


        <div *ngIf="programs?.length" class="suggested-searchresult">
            <div class="suggested-result">
                <h3 class="suggested-searcxhtext">
                    You might want to explore similar Categories
                </h3>
                <div class="similar-categories">
                    <div class="row">
                        <div class="col-md-3 cursor" *ngFor='let subcat of categories | slice:0:4' (click)="setCategoryId(subcat.id)">
                            <div class="similarcate-flex">
                                <div class="similar-cate">
                                    <img [defaultImage]="defaultImage" [lazyLoad]="subcat?.imageUrl" />
                                    <h1>{{subcat.name}}</h1>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>
    <div *ngIf="!programs?.length && contentLoaded">
        <div class="suggested-text">
            <h1>Sorry no results found :(</h1>
        </div>
    </div>
    <main class="page" *ngIf="!contentLoaded">

        <div class="page-content" *ngFor="let i of fakeLoaderData">
            <div class="placeholder-content d-flex justify-content-between">
                <div class="placeholder-content_item"></div>
                <div class="placeholder-content_item"></div>
                <div class="placeholder-content_item"></div>
                <div class="placeholder-content_item"></div>
                <div class="placeholder-content_item"></div>
                <div class="placeholder-content_item"></div>
                <div class="placeholder-content_item"></div>
                <div class="placeholder-content_item"></div>
                <div class="placeholder-content_item"></div>
                <div class="placeholder-content_item"></div>
                <div class="placeholder-content_item"></div>
            </div>

        </div>
    </main>
</div>
<share-popup [shareData]="selectedProgram"></share-popup>