<div class="content box common-headermargin">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1 class="main_heading">Blog</h1>
      </div>
      <div class="col-12">
        <div class="bloginterest-btn">
          <button
            type="submit"
            class="btn"
            target='_blank'
            *ngFor="let category of categories"
            (click)="searchCatg(category)"
          >
            {{ category?.categoryName }}
          </button>
        </div>
      </div>
    </div>
    <div class="images_section">
      <div class="row">
        <div class="col-7">
          <div class="main_img">
            <img oncontextmenu="return false;" *ngIf="blog[0]?.image[0]?.url"
              class="blog_img cursor"
              src="{{ blogUrl }}{{ blog[0]?.image[0]?.formats?.thumbnail?.url }}"
              alt="{{ blog[0]?.image[0]?.alternativeText }}"
              (click)="setBlog(blog[0])"
            />
          </div>
          <div class="date">
            <span class="blue_heading">{{
              blog[0]?.published_at | date: "mediumDate"
            }}</span>
          </div>
          <div class="main_headings cursor">
            <h2 (click)="setBlog(blog[0])">{{ blog[0]?.title }}</h2>
          </div>
          <div class="content_text">
            <app-read-more
              [content]="blog[0].content"
              [limit]="200"
              [completeWords]="true"
              [blogData]="blog[0]"
            >
            </app-read-more>
          </div>
          <div class="third_section">
            <span class="by_john" *ngIf="blog[0]?.published_by"> by {{ blog[0]?.published_by }} </span>
            <span class="comments">
              {{ blog[0]?.comments?.length }} COMMENTS
            </span>
          </div>
        </div>
        <div class="col-5">
          <div *ngFor="let blogg of blog | slice: 1:4; let i = index">
            <div class="small_imgs_section">
              <div class="small_img cursor">
                <!-- <img oncontextmenu="return false;"  (click)="setBlog(blogg)" style="height: 137px;width: 167px;" [defaultImage]="defaultImage" [errorImage]="errorImage" lazyLoad="{{blogUrl}}{{blogg?.image[0]?.url}}"/> -->
                <img oncontextmenu="return false;"
                  style="height: 137px; width: 167px"
                  src="{{ blogUrl }}{{ blogg?.image[0]?.formats?.thumbnail?.url }}"
                  alt="{{ blogg?.image[0]?.alternativeText }}"
                  (click)="setBlog(blogg)"
                />
              </div>
              <div class="small_imgs_content">
                <div class="date">
                  <span class="blue_heading">{{
                    blogg?.published_at | date: "mediumDate"
                  }}</span>
                </div>
                <div
                  class="small_section_heading cursor"
                  (click)="setBlog(blogg)"
                >
                  {{ blogg?.title }}
                </div>
                <div class="content_text">
                  <app-read-more
                    [content]="blogg?.content"
                    [limit]="100"
                    [completeWords]="true"
                    [blogData]="blogg"
                  >
                  </app-read-more>
                </div>
              </div>
            </div>
            <hr class="small_line" />
          </div>
        </div>
      </div>
    </div>
    <div class="forth_section" *ngIf="categories[0]?.blogs?.length">
      <div class="forth_section_heading">
        <h1>
          Exploring Their Interests
        </h1>

        <span class="blue_heading cursor" (click)="searchCatg(categories[0])"
          >View All</span
        >
      </div>
      <div class="forth_section_image_section">
        <div class="row">
          <div
            class="col-4"
            *ngFor="
              let blog of categories[0]?.blogs | slice: 0:3;
              let i = index
            "
          >
          <div class="img-overflow">
            <img oncontextmenu="return false;"
            (click)="setBlog(blog)"
            class="forth_section_image cursor"
            src="{{ blogUrl }}{{ blog?.image[0]?.formats?.thumbnail?.url }}"
            alt="{{ blog?.image[0]?.alternativeText }}"
          />
          </div>

            <div class="date">
              <span class="blue_heading">{{
                blog?.published_at | date: "mediumDate"
              }}</span>
            </div>
            <div class="forth_section_title cursor" (click)="setBlog(blog)">
              {{ blog?.title }}
            </div>
            <div class="content_text">
              <app-read-more
                [content]="blog?.content"
                [limit]="100"
                [completeWords]="true"
                [blogData]="blog"
              >
              </app-read-more>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="forth_section" *ngIf="categories[1]?.blogs?.length">
      <div class="forth_section_heading">
        <h1>
          Health & Happiness
        </h1>

        <span class="blue_heading cursor" (click)="searchCatg(categories[1])"
          >View All</span
        >
      </div>
      <div class="forth_section_image_section">
        <div class="row">
          <div
            class="col-4"
            *ngFor="
              let blog of categories[1]?.blogs | slice: 0:3;
              let i = index
            "
          >
          <div class="img-overflow">
            <img oncontextmenu="return false;"
            (click)="setBlog(blog)"
            class="forth_section_image cursor"
            src="{{ blogUrl }}{{ blog?.image[0]?.formats?.thumbnail?.url }}"
            alt="{{ blog?.image[0]?.alternativeText }}"
          />
          </div>

            <div class="date">
              <span class="blue_heading">{{
                blog?.published_at | date: "mediumDate"
              }}</span>
            </div>
            <div class="forth_section_title cursor" (click)="setBlog(blog)">
              {{ blog?.title }}
            </div>
            <div class="content_text">
              <app-read-more
                [content]="blog?.content"
                [limit]="100"
                [completeWords]="true"
                [blogData]="blog"
              >
              </app-read-more>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="forth_section" *ngIf="categories[4]?.blogs?.length">
      <div class="forth_section_heading">
        <h1>
          Parents Plus
        </h1>

        <span class="blue_heading cursor" (click)="searchCatg(categories[4])"
          >View All</span
        >
      </div>
      <div class="forth_section_image_section">
        <div class="row">
          <div
            class="col-4"
            *ngFor="
              let blog of categories[4]?.blogs | slice: 0:3;
              let i = index
            "
          >
          <div class="img-overflow">
            <img oncontextmenu="return false;"
            (click)="setBlog(blog)"
            class="forth_section_image cursor"
            src="{{ blogUrl }}{{ blog?.image[0]?.formats?.thumbnail?.url }}"
            alt="{{ blog?.image[0]?.alternativeText }}"
          />
          </div>

            <div class="date">
              <span class="blue_heading">{{
                blog?.published_at | date: "mediumDate"
              }}</span>
            </div>
            <div class="forth_section_title cursor" (click)="setBlog(blog)">
              {{ blog?.title }}
            </div>
            <div class="content_text">
              <app-read-more
                [content]="blog?.content"
                [limit]="100"
                [completeWords]="true"
                [blogData]="blog"
              >
              </app-read-more>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="fifth_section" *ngIf="categories[3]?.blogs?.length">
    <div class="container">
      <div class="row">
        <div class="col-4">
          <div class="interested_title">you might be interested In</div>
        </div>

        <div
          class="col-4"
          *ngFor="let blog of categories[3]?.blogs | slice: 0:2; let i = index"
        >
          <div class="small_section">
            <div class="small_section_img">
              <img oncontextmenu="return false;"
                (click)="setBlog(blog)"
                class="small_section_img cursor"
                src="{{ blogUrl }}{{ blog?.image[0]?.formats?.thumbnail?.url }}"
                alt="{{ blog?.image[0]?.alternativeText }}"
              />
            </div>
            <div class="small_section_text cursor" (click)="setBlog(blog)">
              <div class="date">
                <span class="blue_heading">{{
                  blog?.published_at | date: "mediumDate"
                }}</span>
              </div>
              {{ blog?.title }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container" *ngIf="categories[2]?.blogs?.length">
    <div class="ages and stages">
      <div class="forth_section">
        <div class="forth_section_heading">
          <h1>
            Ages & Stages
          </h1>

          <span class="blue_heading cursor" (click)="searchCatg(categories[2])"
            >View All</span
          >
        </div>
        <div class="forth_section_image_section">
          <div class="row">
            <div
              class="col-6"
              *ngFor="
                let blog of categories[2]?.blogs | slice: 0:2;
                let i = index
              "
            >
            <div class="img-overflow ">
              <img oncontextmenu="return false;"
              (click)="setBlog(blog)"
              class="forth_section_image cursor"
   
              src="{{ blogUrl }}{{ blog?.image[0]?.formats?.thumbnail?.url }}"
              alt="{{ blog?.image[0]?.alternativeText }}"
            />
            </div>

              <div class="date">
                <span class="blue_heading">{{
                  blog?.published_at | date: "mediumDate"
                }}</span>
              </div>
              <div class="forth_section_title cursor" (click)="setBlog(blog)">
                {{ blog?.title }}
              </div>
              <div class="content_text">
                <app-read-more
                  [content]="blog?.content"
                  [limit]="100"
                  [completeWords]="true"
                  [blogData]="blog"
                >
                </app-read-more>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <section class="upto_date newslet">
      <div class="container lfex">
        <div class="row">
          <div class="col-12">
            <div class="newsletter-div">
              <div class="beta-suggestionbox">
                <div class="imgage-corners newslett">
                  <img src="assets/resouces-circle.png">
                </div>
              <div class="got-newsletter">
                <h2 class="title">Get Our Newsletter</h2>
                <p>
                  Stay up to date on the best promotions, parenting tips, and news about kids’ activities.
                </p>
                <mailchimp-subscribe-form></mailchimp-subscribe-form>
              </div>
                <div class="image-corners">
                  <img src="assets/beta-image.png">
                </div>
            </div>
          </div>
        </div>
      </div>
      </div>
    </section>



  </div>

</div>
<ngx-ui-loader></ngx-ui-loader>
