.row.active_head {
  font-size: 14px;
}
span.blue_heading {
  color: #53b2e8;
  font-family: "Poppins";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  letter-spacing: 0.05em;
}

.main_heading {
  font-size: 36px;
  color: #494949;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
}
.main_headings h2 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 40px;
  letter-spacing: 0.05em;
  text-transform: capitalize;
  color: #494949;
}
span.search_bar input[type="text"] {
  background: #f9fafa;
  border: 1px solid #c5c6c8;
  box-sizing: border-box;
  border-radius: 40px;
  padding: 6px;
}
span.search_bar p {
  background: #f9fafa;
  border: 1px solid #494949;
  box-sizing: border-box;
  border-radius: 40px;
  padding: 6px;
  width: 90%;
  text-align: center;
  font-family: "Poppins";
  color: #494949;
  cursor: pointer;
}

span.search_bar input[type="text"]:focus-within,
span.search_bar input[type="text"]:focus {
  border: 1px solid #53b2e8;
}
.categories {
  border: 1px solid #c5c6c8;
  box-sizing: border-box;
  height: 100px;
  width: 100px;
  border-radius: 10px;
  padding: 6px;
  width: 90%;
  text-align: center;
  font-family: "Poppins";
  color: #494949;
}
img.search_img {
  cursor: pointer;
  margin-left: -35px;
  margin-top: -4px;
}
.content.box .col-5 {
  display: flex;
  align-items: center;
}
.col-5 span.search_bar {
  width: 52%;
}
span.comments {
  float: right;
}
.content_text {
  font-family: "Poppins";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  text-transform: capitalize;
  color: #494949;
}
.third_section {
  font-family: "Poppins";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  padding-top: 18px;
}
.images_section {
  padding-top: 50px;
}
h1.main_heading:hover {
  color:#53b2e8;
}
.main_img {
  margin-bottom: 25px;
  border-radius: 2px;
  overflow: hidden;
}
.blog_img:hover {
  transform: scale(1.2);
}
.images_section .main_heading {
  padding-bottom: 16px;
}
.small_imgs_section {
  display: flex;
  justify-content: space-between;
}
.small_section_heading {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: inherit;
  text-transform: capitalize;
  color: #494949;
  padding-top: 2px;
  padding-bottom: 5px;
}
.small_section_img {
  width: 166px;
  height: 158px;
  object-fit: cover;
}
.small_img {
  overflow: hidden;
}
.small_imgs_content {
  width:59%;
}
.images_section .col-5 {
  align-items: center;
  display: block !important;
}
hr.small_line {
  margin: 26px 0px;
  border: 1px solid #e0e0e0;
}
.forth_section_heading span.blue_heading {
  float: right;
  cursor: pointer;
}
.forth_section_heading h1 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 40px;
  letter-spacing: 0.05em;
  text-transform: capitalize;
  color: #494949;
  padding-top: 15px;
  padding-bottom: 30px;
}
.forth_section_title {
  font-family: "Poppins";
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.1em;
  text-transform: capitalize;
  color: #494949;
  padding-bottom: 10px;
  padding-top: 5px;
}
img.forth_section_image {
  height: 250px;
  width: 100%;
  object-fit: cover;
  transition: 1s;
  object-position: top;
}
.forth_section {
  margin-top: 30px;
}
.container.lfex {
  padding-left: 0px;
  padding-right: 0px;
}
.forth_section_title.cursor:hover {
  color:#53b2e8;
}
.forth_section_image_section {
  padding-bottom: 45px;
}
.images_section .main_headings.cursor h2:hover {
  color: #53b2e8;
}
.small_section_heading:hover {
  color: #53b2e8;
}
.forth_section_heading h1:hover {
  color: #53b2e8;
}
.interested_title:hover {
  color: #53b2e8;
}
.img-overflow {
  overflow: hidden;
  transition: 1s;
  margin-bottom: 17px;
}
.forth_section_heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

img.forth_section_image:hover {
  transform: scale(1.2);
}
.interested_title {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 36px;
  letter-spacing: 0.1em;
  text-transform: capitalize;
  color: #494949;
  text-align: left;
}
.small_section {
  display: flex;
  align-items: center;
}
.fifth_section .row {
  align-items: center;
}
.small_section_text {
  font-family: "Poppins";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.05em;
  text-transform: capitalize;
  color: #494949;
  padding-left: 30px;
}
.fifth_section {
  background: #f2f2f2;
  padding: 60px 0px;
}
.sixth_section {
  padding-top: 90px;
}
.seventh_section {
  width: 100%;
  padding-top: 50px;
  align-items: center;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.seventh_section .up_to_date {
  font-family: "Poppins";
  font-weight: normal;
  font-size: 20px;
  line-height: 18px;
  font-style: normal;
  line-height: 18px;
  text-align: center;
  color: #494949;
  padding-bottom: 30px;
}
.seventh_section_content {
  font-family: "Poppins";
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.001em;
  color: #494949;
  padding-bottom: 30px;
}

/* start upto_date section css */

.input-group {
  margin-left: auto;
  margin-right: auto;
  max-width: 470px;
  background: #ffffff;
  padding: 0 0 0 5px;
  border: 1px solid #e5e9ec;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.1);
  border-radius: 50px;
}

.input-group:focus-within,
.input-group:focus {
  border: 1px solid #53b2e8;
}

.input-group .form-control {
  border: none;
  box-shadow: none;
  font-size: 13px;
  min-height: 46px;
  background-color: transparent;
}

.input-group .form-control::placeholder {
  color: rgba(0, 0, 0, 0.3);
}

.input-group .form-control::-moz-placeholder {
  color: rgba(0, 0, 0, 0.3);
}

.input-group .Submit_btn {
  background: #53b2e8;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
  border-radius: 50px;
  border: none;
  box-shadow: none;
  min-width: 124px;
  min-height: 46px;
  line-height: 46px;
  font-weight: 600;
  font-size: 13px;
  color: #ffffff;
}

/* tab-modal-css-start */

.main_collpase {
  position: absolute;
  background-color: #fff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  padding: 38px 0 13px 0;
  z-index: 11;
  min-width: 350px;
  margin-top: 9px;
}
.main_collpase.inner {
  position: absolute;
  background-color: #fff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  padding: 38px 0 13px 0;
  z-index: 11;
  min-width: 450px;
  margin-top: 9px;
}
.collpase_content {
  padding: 0px 17px 0px 25px;
}

.main_collpase.verification_modal .submit_btn .submitBtn,
.main_collpase.verification_modal .submit_btn .cancel_btn {
  min-width: 95px;
  min-height: 30px;
  line-height: 30px;
  margin: 0 10px;
}
/* tab-modal-css-end */

/* 01-04-21 start */
.input_outer {
  padding-bottom: 15px;
}
.col-3.categories {
  margin: 10px;
  max-width: 22% !important;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  height: 146px;
}
div#category {
  margin-left: -135%;
  width: 750px;
}
div#location .col-3 {
  font-size: 12px;
  padding: 4px 3px;
  text-align: center;
}

.popup_my {
  text-align: center;
}
.popup_maintext {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  text-align: center;
  color: #494949;
  padding-top: 20px;
}
.popup_normal_text {
  font-family: "Poppins";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  color: #494949;
  padding-top: 30px;
}
.new_york_btn {
  background: #ffffff;
  border: 1px solid #53b2e8;
  box-sizing: border-box;
  border-radius: 40px;
  width: 27%;
  margin: 0 auto;
  padding: 12px 4px 12px 0px;
  margin-top: 20px;
}
.popup_my .row {
  padding-bottom: 40px;
  padding-top: 30px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.001em;
  color: #b3b3b3;
}
.choose_location {
  font-family: "Poppins";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  color: #494949;
}
.location_box {
  background: #ffffff;
  border: 1px solid #e5e9ec;
  box-sizing: border-box;
  border-radius: 40px;
  width: 60%;
  margin: 0 auto;
  padding: 22px;
  margin-top: 10px;
}
.save_btn {
  background: #53b2e8;
  border: 1px solid #53b2e8;
  box-sizing: border-box;
  box-shadow: 0px 2px 2px rgb(0 0 0 / 12%);
  border-radius: 50px;
  width: 25%;
  margin: 0 auto;
  padding: 14px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #ffffff;
  margin-top: 60px;
  margin-bottom: 70px;
}
.new_york_btn img {
  padding: 0px 10px;
}
.new_york_btn span.blue_text {
  padding-left: 12px;
}

/* 01-04-21 end */

.category_img {
  width: 10px;
}

.cat_img {
  width: 100%;
  height: 115px;
  background-color: #c5c6c8;
}
.categories span {
  position: absolute;
  bottom: 0px;
}
.got-newsletter {
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.newsletter-div {
  background: #DCF3FF;
  border-radius: 20px;
  padding: 60px;
  position: relative;
  padding-top: 75px;
  padding-bottom: 70px;
}
.beta-suggestionbox .image-corners img {
  width: 194px;
  position: absolute;
  right: 0px;
  bottom: 0px;
}
.beta-suggestionbox .imgage-corners img {
  width: 194px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.imgage-corners.newslett {
  position: static;
}
h2.title{
  font-family: "Poppins";
  font-weight: 600;
  font-size: 26px;
  line-height: 18px;
  color: #53b2e8;
}
section.upto_date.newslet {
  padding: 0px 0px 20px 0px!important;
}
.searchR {
  border: solid 1px black;
}
.collpase_content.categories-collapse table.table {
  background-color: #fff;
  border: 1px solid #c5c6c8;
  position: absolute;
  width: 94%;
  z-index: 1;
}
.collpase_content.categories-collapse .row.margin-row {
  margin-left: -10px;
}

.collpase_content.location-collapse table.table {
  background-color: #fff;
  border: 1px solid #c5c6c8;
  width: 87%;
  position: absolute;
  z-index: 1;
}
.collpase_content.location-collapse .input_outer {
  padding-bottom: 0px;
}

/* new blog design changes */

.content.box .main_heading {
  margin-top: 40px;
  margin-bottom: 20px;
}
.content.box .bloginterest-btn button.btn {
  background: #ffffff;
  border: 1px solid #494949;
  box-sizing: border-box;
  border-radius: 20px;
  margin: 0px 12px 0px 0px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.001em;
  text-transform: capitalize;
  color: #494949;
  padding-left: 15px;
  padding-right: 15px;
}
.content.box .bloginterest-btn button.btn:hover {
  color: #53b2e8 !important;
  border: 1px solid #53b2e8 !important;
}
.small_imgs_section .small_img img {
  height: 100% !important;
  object-fit: cover;
  transition: 1s;
}
.small_imgs_section .small_img img:hover{
  transform: scale(1.2);
}
.blog_img {
  width: 100%;
  height: 380px;
  object-fit: cover;
  border-radius: 2px;
  transition: 1s;
  object-position: top;
}
.ages.and.stages .forth_section_image_section {
  padding-bottom: 0px !important;
}
.images_section .main_headings.cursor h2 {
  margin-bottom: 10px;
  margin-top: 5px;
}



@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
  li.search_bar {
    width: 90% !important;
  }
  .images_section .main_img img {
    width: 100%;
  }
  .forth_section .forth_section_image_section img.forth_section_image {
    width: 100%;
  }
  .fifth_section .row.container img {
    width: 100%;
  }
  .sixth_section img.forth_section_image {
    width: 100%;
  }
  img.search_img {
    cursor: pointer;
    position: absolute;
    top: 22px;
    right: 0px;
  }

  .main_collpase {
    padding: 28px 0 13px 0;
    min-width: 315px;
    left: 81px;
  }

  .content_text {
    font-family: "Poppins";
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    text-transform: capitalize;
    color: #494949;
  }
  span.search_bar input[type="text"] {
    background: #f9fafa;
    border: 1px solid #c5c6c8;
    box-sizing: border-box;
    border-radius: 40px;
    padding: 4px;
    cursor: pointer;
  }

}

