<body>

  <header [ngClass]="{'search-header':logoPosition}">
    <div class="container">
      <nav class="navbar navbar-expand-lg navbar-light header_main">

        <!-- <a class="navbar-brand" href="#">Navbar</a> -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <a class="cursor" (click)="logo()">
            <img *ngIf="!logoPosition" class="header-image" src="assets/logo.svg" alt="Logo">
            <img *ngIf="logoPosition"class="header-image-search" src="assets/logo.svg" alt="Logo">
          </a>

          <div class="left-searchpd" *ngIf="!searchBar || isLogin">
            <div class="left_search">
                <div>
                    <form class="banner_form" data-toggle="collapse" href="#dropdownprogram-provider" role="button" aria-expanded="false" aria-controls="dropdownprogram-provider">
                        <div class="form-group ">
                            <input type="text" autocomplete="off" (keyup)="searchCategory(filterData.activityName);providerSearch(filterData.activityName)"
                            [(ngModel)]="filterData.activityName"
                              placeholder="Search Activity..."
                                class="form-control camp_input " name="activityName">
                        </div>
                        <div class="form-group cursor" >
                            <button class="banner_button cursor" type="submit" routerLink="search" (click)="searchActivityByNameDate()">
                                <img src="assets/search_icon.svg" alt="Search image">
                            </button>

                        </div>

                        <div class="dropdownprogram" *ngIf="(categoriesBySearch?.length || providersBySearch?.length ) && filterData.activityName" >
                            <div class="card card-body">
                              <div class="program-list"
                                *ngIf="categoriesBySearch?.length">
                                <h6  (click)="searchActivityByCategory(category.id)" *ngFor="let category of categoriesBySearch | slice:0:4">
                                    {{category.name}}
                                    <span class="search-programlist">
                                        <img src="assets/program-search.svg">
                                    </span>
                                </h6>
                              </div>
                              <hr>
                              <div class="provider-list" *ngIf="providersBySearch?.length">
                                <h5>
                                    Providers
                                </h5>
                                <h6 (click)="goToProviderProfile(provider)" *ngFor="let provider of providersBySearch | slice:0:4">
                                    {{provider.firstName}}
                                </h6>
                              </div>
                            </div>
                        </div>
                    </form>
                </div>

            </div>
        </div>




          <ul *ngIf="isLogin" class="navbar-nav mr-auto">
            <li class="C">
              <a class="nav-link cursor" (click)="profile()" [class.active]="profileClass">
                <!-- <span class="icon icon-user"></span> -->
                <span class="icon "><img src="assets/Profile-icon.svg" alt="Logo"></span> Profile
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/program/home" [class.active]="insightClass">
                <!-- <span class="icon icon-statistics"></span> -->
                <span class="icon "><img src="assets/Insights-icon.svg" alt="Logo"></span>
                  Insights
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/program/list" [class.active]="programClass">
                <!-- <span class="icon icon-list"></span> -->

                <span class="icon "><img src="assets/Activities-icon.svg" alt="Logo"></span>Manage Activities
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/program/setting" [class.active]="settingClass">
                <!-- <span class="icon icon-gear"></span>  -->
                <span class="icon "><img src="assets/Settings-icon.svg" alt="Logo"></span>Settings
              </a>
            </li>
            <!-- <li class="nav-item">
              <a class="nav-link cursor" routerLink="/forum/forum-type" [class.active]="forumClass">
                <span class="icon icon-conversation"></span> Forum
              </a>
            </li> -->
            <li class="nav-item">
              <a class="nav-link cursor" [class.active]="helpClass">
                <!-- <span class="icon icon-information1"></span>  -->

                <span class="icon "><img src="assets/Help-icon.svg" alt="Logo"></span>
                Help
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link cursor" data-toggle="modal" data-target="#NotificationModal">
                <!-- <span class="icon icon-bell"></span>  -->

                <span class="icon "><img src="assets/Notification-icon.svg" alt="Logo"></span>
                Notifications
              </a>
            </li>

          </ul>
          <div class="header_right row" [ngClass]="{'after-nav':logoPosition}">
            <div class="headers_menu">
              <ul>
                <li class="cursor">
                  <a [routerLink]="['/about-wondrfly']"> About Us</a>
                </li>
                <li class="cursor">
                  <a [routerLink]="['/blogs']">Blog</a>
                </li>
                <li class="cursor">
                  <a [routerLink]="['/faq']">FAQ</a>
                </li>
              </ul>
            </div>
            <div class="progress-imagewith">
            <a class="cursor" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
              aria-expanded="false">
              <div class="head_profile">
                <div class="progress" id="progress">
                  <span class="progress-left">
                    <span class="progress-bar"></span>
                  </span>
                  <span class="progress-right">
                    <span class="progress-bar"></span>
                  </span>
                  <img [src]="user.avatarImages" (error)="user.avatarImages='assets/default_img.png'" alt="Profile image">

                </div>
              </div>
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item cursor" (click)="profile()"><img src="assets/profile.svg"> Profile</a>
              <a class="dropdown-item cursor" (click)="logout()"><img src="assets/logout.svg"> Logout</a>
            </div>
            <div class="profile-completion">
            <a class="progress_bar">
              <div class="progress profile_text" id="progress">
                <div *ngIf="profileProgress" class="progress-value">
                  Profile Complition {{profileProgress}}%
                </div>
              </div>
            </a>
          </div>
            </div>

            <div class="header-lefticons" *ngIf="!isLogin">
              <a  class="noti-lefticon cursor"  data-toggle="modal" data-target="#NotificationModal">
                <span class="icon "><img src="assets/Notification-icon.svg" alt="Logo"></span>
              </a>
              <a  class="share-lefticon cursor"  (click)='savedList()'>
                <span class="icon "><img src="assets/bookmark_gray.svg" alt="Logo"></span>
              </a>
            </div>

          </div>
        </div>
      </nav>
    </div>
  </header>



</body>
<!--notification Modal -->
<div class="modal fade" id="NotificationModal" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog"
  aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content noti_modal">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true" class="icon-close"></span>
      </button>
      <div class="modal-body N_modal1">
        <mat-slide-toggle *ngIf="isLogin" #toggle [(ngModel)]="isToggle" (ngModelChange)="onOffNotification(user.id, $event)">ENABLE</mat-slide-toggle>
        <div class="heading_alert">
          Alerts
          <span class="red_dot"><svg width="4" height="4" viewBox="0 0 4 4" fill="none"
              xmlns="http://www.w3.org/2000/svg">
              <circle cx="2" cy="2" r="2" fill="#FA627D" /></svg>
          </span>
          <span class="red_heading_alert"> {{user.notices?.count}} New</span>
          <span class="three_dots">
            <p class="noti-read">
              Mark All as Read
            </p>
            <!-- <svg width="20" height="4" viewBox="0 0 20 4" fill="none" xmlns="http://www.w3.org/2000/svg">
              <circle cx="2" cy="2" r="2" fill="#C4C4C4" />
              <circle cx="10" cy="2" r="2" fill="#C4C4C4" />
              <circle cx="18" cy="2" r="2" fill="#C4C4C4" />
            </svg> -->
          <span *ngIf="isLogin" (click)="clearAll()">  clear all
          </span>
          </span>
        </div>
        <hr class="grey_line">
        <div class="notification" *ngFor="let notification of user?.notices.notifications; let i =index;">
          <div class="noti_heading">
            <span class="red_dot"><svg width="4" height="4" viewBox="0 0 4 4" fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <circle cx="2" cy="2" r="2" fill="#FA627D" /></svg>
            </span>
            <!-- Today, 11:55 PM -->
            {{notification.updatedOn | date:"MMM d,h:mm a"}}
            <span class="in_close cursor" (click)="deleteNotification(notification,i)"><svg width="6" height="6" viewBox="0 0 6 6" fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M6 0.707027L5.29297 0L2.99999 2.29297L0.707027 0L0 0.707027L2.29297 2.99999L0 5.29297L0.707027 6L2.99999 3.70703L5.29296 6L5.99998 5.29297L3.70703 2.99999L6 0.707027Z"
                  fill="#C5CED6" />
              </svg>
            </span>
          </div>
          <div class="noti_description">
{{notification.description}}</div>
        </div>
        <div class="heading_alert info">
          Updates<span class="blue_dot"><svg width="4" height="4" viewBox="0 0 4 4" fill="none" xmlns="http://www.w3.org/2000/svg">
  <circle cx="2" cy="2" r="2" fill="#53B2E8"/>
  </svg>
            </span>
            <span class="blue_heading_alert"> 2 New</span>
          </div>
        <hr class="grey_line">
        <div class="notification">
          <div class="noti_heading">
            <span class="blue_dot"><svg width="4" height="4" viewBox="0 0 4 4" fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <circle cx="2" cy="2" r="2" fill="#53B2E8" />
              </svg>
            </span>
            Today, 11:55 PM
          </div>
          <div class="noti_description">
            Neque iaculis neque, gravida est. Tempus, duis quis in ac, placerat morbi purus etiam.
          </div>
        </div>
        <div class="notification">
          <div class="noti_heading">
            <span class="blue_dot"><svg width="4" height="4" viewBox="0 0 4 4" fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <circle cx="2" cy="2" r="2" fill="#53B2E8" />
              </svg>
            </span>
            Today, 11:55 PM
          </div>
          <div class="noti_description">
            Neque iaculis neque, gravida est. Tempus, duis quis in ac, placerat morbi purus etiam.
          </div>
        </div>

        <div class="view_all">
          <a>
            View All
          </a>
        </div>

      </div>
    </div>
  </div>
</div>

<!-- --------------------------------------------review-modal--------------------------------------------------- -->


<div data-toggle="modal" data-target="#review" id='open_feedback_modal'></div>
<div class="modal fade verification_modal password" id="review" data-backdrop="static" data-keyboard="false"
    tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel"  aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered review-pop">
        <div class="modal-content popu-ip">
            <button type="button" class="close" id='close_feedback_modal' (click)='canceFeedback()' data-dismiss="modal" routerLink="/login" aria-label="Close">
                <span aria-hidden="true" class="icon-close"></span>
            </button>
            <div class="modal-body">
                <div class="verification_outer">
                    <div class="tab_outer">
                        <div class="tab-content">
                            <div class="tab-pane active" id="parent" role="tabpanel">
                                    <div class="popup_img">
                                        <img src="assets/logo.svg">
                                    </div>
                                    <div class="popup_maintext">
                                        How was your browsing
                                        <br>
                                        experience?
                                    </div>
                                    <div class="container images-popup">
                                        <div class="row">
                                            <div class="col-4"  (click)="feedbackData.feedback='poor'">
                                                <img  [ngClass]="{'active': feedbackData.feedback==='poor'}" src="assets/smile1.svg">
                                                <!-- <h6>POOR</h6> -->
                                            </div>
                                            <div class="col-4"  (click)="feedbackData.feedback='average'">
                                                <img [ngClass]="{'active': feedbackData.feedback==='average'}" src="assets/smile2.svg">
                                                <!-- <h6 >AVERAGE</h6> -->
                                            </div>
                                            <div class="col-4"  (click)="feedbackData.feedback='great'">
                                                <img [ngClass]="{'active': feedbackData.feedback==='great'}" src="assets/smile3.svg">
                                                <!-- <h6>GREAT</h6> -->
                                            </div>
                                        </div>
                                    </div>
                                    <div class="pop-upbtn">
                                        <div _ngcontent-gvo-c1="" class="input-group-append">
                                            <button _ngcontent-gvo-c1="" [disabled]="!feedbackData.feedback" class="Submit_btn" data-dismiss="modal" type="button" (click)="submitFeedback()">Submit</button>
                                        </div>
                                    </div>

                        </div>
                    </div>

                </div>

            </div>
        </div>

</div>

    </div>
</div>
