<app-header></app-header>



      <!-- <div *ngIf="" class="box text-center p-3 bg-white"> -->

        <div class="main_container">
            <div class="sub-main">
              <div class="menu-box">
                <span class="wnderfly-btn">© 2021 WONDRFLY Inc.</span>
                <div class="box text-center p-3 bg-white">
                  <h2 class="my_heading1">1. How did you hear about us?</h2>
                  <p class="pt-1">
                    <!-- Help us find the best activities near you. -->
                  </p>
                    <div class="N_inputs_container">
                      <div class="business_name">
                        <textarea
                          class="my_inputs"
                          placeholder="Answer..."
                          value=""
                        ></textarea>
                      </div>
                    </div>
                    <div class="N_btns">
                      <div class="row">
                        <div class="col-6">
                          <div  class="back_btn cursor">
                            <a> back </a>
                          </div>
                        </div>
                        <div class="col-6">
                          <div class="next_btn cursor">
                            <a> Next </a>
                          </div>
                          <!-- <div  [ngClass]="{'disable_next':selectedTags?.length<=0}" (click)="addChild();updateParent()"  class="next_btn cursor">
                              <a>
                                  Next
                              </a>
                          </div> -->
                        </div>
                      </div>
                    </div>
              </div>
          
            </div>
          </div>
          
