<app-header></app-header>



      <!-- <div *ngIf="" class="box text-center p-3 bg-white"> -->

        <div class="main_container">
              <div class="menu-box">
                <div class="box">
                  <div class="beta-invitenew">
                    <h1>Your Beta Invites</h1>
                    <h2>
                      <img src="assets/invite-open.svg">
                      Your invites: {{invitedUsers?.length}}
                    </h2>
                  </div>
                  <div class="betainvite-btnnew">
                    <h3 *ngIf="!invitedUsers?.length">Aliquam sit sem faucibus ac, faucibus amet in diam malesuada. Tempus amet, eget non posuere ac risus adipiscing.</h3>

                    <div class="table-beta" *ngIf="invitedUsers?.length">
                      <table class="table table-borderless">
                        <thead>
                          <tr>
                            <th scope="col" class="align-item-center">
                              Full Name
                              <span class="ml-2"
                                ><img src="assets/refresh.png"
                              /></span>
                            </th>
                            <th scope="col">Email</th>
                            <th scope="col">Status</th>
                            <th scope="col">Expires in</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr class="beta-row" *ngFor="let invited of invitedUsers">
                            <td class="align-item-center">
                              <span class="mr-2"
                                ><img src="assets/beta-img.png"
                              /></span>
                              {{ invited.name }}
                            </td>
                            <td>{{ invited.email }}</td>
                            <td *ngIf="invited.joined" class="align-item-center">
                              <span class="mr-2"
                                ><img src="assets/tick-sucess.png"
                              /></span>
                              Accepted
                            </td>
                            <td *ngIf="!invited?.joined">
                              <span class="mr-2"><img src="assets/spin.png" /></span>
                              Pending
                            </td>

                            <td>
                              <span *ngIf="invited.date">
                                <!-- <counter [futureString]="invited?.date"></counter> -->
                              </span>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                                    </div>

                  <button  [disabled]="invitedUsers?.length>=3" class="beta-btninvite"  data-toggle="modal"  data-target="#betaInvite">
                    SEND Invite
                  </button>

                </div>
              </div>
          <div class="wnderfly-btn">
            <h1>© 2021 WONDRFLY Inc.</h1>
          </div>
        </div>


 <!-- Modal -->
<div
class="modal fade modal_custom guardian_info"
id="betaInvite"
tabindex="-1"
role="dialog"
aria-labelledby="exampleModalCenterTitle"
aria-hidden="true"
>
<div class="modal-dialog modal-dialog-centered" role="document">
  <div class="modal-content">
    <button
      type="button"
      class="close"
      data-dismiss="modal"
      aria-label="Close"
    >
      <span aria-hidden="true">&times;</span>
    </button>
    <div class="modal-body">
      <div class="form_outer">
        <h2 class="title">
          I’d like to invite
        </h2>
        <form class="details_form" [formGroup]="inviteForm">
          <div class="form-group">
            <label>Full Name</label>
            <div class="input_outer">
              <input
                type="text"
                placeholder="Enter fullName"
                [formControl]="inviteForm.controls['fullName']"
                class="form-control"
                [(ngModel)]="inviteAsktojoin.firstName"
                name="FullName"
                required
              />
              <span class="parent-edit"><img src="assets/close.png" /></span>
            </div>
          </div>
          <div class="form-group">
            <label>Email Address</label>
            <div class="input_outer">
              <input
                type="email"
                placeholder="Enter fullName"
                [formControl]="inviteForm.controls['email']"
                class="form-control"
                [(ngModel)]="inviteAsktojoin.email"
                name="email"
                required
              />
              <small
                *ngIf="
                  inviteForm.controls['email'].hasError('email') &&
                  inviteForm.controls['email'].touched
                "
                class="form-error-msg"
                >INVALID EMAIL ADDRESS</small
              >
              <small
                *ngIf="
                  inviteForm.controls['email'].hasError('required') &&
                  inviteForm.controls['email'].touched
                "
                class="form-error-msg"
                >EMAIL IS REQUIRED</small
              >
              <span class="parent-edit"><img src="assets/close.png" /></span>
            </div>
          </div>

          <div class="checkbox-ask">
            <div class="form-check">
              <input
                class="form-check-input k-checkbox"
                type="checkbox"
                #parentc
                [checked]="isParent"
                (change)="parentChecked(parentc.checked)"
              />
              <label
                class="form-check-label k-checkbox-label"
                for="flexCheckDefault"
              >
              Sending thit invite I ..............
              </label>
            </div>
            <div class="form-check copy-link" (click)="copyInvite()">
              <span><img src="assets/copy-link.png" /></span>
              <label
                class="form-check-label k-checkbox-label cursor"
                for="flexCheckChecked"
              >
                COPY Invitation link
              </label>
            </div>
          </div>

          <div class="form-group update_btn">
            <button
              class="btn_style save_btn cursor"
              type="submit"
              [disabled]="inviteForm.invalid || !isParent"
              data-dismiss="modal"
              (click)="inviteAsktojoina()"
            >
              SEND INVITE
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
</div>
