<app-header></app-header>



      <!-- <div *ngIf="" class="box text-center p-3 bg-white"> -->

        <div class="main_container">
              <div class="menu-box">
                <div class="box">
                  <div class="beta-invitenew">
                    <h1>Your Beta Invites</h1>
                    <h2>
                      <img src="assets/invite-open.svg">
                      Your invites: 3
                    </h2>
                  </div>
                  <div class="betainvite-btnnew">
                    <h3>Aliquam sit sem faucibus ac, faucibus amet in diam malesuada. Tempus amet, eget non posuere ac risus adipiscing.</h3>
                    <button class="beta-btninvite">
                      SEND Invite
                    </button>
                  </div>


                </div>
              </div>
          <div class="wnderfly-btn">
            <h1>© 2021 WONDRFLY Inc.</h1>
          </div>
        </div>


