.main_container {
    width: auto;
    height: 100%;
    min-height: 100vh;
    background-size: cover;
    background-color: #dcf3ff;
    position: relative;
  }
  .box {
    width: 83%;
    padding-top: 45px !important;
    border-radius: 20px;
    background: #ffffff;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.25);
    margin: 0 auto;
    padding-left: 30px !important;
    padding-right: 30px !important;
    min-height: 400px;
    padding-bottom: 40px;

  }
  .menu-box {
    padding-top: 150px;
    padding-bottom: 150px;
}
.wnderfly-btn h1 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.001em;
  color: #494949;
}
.wnderfly-btn {
  position: fixed;
  bottom: 0px;
  width: 100%;
  left: 9%;
}
h2 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 39px;
  color: #53B2E8;
}
.beta-invitenew h1 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 51px;
  color: #494949;
}
.beta-invitenew {
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
}
.betainvite-btnnew h3 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: normal;
  font-size: 19px;
  line-height: 150%;
  text-align: center;
  color: #494949;
  margin-top: 50px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
button.beta-btninvite {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #FFFFFF;
  background: #53B2E8;
  border-radius: 50px;
  padding: 8px;
  padding-left: 25px;
  padding-right: 25px;
  border: 0;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-top:70px;
}

/*
invite-modal */
#betaInvite input.form-control {
  background: #ffffff;
  border: 1px solid #e5e9ec;
  box-sizing: border-box;
  border-radius: 20px !important;
}
#betaInvite label {
  padding-left: 10px !important;
}
#betaInvite .btn_style {
  float: none;
  padding: 4px !important;
  padding-left: 25px !important;
  padding-right: 25px !important;
  width: auto !important;
  font-family: "poppins";
}
/*Empty checkbox*/
.k-checkbox {
  background: transparent;
  color: white !important;
}

/*Checked checkbox*/
.k-checkbox {
  border-color: rgba(0, 0, 0, 0.08);
  color: transparent;
  background-color: #fff;
}
.k-checkbox {
  border-radius: 2px;
  margin: 0;
  padding: 0;
  width: 16px;
  height: 16px;
  line-height: initial;
  border-width: 1px;
  border-style: solid;
  outline: 0;
  box-sizing: border-box;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  -webkit-appearance: none;
}
.k-checkbox.k-checked::before,
.k-checkbox:checked::before {
  border-radius: 2px;
  -webkit-transform: scale(1) translate(-50%, -50%);
  -ms-transform: scale(1) translate(-50%, -50%);
  transform: scale(1) translate(-50%, -50%);
}
.k-checkbox::before {
  width: 12px;
  height: 12px;
  font-size: 12px;
  line-height: 1;
  -webkit-transform: scale(0) translate(-50%, -50%);
  -ms-transform: scale(0) translate(-50%, -50%);
  transform: scale(0) translate(-50%, -50%);
  overflow: hidden;
  position: absolute;
  top: 54%;
  left: 48%;
  content: "\2713";
  font-family: "poppins";
}
.form-check.copy-link {
  padding: 0px !important;
  color: #53b2e8;
}
.checkbox-ask .form-check {
  padding: 22px;
  padding-left: 0px;
}
input#flexCheckDefault {
  border: 1px solid #53b2e8 !important;
  top: -2px;
}
.k-checkbox:checked {
  background: #53b2e8;
  color: white !important;
}
#betaInvite span.invite-clr {
  float: right;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  color: #53b2e8;
}
#betaInvite h2.title {
  text-align: left;
}
.details_form .form-group .input_outer {
  position: relative;
}
.details_form .form-group {
  margin-bottom: 4px;
  position: relative;
}
span.parent-edit{
  position: absolute;
  top: 14px;
  right: 13px;
}
.btn_style{
  width: 120px;
  min-height: 36px;
  line-height: 36px;
  background: #fff;
  box-shadow: 0px 2px 2px rgb(0 0 0 / 12%);
  border-radius: 20px;
  display: inline-block;
  text-align: center;
  font-family: "poppins";
  font-size: 13px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  font-weight: 600;
  color: #53b2e8 !important;
  transition: 0.8s;
}
.table-beta {
  margin-top: 30px;
}
.beta-row {
  border: 1px solid #53B2E8;
box-sizing: border-box;
border-radius: 20px;
padding: 20px;
align-items: baseline;
margin-bottom: 20px;
}
.btn-flex button.beta-btninvite {
  margin-top: 0px !important;
}
.btn-flex {
  display: flex;
  align-items: baseline;
}
h1.ntaccep-clr {
  color: #FA627D !important;
}
h1.accep-clr {
  color: #53B2E8!important;
}
button.beta-btninvite.ml-2 {
  background: transparent;
  color: #53b2e8;
  border: 1px solid #53b2e8;
}
.beta-row h1 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  color: #494949;
}
.row.beta-row.highlight {
  background: #EAF8FF;
  border-radius: 20px;
  border: 0px;
}
