<body>
    <app-header></app-header>
    <!-- <ng2-toasty>
    </ng2-toasty> -->
    <div class="main_outer">

        <section class="programs_outer">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <h2 class="add_program">Programs <span class="icon icon-plus cursor"
                                (click)="addProgram()"></span> </h2>
                    </div>
                </div>
                <div class="programs_table" infiniteScroll [infiniteScrollDistance]="2 " [infiniteScrollThrottle]="500"
                    (scrolled)="onScroll()" [scrollWindow]="true">
                    <div class="row">
                        <div class="col first_col">
                            &nbsp;
                        </div>
                        <div class="col name">
                            <h5 class="theading">Name</h5>
                        </div>
                        <div class="col category">
                            <h5 class="theading">Category</h5>
                        </div>
                        <div class="col time">
                            <h5 class="theading">Time</h5>
                        </div>
                        <div class="col">
                            <h5 class="theading">Session</h5>
                        </div>
                        <div class="col location">
                            <h5 class="theading">Location</h5>
                        </div>
                        <div class="col">
                            &nbsp;
                        </div>
                    </div>
                    <div class="collapse_outer" *ngFor="let program of programs;index as i">

                        <div class="row align-items-center bg_color" data-toggle="collapse"
                            [attr.data-target]="'#program' + i" aria-expanded="flase">

                            <div class="col">
                                <div (click)="programDetail(program)" class="program_img cursor">
                                    <img *ngIf="program.programImage" src="{{program?.programImage}}"
                                        alt="Program Image">
                                    <img *ngIf="!program.programImage" src="assets/program_img.png"
                                        alt="Program Image">
                                </div>
                            </div>
                            <div class="col name">
                                <h6 class="tdata">{{program.name}}</h6>
                            </div>
                            <div class="col category">
                                <h6 class="tdata">{{program?.categoryName}}</h6>
                            </div>
                            <div class="col time">
                                <h6 class="tdata">
                                    {{program?.time?.from | date:"shortTime"}} –
                                    {{program?.time?.to | date:"shortTime"}}
                                </h6>
                            </div>
                            <div class="col">
                                <h6 class="tdata">{{program.sessions?.length}}</h6>
                            </div>
                            <div class="col location">
                                <h6 class="tdata">
                                    {{program?.location}}
                                </h6>
                            </div>
                            <div class="col publish cursor" (click)="programPublishUnpublish(program,i)">
                                <h6 class="published" *ngIf="program.isPublished===true">Verified</h6>
                                <h6 *ngIf="program.isPublished===false">Verify</h6>
                            </div>

                        </div>
                        <div class="row program_collapse">
                            <div class="col-12 border_top">
                                <div *ngIf="(program.sessions?.length)>0" id="program{{i}}" class="collapse program">
                                    <table cellspcing="0" cellpadding="0" class="table">
                                        <tr>
                                            <th></th>
                                            <th>time</th>
                                            <th>date</th>
                                            <th>instructor</th>
                                            <th>number of seats</th>
                                            <!-- <th>&nbsp;</th> -->
                                        </tr>
                                        <tr class="add_border" *ngFor="let batch of program.sessions">
                                            <td>{{batch.sessionName}}</td>
                                            <td>
                                                {{batch.sessionStartTime | date:"shortTime"}} –
                                                {{batch.sessionEndTime | date:"shortTime"}}
                                            </td>
                                            <td>
                                                {{batch.sessionStartDate | date:"dd:MM:yyyy"}} –
                                                {{batch.sessionEndDate | date:"dd:MM:yyyy"}}
                                            </td>
                                            <td>{{batch.instructor}}</td>
                                            <td>{{batch.noOfSeats}}</td>

                                        </tr>

                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </section>
    </div>
    <ngx-ui-loader bgsType={{loaderType}} fgsType={{loaderType}} fgsSize="40" bgsSize="40" fgsPosition={{loaderPostion}}
        overlayColor="rgba(40,40,40,0.12)">
    </ngx-ui-loader>
    <app-footer></app-footer>

</body>
