<div *ngIf='!cookiesData' class="cookies">
    <h1> Cookies</h1>
    <h2>Wondrfly uses cookies to provide a more personalized browsing experience. By clicking Accept All you agree with the use of cookies as outlined in our <a target="_blank" routerLink="privacy-policy">
        Privacy Policy.</a> </h2>
    <div class="butter-cookies">
        <button class="cursor" (click)="decline()">
            DECLINE ALL
        </button>
        <button class="cursor" (click)="acceptCookies()">
            ACCEPT ALL
        </button>
    </div>
</div>