<div *ngIf='!cookiesData' class="bg-opacity-clr">
<div class="cookies">
    <h1> We are using cookies</h1>
    <h2>Wondrfly uses cookies to provide a more personalized browsing experience. By clicking Accept All you agree with the use of cookies as outlined in our <a target="_blank" routerLink="privacy-policy">
        Privacy Policy.</a> </h2>
    <div class="butter-cookies">
        <button class="cursor" (click)="decline()">
            Decline All
        </button>
        <button class="cursor" (click)="acceptCookies()">
            Accept All 
        </button>
    </div>
</div>
</div>