.program_outer #bannerimage {
  background-size: cover!important;
  background-repeat: no-repeat !important;
  background-position: right top!important;
  border-radius: 0px 0px 20px 20px;
  box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
  height: 200px!important;
}

.program_images {
  width: 100%;
  display: flex;
}
a.business_btn.cursor.contact {
  min-width: 100% !important;
  max-width: 100% !important;
  margin-top: 10px !important;
  min-height: 30px !important;
  line-height: 30px !important;
  padding: 0px 14px !important;
  font-size: 13px !important;
}
.program_images .program_box {
  width: 100%;
  max-width: 350px;
  margin-right: 5px;
}
.description_text.people_section {
  padding: 25px 20px;
}
.health-upper {
  clear: both;
}
.health-upper span {
  margin-left: 10px;
  margin-right: 6px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  letter-spacing: 0.001em;
  color: #494949;
}
.pencil-right {
  float: right;
  filter: invert(61%) sepia(59%) saturate(442%) hue-rotate(159deg)
    brightness(95%) contrast(93%);
  border-radius: 0px !important;
}
.health-lower h1 {
  margin-top: 20px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.001em;
  color: #53b2e8;
}
.health-lower h1 span {
  color: #000;
}
.health-upper img.i-big {
  height: 14.27450942993164px;
  width: 14px;
}
.program_images .program_box:last-child {
  margin-right: 0;
}

.program_images .program_box img {
  max-width: 100%;
}

.program_text {
  margin-top: -40px;
}

.program_text .CategoryText .edit_icon {
  right: 35%;
}

.program_text .CategoryText h5 {
  font-weight: 600;
  font-size: 10px;
  line-height: 14px;
  color: #777cea;
  text-transform: uppercase;
}

.program_text .CategoryText .shareIcon {
  display: inline-block;
}

.program_text .CategoryText .shareIcon a {
  display: inline-block;
  margin: 0 0 0 11px;
  vertical-align: super;
}

.program_text .CategoryText .learn_code {
  width: 144px;
  height: 144px;
  border-radius: 50%;
  display: block;
  overflow: hidden;
  margin: 0px auto;
  text-align: center;
}

.program_text .CategoryText .learn_code img {
  max-width: 100%;
  min-height: 100%;
  object-fit: cover;
  transition: 0.7s;
}

.program_text .CategoryText h3 {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 130%;
  color: #494949;
  margin: 0 0 0 0;
  position: relative;
  display: inline-block;
  width: 90%;
  align-items: center;
  display: flex;
}

.program_text .CategoryText h3 .edit_name {
  position: absolute;
  right: -36px;
  top: 0;
}
.custom_select {
  border-radius: 0px !important;
}
button.camp-btn {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 16px;
  letter-spacing: 0.001em;
  color: #53B2E8;
  background: #E2F5FF;
  border: none;
  border-radius: 20px;
  padding: 7px 8px;
  margin-right: 12px;
  width: 120px;
  text-align: center;
}

/* button:not(:disabled) {
  cursor:auto;
} */


.special-groups span {
  margin: 0px 35px 0px 0px;
}
.special-groups {
  padding-top: 20px;
  padding-bottom: 20px;
}

.special-groups span img {
  margin-right: 10px;
  margin-top: -5px;
}
.session_details {
  margin-top: 10px;
  align-items: center;
  padding-left: 25px;
  padding-bottom: 31px;
}

.session_details .programText {
  margin-top: 53px;
  padding-left: 10px;
}

.session_details p, .session_details p a {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0.001em;
  color: #494949;
  display: inline-block;
  margin: 0 20px 0 0;
  vertical-align: middle;
}

.session_details p img {
  margin-right: 6px;
  vertical-align: middle;
}

.insured_outer {
  border-top: 1px solid #e5e9ec;
  padding: 31px 0 0;
  margin-top: 0;
}

.insured_outer p {
  display: inline-block;
  font-size: 13px;
  line-height: 16px;
  letter-spacing: 0.001em;
  color: #748494;
  margin: 0 35px 0 0;
}

.insured_outer p img {
  max-width: 27px;
  margin-right: 12px;
}

.batch_outer .batch_left {
  background: #ffffff;
  box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.1);
  border-radius: 2px;
  padding: 30px 35px;
  position: relative;
}

.batch_outer .batch_left h2 {
  font-family: "Poppins";
  font-size: 26px;
  line-height: 18px;
  letter-spacing: 0.005em;
  color: #777cea;
}

.batch_box {
  border: 1px solid #e5e9ec;
  border-radius: 4px;
  padding: 16px 28px;
  margin-top: 11px;
}

.batch_box .batch_title p {
  font-weight: 600;
  font-size: 13px;
  line-height: 18px;
  letter-spacing: 0.001em;
  color: #828282;
  margin: 0 0 5px 0;
}

.listing_outer {
  margin-top: 29px;
}

.batch_outer .batch_right {
  background: #ffffff;
  border: 1px solid #e5e9ec;
  box-sizing: border-box;
  border-radius: 2px;
  padding: 21px;
  margin-bottom: 21px;
  position: relative;
}

.batch_outer .batch_right:last-child {
  margin: 0;
}

.batch_outer .batch_right img {
  max-width: 100%;
}

.batch_outer .batch_right.border_none {
  border: none;
  text-align: center;
  padding: 32px;
  border-radius: 20px;
  margin-top: 90px;
}

.batch_outer .batch_right h2 {
  margin-bottom: 30px;
}

.batch_outer .batch_right p, .batch_outer .batch_right p a {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.001em;
  color: #494949;
  margin: 0!important;
}

.batch_outer .batch_right a.business_btn {
  min-height: 36px;
  line-height: 36px;
  width: auto;
  max-width: 100%;
  min-width: 203px;
  text-align: center;
  color: #fff;
  font-size: 14px;
  letter-spacing: 0.005em;
  padding: 0 10px;
  display: inline-block;
  margin-top: 32px;
  transition: 0.8s;
  background: #53b2e8;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.24);
  border-radius: 20px;
  text-transform: uppercase;
  font-weight: 600;
  font-family: "Poppins";
}

.batch_outer .batch_right a.business_btn:hover {
  background: #3f9fd6;
}

.batch_list_outer {
  display: flex;
}

.batch_list_outer .batch_listing {
  display: inline-block;
  margin: 0 15px 0 0;
}

.batch_list_outer .batch_listing label {
  font-weight: 600;
  font-size: 10px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: #53b2e8;
  text-transform: uppercase;
  width: 100%;
}

.batch_list_outer .batch_listing .batch_profile {
  width: 22px;
  height: 22px;
  border-radius: 4px;
  display: inline-block;
  margin-right: 14px;
  overflow: hidden;
  vertical-align: middle;
}

.batch_list_outer .batch_listing .batch_profile img {
  max-width: 100%;
  height: 100%;
}

.batch_list_outer .batch_listing p {
  font-weight: normal;
  font-size: 13px;
  line-height: 16px;
  letter-spacing: 0.001em;
  display: inline-block;
  color: #748494;
  margin: 0;
}

.description_text {
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgb(0 0 0 / 10%);
  border-radius: 20px;
  position: relative;
  padding: 30px;
  margin-bottom: 20px;
}

.description_text:last-child {
  margin: 0;
}

.edit_icon {
  position: absolute;
  right: 30px;
  top: 24px;
}
.clr-blue{color: #53B2E8!important;}
.description_text h2 {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 18px;
  text-align: justify;
  letter-spacing: 0.005em;
  color: #494949;
  margin-bottom: 20px;
}

.description_text p {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: justify;
  letter-spacing: 0.001em;
  color: #494949;
}

.description_text label {
  font-weight: 600;
  font-size: 10px;
  line-height: 14px;
  text-transform: uppercase;
  color: #fa627d;
  width: 100%;
  display: inline-block;
}

.description_text h4 .view_all {
  font-weight: 600;
  font-size: 10px;
  line-height: 15px;
  text-transform: uppercase;
  color: #53b2e8;
  float: right;
  cursor: pointer;
}
.description_text .company_info{
  margin-bottom: 20px;
}
.description_text .company_info .media-body{
  margin-left: 15px;
}
.mb-0{margin-bottom: 0px;}
.reviews_outer {
  margin-top: 36px;
}

.reviews_outer .media {
  margin: 0 0 15px 0;
}

.reviews_outer .media .media-left {
  width: 50px;
  height: 50px;
  border-radius: 4px;
  overflow: hidden;
}

.reviews_outer .media .media-left img {
  max-width: 100%;
  height: 100%;
}

.reviews_outer .media .media-body {
  padding: 0 0 0 12px;
}

.reviews_outer .media .media-body label {
  font-weight: 600;
  font-size: 13px;
  line-height: 18px;
  letter-spacing: 0.001em;
  color: #777cea;
}

.reviews_outer .media .media-body p {
  font-size: 13px;
  line-height: 16px;
  letter-spacing: 0.001em;
  color: #748494;
  margin: 0;
}
a{
  word-break: break-all !important;
}
.menu_control {
  position: absolute;
  top: 0;
  right: 0;
  text-align: center;
}

/* start program detail2 page css */

.batch_outer.detailed2 {
  padding: 30px 0 0 0;
}

.batch_outer.detailed2 .program_text {
  padding: 0 0 31px 0;
}

.learn_code.left img {
  max-width: 100px;
}

.description_text .des_media {
  margin: 0;
}

.description_text .des_media:last-child {
  margin: 0;
}

.description_text .des_media .media {
  margin-top: 17px;
}

.description_text .des_media .media-body {
  padding: 0 0 0 20px;
}

.description_text .des_media .media-body p {
  margin: 0;
}

.subscription_text {
  margin-top: 56px;
}

.subscription_text .subscription_box {
  display: inline-block;
  vertical-align: top;
  margin: 0 161px 0 0;
}

.subscription_text .subscription_box:last-child {
  margin: 0;
}

.social_media {
  margin: 9px 0 0 0;
}

.social_media a .icon {
  color: #748494;
  margin: 0 6px 0 0;
  font-size: 19px;
}

.featured_text .rating_box {
  position: absolute;
  right: 0;
  bottom: 13px;
  top: auto;
}

.featured_text .feature_box p {
  margin: 0 16px 0 0;
}

.featured_text p {
  color: #777cea;
}

.featured_img .coding_text {
  position: absolute;
  bottom: 9px;
  left: 9px;
}

.featured_img .coding_text h3 {
  min-width: 75px;
  min-height: 21px;
  line-height: 21px;
  background: #f15c20;
  border-radius: 10.5px;
  display: inline-block;
  color: #fff;
  font-size: 10px;
  letter-spacing: 0.01em;
  text-align: center;
  text-transform: uppercase;
}

.featured_text .featured_btn {
  border: 1px solid #f15c20;
  color: #f15c20;
}

.featured_text .feature_box {
  margin: 5px 0 12px 0;
}

/* program edit page css */

.batch_outer .batch_right.active_edit {
  padding: 30px;
  text-align: left;
}

.batch_outer .batch_right.active_edit h2 {
  margin: 0;
}

.batch_outer .batch_right .price_child {
  margin-top: 8px;
}

.batch_outer .batch_right .price_child h3 {
  font-weight: 600;
  font-size: 15px;
  line-height: 18px;
  text-align: justify;
  letter-spacing: 0.01em;
  color: #748494;
  display: inline-block;
}

.batch_outer .batch_right .price_child p {
  font-size: 12px;
  line-height: 16px;
  text-align: justify;
  color: #748494;
  display: inline-block;
  margin: 0;
}

.batch_right_form {
  margin-top: 0;
}

.batch_right_form .form-group {
  margin-bottom: 2px;
}

.batch_right_form .adult_assistance {
  width: 100%;
  display: inline-block;
  margin-top: 5px;
}

.batch_right_form .form-group.date_time .input_outer {
  width: 100%;
  border-radius: 4px;
  border: 1px solid #e5e9ec;
  min-height: 52px;
}

.batch_right_form .form-group.date_time .input_outer input {
  max-width: 45%;
  border: none;
  display: inline-block;
}

.batch_right_form .form-group.date_time .input_outer input.right_input {
  text-align: center;
}

.batch_right_form .form-group.date_time .input_outer .arrow_img {
  display: inline-block;
}

.batch_right_form
  .form-group.date_time
  .input_outer
  input::-webkit-calendar-picker-indicator {
  display: none;
  -webkit-appearance: none;
}

.batch_right_form .form-group .udpate_btn {
  width: 100%;
  max-width: 352px;
  background: #f15c20;
  font-family: "Poppins";
  box-sizing: border-box;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12);
  min-height: 52px;
  line-height: 52px;
  border-radius: 4px;
  border: none;
  box-shadow: none;
  font-size: 26px;
  color: #fff;
  transition: 0.8s;
}

.batch_right_form .form-group .udpate_btn:hover {
  background: #c74009;
}

.edit_icon {
  position: absolute;
  right: 30px;
  top: 24px;
}

.description_text .map_img {
  border: 1px solid #e5e9ec;
  border-radius: 2px;
  padding: 24px;
}

.description_text .des_media .media-body.social {
  padding: 0 0 0 40px;
}

.completion_score {
  position: absolute;
  right: 0;
  top: 0;
}

.completion_score p {
  font-weight: 600;
  font-size: 10px;
  line-height: 14px;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  color: #748494;
  display: inline-block;
}

.completion_score a {
  margin: 0 6px 0 0;
}

.completion_score .profile_score {
  display: inline-block;
}

.description_media .edit_icon {
  top: 0;
}

.completion_score.logout {
  top: 20px;
}

/* ------------style.css-------------- */

.form-group label {
  font-weight: 600;
  font-size: 10px;
  line-height: 14px;
  text-transform: uppercase;
  color: #494949;
  padding: 0 0 0 0px;
}

.form-group input {
  width: 100%;
  border-radius: 4px;
  border: 1px solid #e5e9ec;
  min-height: 52px;
  height: auto;
  font-size: 13px;
  color: #748494;
  transition: 0.8s;
  padding: 14px;
}

/* Rounded sliders */

.switch.notification .slider.round {
  border-radius: 34px;
}

.switch.notification .slider.round:before {
  border-radius: 50%;
}

/* ---------------------------------- */

.switch.notification {
  position: relative;
  display: inline-block;
  width: 28px;
  height: 17px;
  margin: 0 0 0 12px;
}

.switch.notification input {
  opacity: 0;
  width: 0;
  height: 0;
}

.switch.notification .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.switch.notification .slider:before {
  position: absolute;
  content: "";
  height: 12px;
  width: 12px;
  left: 4px;
  bottom: 3px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.switch.notification input:checked + .slider {
  background-color: #f15c20;
}

.switch.notification input:focus + .slider {
  box-shadow: 0 0 1px #f15c20;
}

.switch.notification input:checked + .slider:before {
  -webkit-transform: translateX(9px);
  -ms-transform: translateX(9px);
  transform: translateX(9px);
}

/* Rounded sliders */

.switch.notification .slider.round {
  border-radius: 34px;
}

.switch.notification .slider.round:before {
  border-radius: 50%;
}

.description_text h2 a {
  font-weight: 600;
  font-size: 10px;
  line-height: 15px;
  text-transform: uppercase;
  color: #53b2e8;
  float: right;
}

.description_text.people_section .list_box {
  display: inline-block;
  margin-top: 42px;
  background: #ffffff;
  border: 1px solid #e0e0e0;
  border-radius: 20px;
  padding: 23px 34px;
  max-width: 321px;
  margin-right: 32px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
}

.description_text.people_section .media .people_profile {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-top: 0px;
  margin-left: 6px;
  overflow: hidden;
}

.description_text.people_section .media .people_profile img {
  max-width: 100%;
  min-height: 100%;
  object-fit: cover;
}

.description_text.people_section .media .media-left {
  text-align: center;
}

.description_text.people_section .media .media-left h4 {
  font-family: "Poppins";
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  color: #828282;
  margin-top: 15px;
}

.description_text.people_section .media .media-left h5 {
  font-weight: 600;
  font-size: 10px;
  line-height: 14px;
  text-transform: uppercase;
  color: #494949;
  margin-top: 6px;
}

.skills_sec {
  margin-top: 30px;margin-bottom: 10px;
}
.skills_sec .skill_outer span {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0.001em;
  /* color: #494949; */
  color: #53B2E8;
  background: #FFFFFF;
  /* border: 1px solid #494949; */
  border: 1px solid #53B2E8;
  box-sizing: border-box;
  border-radius: 20px;
  padding: 4px 14px;
  margin-right: 11px;
  cursor: pointer;
}


.description_text.people_section .media .media-body h3 {
  margin-top: 18px;
  font-size: 12px;
  line-height: 18px;
  color: #494949;
}

.activities_slider {
  display: inline-block;
  width: 100%;
  cursor: pointer;
  
}


.activities_slide .slide_text h3 {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.001em;
  color: #494949;
  margin-bottom: 15px;
}

.activities_slide .slide_text .rating_box {
  float: right;
  font-size: 12px;
}

.activities_slide .slide_text .rating_box span {
  vertical-align: middle;
  margin-left: 6px;
  color: #494949;
}

.activities_slide .slide_text .date_age p {
  display: inline-block;
  font-size: 12px;
  line-height: 16px;
  font-family: "Poppins";
  color: #494949;
  margin: 0 13px 0 0;
  vertical-align: middle;
}

.activities_slide .slide_text .date_age p:last-child {
  margin: 0;
}
.activities_slide .slide_text span.title {
  white-space: normal;
}
.batch_outer .batch_right.map_provider {
  padding: 0;
  border-radius: 20px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.1));
  margin-bottom: 20px;
}

.batch_outer .batch_right.map_provider img {
  border-radius: 20px;
}
agm-map {
  padding: 0;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.1));
  height: 288px;
}
::ng-deep.agm-map-container-inner {
  width: inherit;
  height: inherit;
  border-radius: 20px;
}
.batchOuter {
  margin-top: 30px;
}

.description_text.people_outer {
  margin-top: 50px;
}

.description_text.people_section .media h4 {
  font-weight: 700;
  font-size: 13px;
  line-height: 19px;
  color: #494949;
  margin-top: 0px;
}

.description_text.people_section .media h5 {
  font-weight: 400;
  font-size: 10px;
  line-height: 14px;
  text-transform: uppercase;
  color: #494949;
  margin-top: 6px;
}

.edit_logo {
  background: #fa627d;
  border: 2px solid #ffffff;
  width: 33px;
  height: 33px;
  border-radius: 50%;
  text-align: center;
  line-height: 25px;
  position: absolute;
  bottom: 0px;
  right: 45px;
}

.batch_outer[_ngcontent-jvi-c2]
  .batch_right[_ngcontent-jvi-c2]
  P[_ngcontent-jvi-c2] {
  font-size: 12px;
  line-height: 18px;
  text-align: center;
  color: #494949;
  margin: 27px 19px 0 0;
}

.program_outer .btn.btn-Grade {
  background: #53b2e8 !important;
  box-shadow: 0px 2px 2px rgb(0 0 0 / 12%) !important;
  border-radius: 20px !important;
  color: #ffffff !important;
  font-family: "Poppins";
  font-size: 12px !important;
  font-weight: 500 !important;
  text-align: center !important;
  min-width: 120px !important;
  line-height: 28px !important;
  min-height: 28px !important;
  margin: 45px 0px 1px -17px;
}
.programInfo {
  width: 100%;
    line-height: 25px;
    margin-top: 0px;
}

@media (min-width: 768px) {
  .edit_logo {
    bottom: 15px;
    right: 36px;
  }
}
@media (max-width: 769px) {
  .edit_logo {
    bottom: 15px;
    right: 36px;
  }
}

@media (max-width: 1024px) {
  .batch_outer .batch_right.border_none {
    padding: 20px;
  }
  .batch_outer .batch_right a.business_btn {
    min-width: 170px;
  }
  .program_outer {
    padding: 0 20px 30px;
  }
  .batch_outer .batch_right h2 {
    font-size: 20px;
  }
  .insured_outer p {
    margin: 0 11px 10px 0;
  }
  .program_text .CategoryText .learn_code {
    width: 104px;
    height: 104px;
  }
  .session_details .programText {
    margin-top: 34px;
  }
  .program_text .CategoryText h3 {
    font-size: 24px;
  }
  .session_details p {
    margin: 0 21px 0 0;
  }
  .activities_slide {
    max-width: 280px;
    margin: 0 26px 26px 0;
  }
}
.scrollmenu {
  overflow: auto;
  white-space: nowrap;
  padding: 8px;
}
::-webkit-scrollbar {
  display: none;
}

.form-group.participant_input .input-group-text {
  padding: 0 21px;
  background-color: #fff;
  border: 1px solid #e5e9ec;
}
.form-group.participant_input input.form-control {
  border-left: none;
  border-radius: 0 4px 4px 0;
}

.upload_btn .btn.btn-Grade {
  position: relative;
}
.upload_btn .btn.btn-Grade::after {
  content: "UPLOAD";
  background-color: #53b2e8;
  color: #fff;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
}

.verification_outer > h2 {
  text-align: center;
}

::ng-deep .modal {
  z-index: 1001 !important;
}

::ng-deep .modal-backdrop {
  z-index: 1000 !important;
}

::ng-deep .pac-container {
  z-index: 1055 !important;
}

.lock-screen {
  height: 100%;
  overflow: hidden;
  width: 100%;
  position: fixed;
}

.program_text .CategoryText .provider_name {
  color: #9b51e0;
  font-size: 24px;
  padding: 10px 0 15px 0px;
}

/* -------------------------------------------------------people card-------------------------------------------------------- */

.description_text.people_sectionn .media .people_profile {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  overflow: hidden;
}
.btn-style{
  background: #53B2E8;
  border: 1px solid #53B2E8;
  border-radius: 20px;
  box-shadow: none;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  padding: 9px 0px;
  color: #fff;
  cursor: auto;
  width: 100px !important;
  margin-left: 20px;
}
.description_text.people_sectionn .media .people_profile img {
  max-width: 100%;
  min-height: 100%;
  object-fit: cover;
}

.description_text.people_sectionn .media .media-left {
  text-align: center;
  max-width: 21%;
}

.description_text.people_sectionn .media .media-left h4 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0.001em;
  text-transform: capitalize;
  color: #494949;
  margin-top: 15px;
}

.description_text.people_sectionn .media .media-left h5 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 10px;
  line-height: 15px;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  color: #53b2e8;
  margin-top: 6px;
}


.description_text.people_sectionn .media .media-body h3 {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: justify;
  letter-spacing: 0.001em;
  color: #494949;
  margin-bottom: 10px;
}
.description_text.people_section.people_outer .people_list {
  display: flex;
  overflow: scroll;
}
.description_text:last-child {
  margin: 0;
}

.activities_slider {
  display: inline-block;
  width: 100%;
  margin-top: 40px;
  cursor: pointer;
}

.activities_slide {
  background: #ffffff;
  border-radius: 20px;
  max-width: 321px;
  height: 100%;
  filter: drop-shadow(3px 3px 3px rgba(0, 0, 0, 0.1));
  box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.05);
  display: inline-block;
  margin-top: 5px;
}

h2.description-activities {
  margin-top: -5px;
  padding-bottom: 35px;
}
.activities_slide .slide_image {
  border-radius: 20px 20px 0px 0px;
  max-width: 100%;
  overflow: hidden;
  box-shadow: 0px 1px 0px rgb(0 0 0 / 9%);
  background: #FFFFFF;
}

.activities_slide .slide_image img {
  max-width: 100%;
  min-height: 100%;
  object-fit: cover;
  border-radius: 20px 20px 0px 0px;
  width: 100%;
  transform: scale(1.05);
  height: 132px;
}


.activities_slide .slide_text {
  padding: 20px;
}

.activities_slide .slide_text .rating_box {
  float: right;
  font-size: 12px;
}

.activities_slide .slide_text .rating_box span {
  vertical-align: middle;
  margin-left: 6px;
  color: #494949;
}

.activities_slide .slide_text .date_age p {
  font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: #494949;
  display: inline-block;
  margin: 0 15px 0 0;
  vertical-align: middle;
}

.activities_slide .slide_text .date_age p img {
  margin-right: 6px;
}

.activities_slide .slide_text .date_age p:last-child {
  margin: 0;
}

.activities_slide .slide_text .sports_btn {
  display: inline-block;
}

.activities_slide .slide_text .sports_btn span {
  font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 16px;
    text-align: justify;
    letter-spacing: 0.001em;
    color: #53B2E8;
    background: #E2F5FF;
    border-radius: 20px;
  display: inline-block;
  padding: 5px 10px;
  text-align: center;
  margin-right: 10px;
  margin-bottom: 10px;
}

.description_text.slider {
  margin-bottom: 20px;
  margin-right: 15px;
  margin-left: 15px;
  padding: 40px 30px;
}

.disable_next {
  background-color: #b5e4f9 !important;
  pointer-events: none;
}

.carousel-cat {
  position: relative;
}
.carousel-nav-icon {
  height: 48px;
  width: 48px;
  background: #ffffff;
  border: 1px solid #ededed;
  box-sizing: border-box;
  color: #494949;
  border-radius: 50%;
  top: 50%;
  position: absolute;
  right: -2%;
}
.carousel-nav-icon svg {
  width: 20px;
  height: 20px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-top: 13px;
}
.carousel-inner {
  padding-bottom: 20px;
}
.forth_section_heading span.blue_heading {
  float: right;
  text-decoration: underline;
}
.forth_section {
  padding-top: 50px;
}
.forth_section_heading h2 {
  margin-bottom: 30px;
}
.forth_section_title {
  font-family: "Poppins";
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.1em;
  text-transform: capitalize;
  color: #494949;
  padding-bottom: 10px;
  padding-top: 5px;
}
img.forth_section_image {
  padding-bottom: 17px;
  width: 357px;
  height: 238px;
  object-fit: cover;
}
.forth_section_image_section {
  padding-bottom: 45px;
}
.interested_title {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 36px;
  letter-spacing: 0.1em;
  text-transform: capitalize;
  color: #494949;
  text-align: center;
}
.small_section {
  display: flex;
  align-items: center;
}
span.blue_heading {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-align: justify;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  color: #53B2E8;
}
span.more-programscolor {
  color: #53b2e8;
}
.people-block {
  margin-bottom: 20px;
}
.share_icon {
  display: flex;
  justify-content: space-between;
  width: 6%;
  position: absolute;
  top: 6px;
  right: 3px;
}
button.addimagebtn {
  background: #53b2e8;
  border: 1px solid #393d3f;
  box-sizing: border-box;
  box-shadow: 0px 2px 2px rgb(0 0 0 / 12%);
  border-radius: 50px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #ffffff;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  position: absolute;
  top: -30px;
  left: 920px;
}
.rating-starsearch {
  position: relative;
  top: -3px;
  left: 10px;
}
.star-daialogbox {
  position: absolute;
  z-index: 5;
  width: 400px;
  left: -112px;
}
.star-daialogcontent {
  left: 0px !important;
}
.subCat {
  color: #53b2e8;
  cursor: pointer;
}

@media only screen and (min-width: 1024px) and (max-width: 1366px) and (orientation: portrait) {
  .carousel-nav-icon {
    left: 884px;
  }
  button.addimagebtn {
    left: 760px;
  }
}

.close {
  position: absolute;
  top: 18px;
  right: 17px;
  z-index: 1;
}
.close span {
  color: #8e8f90;
  font-size: 25px;
}
button.bt-chat {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 10px;
  line-height: 18px;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #53b2e8;
  background: #ffffff;
  border: 1px solid #53b2e8;
  box-sizing: border-box;
  border-radius: 15px;
  padding: 5px;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 10px;
}

/* map popup */
/* .map-popup {
  padding: 10px;
} */
.map-popup h1 {
  font-family: "Poppins";
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  letter-spacing: 0.001em;
  color: #494949;
  margin-bottom: 10px;
}
.map-popup h2 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.001em;
  color: #494949;
  margin-bottom: 10px;
}
.map-locationtext h3 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 15px;
  color: #828282;
  margin-left: 10px;
  display: flex;
  flex-wrap: wrap;
  max-width: 85%;
}
.map-locationtext {
  margin-top: 15px;
  margin-bottom: 10px;
  display: flex;
  align-items: baseline;
}
button.map-buttonas {
  background: #53b2e8;
  border-radius: 25.1946px;
  border: none;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 100%;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  padding: 10px;
  padding-left: 30px;
  padding-right: 30px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-top: 15px;
  margin-bottom: 10px;
}
::ng-deep .gm-style-iw-d {
  overflow: auto !important;
}
::ng-deep .gm-style .gm-style-iw-t::after {
  width: 0px !important;
}
::ng-deep .gm-style .gm-style-iw-c {
  background: #ffffff !important;
  box-shadow: 0px 4px 4px rgb(0 0 0 / 25%) !important;
  border-radius: 20px !important;
  top: 20px !important;
  max-width: 220px !important;
  min-height: auto !important;
}
::ng-deep button.gm-ui-hover-effect {
  top: 0px !important;
  right: 0px !important;
  display: none !important;
}
::ng-deep .gm-style-iw-d {
  padding: 10px;
  padding-top: 0px;
  padding-left: 0px;
}
.initial-alpha-profile {
  position: relative;
  background: #dcf3ff;
  width: 154px;
    height: 154px;
    border-radius: 50%;
    display: inline-block;
    overflow: hidden;
}
.initial-alpha-profile h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #53b2e8;
  font-size: 40px;
  font-family: "poppins";
  text-transform: uppercase;
}
.media-left.profile-text {
  display: grid;
}
div#cat-subcat {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: 30px 0px;
}

.moreBtn {
  padding-right: 15px;
  padding-left: 15px;
  line-height: 17px;
  background: #ffffff;
  border: 1px solid #53b2e8;
  border-radius: 20px;
  display: inline-block;
  font-size: 11px;
  letter-spacing: 0.01em;
  text-align: center;
  font-family: "Poppins";
  font-style: normal;
  font-weight: normal;
  letter-spacing: 0.001em;
  color: #53b2e8;
  margin-left: 14px;
  position: relative;
}
div#moreBtn-collapse {
  background-color: #fff;
  box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
  border-radius: 20px;
  padding: 20px 0 20px 0;
  z-index: 11;
  width: 271px;
  min-width: 290px;
  text-align: left;
  position: absolute;
  left: 16%;
  bottom: -47%;
}
p#moreBtn-collapse-cursor {
  padding-right: 10px;
  padding-left: 10px;
  line-height: 25px;
  border-radius: 20px;
  background-color: #e2f5ff;
  display: inline-block;
  color: #53b2e8;
  font-size: 11px;
  letter-spacing: 0.01em;
  text-align: center;
  margin-left: 10px;
  margin-top: 5px;
  margin-right: 0;
}
span#closeBtn {
  display: block;
  margin-left: auto;
  margin-top: -20px;
  margin-right: 9px;
  cursor: pointer;
}
.company_info .icon {
  color: #53b2e8;
  font-size: 20px;
}
.company_info h4 {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 10px;
  line-height: 15px;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  color: #494949;
  margin-bottom: 9px;
}
.company_info p {
  font-size: 13px !important;
  line-height: 16px;
  letter-spacing: 0.001em;
  color: #494949;
  margin: 5px 0 0 0 !important;
  text-align: left;
  text-align: left !important;
}
.social-icons.media.company_info img {
  width: 20px;
  border-radius: 0px;
}
.social-icons.media.company_info a {
  margin-right: 20px;
}
.social-icons.media.company_info{
  text-align: center;
}
.program_text .CategoryText .learn_code img:hover {
  transform: scale(0.8);
}


::ng-deep.center-center{
  transform: translate(-210%,-50%) !important;
  top: 40% !important;
}

.skill_flex{
  display: flex !important;
  }



   /* start bottom programs list  */
   .media-scroable {
    display: flex;
    overflow: hidden;
    scroll-behavior: smooth;
}
.media-scroable .media.activity {
    min-width: 220px;
    /* max-width: 220px; */
    border: 0px;
    margin: 0px;
    padding-bottom: 20px;
}
.media-scroable .media.activity .media-body {
    padding: 15px 15px;
    margin-right: 5px;
    margin-left: 5px;
}
.media-scroable .media.activity .media-left.activity-imgs,
.media-scroable .media.activity .media-body .share_icon,
.media-scroable .media.activity .media-body .list.col-12.mt-2.mb-1,
.media-scroable .media.activity .media-body .rating-starsearch,
.media-scroable .media.activity .media-body .coding_text,
.display-none {
    display: none;
}
.media-scroable .media.activity .media-body {background: #FFFFFF;box-shadow: 0px 10px 20px rgb(0 0 0 / 10%);position: relative;border-radius: 18px;padding: 20px;min-height: 282px;}
.media-scroable .media.activity .media-body h2 {font-family: 'Poppins';font-style: normal;font-weight: 400;font-size: 14px;line-height: 21px;align-items: center;letter-spacing: 0.001em;color: #53B2E8;max-width: 100%;display: -webkit-box;max-height: 45px;-webkit-line-clamp: 2;-webkit-box-orient: vertical;overflow: hidden;text-overflow: ellipsis;}
.media-right-icon-h2 {display: grid;grid-template-columns: auto 30px;margin-bottom: 20px; 
  /* align-items: center;height: 50px; */
}
.activity .media-body .bookmark_outer {
  display: inline-block;
  margin: 0 0 0 9px;
}
/* end bottom programs list */