

<body>

  <div class="type_outer">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div class="type_box">
            <img src="assets/parents.svg" alt="Forum image">
            <h2>Parents</h2>
            <p>Metus pretium ut cursus faucibus. Nibh bibendum ac ullamcorper nulla semper orci convallis. Viverra
              euismod ullamcorper vel arcu pharetra cras consequat orci elementum.</p>
            <a class="cursor" (click)="forum('parent')">View all</a>
          </div>
        </div>
        <div class="col-md-4">
          <div class="type_box">
            <img src="assets/provider.svg" alt="Forum image">
            <h2>Provider</h2>
            <p>Metus pretium ut cursus faucibus. Nibh bibendum ac ullamcorper nulla semper orci convallis. Viverra
              euismod ullamcorper vel arcu pharetra cras consequat orci elementum.</p>
            <a class="cursor" (click)="forum('provider')">View all</a>
          </div>
        </div>
        <div class="col-md-4">
          <div class="type_box">
            <img src="assets/general.svg" alt="Forum image">
            <h2>General</h2>
            <p>Metus pretium ut cursus faucibus. Nibh bibendum ac ullamcorper nulla semper orci convallis. Viverra
              euismod ullamcorper vel arcu pharetra cras consequat orci elementum.</p>
            <a class="cursor" (click)="forum('all')">View all</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
