
.lower-blog-sec .card h5.card-title {
  font-family: "Poppins";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 18px;
  letter-spacing: 0.005em;
  color: #494949;
  margin-top: 20px;
}
.lower-blog-sec .card p.card-text {
  font-family: "Poppins";
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  text-align: center;
  letter-spacing: 0.001em;
  color: #494949;
  margin-top: 25px;
  margin-bottom: 25px;
  min-height: 67px;
}
.lower-resources-sec .card img {
  border-radius: 20px 20px 0px 0px;
}
.lower-blog-sec .card h6 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.001em;
  color: #494949;
  margin-bottom: 25px;
  min-height: 42px;
}
.lower-blog-sec .card button {
  background: #53b2e8;
  box-shadow: 0px 1px 1px rgb(0 0 0 / 25%);
  border-radius: 50px;
  padding: 15px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.001em;
  text-transform: uppercase;
  color: #ffffff;
  padding-left: 30px;
  padding-right: 30px;
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0px;
}
.lower-blog-sec .card button a {
  color: #ffffff;
}
.lower-blog-sec .card span {
  color: #fa627d;
}
.lower-resources-sec .card {
  background: #ffffff;
  box-shadow: 0px 2px 10px rgb(0 0 0 / 15%);
  border-radius: 20px;
  border: 0px;
  min-height: 320px;
}
.list.join-flex h5 {
  min-height: 50px;
}
.lower-resources-sec .card h5.card-title {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 18px;
  letter-spacing: 0.005em;
  color: #494949;
}
.lower-resources-sec .card p.card-text {
  font-family: "Poppins";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: 0.001em;
  color: #494949;
  margin-top: 15px;
  margin-bottom: 15px;
}
.lower-resources-sec .card .list {
  display: flex;
  justify-content: center !important;
  flex-direction: column;
  align-items: center;
}
.lower-resources-sec .card .list p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  color: #494949;
  display: flex;
  align-items: center;
}
.lower-resources-sec .card .list p a {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.001em;
  text-decoration-line: underline;
  text-transform: uppercase;
  color: #53b2e8;
  margin-top: 40px;
}
.list-flex {
  display: flex;
  width: 70%;
  justify-content: space-between;
}
.list-flex p img {
  margin-right: 7px;
}
.lower-resources-sec button {
  background: #53b2e8;
  box-shadow: 0px 1px 1px rgb(0 0 0 / 25%);
  border-radius: 50px;
  border: 0px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.001em;
  text-transform: uppercase;
  color: #ffffff;
  padding: 10px;
  padding-left: 15px;
  padding-right: 15px;
  float: right;
}
section.resouves-beta {
  padding: 80px;
}
.list.join-flex {
  margin-top: 15px;
  text-align: center;
}
h6.card-title {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 18px;
  letter-spacing: 0.005em;
  text-transform: capitalize;
  color: #494949;
}
h3.date-watch {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 40px;
  letter-spacing: 0.05em;
  text-transform: capitalize;
  color: #53B2E8;
  margin-top: -15px;
}
.card.card-beta {
  margin-bottom: 30px;

}
/* --------- */
.forth_section_heading span.blue_heading {
  float: right;
  cursor: pointer;
}
.forth_section_heading h1 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 40px;
  letter-spacing: 0.05em;
  text-transform: capitalize;
  color: #494949;
  padding-top: 15px;
  padding-bottom: 30px;
}
.forth_section_title {
  font-family: "Poppins";
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.1em;
  text-transform: capitalize;
  color: #494949;
  padding-bottom: 10px;
  padding-top: 5px;
}
img.forth_section_image {
  height: 250px;
  width: 100%;
  object-fit: cover;
  transition: 1s;
  object-position: top;
}
.forth_section {
  margin-top: 30px;
}
.container.lfex {
  padding-left: 0px;
  padding-right: 0px;
}
.forth_section_title.cursor:hover {
  color:#53b2e8;
}
.forth_section_image_section {
  padding-bottom: 45px;
}
.images_section .main_headings.cursor h2:hover {
  color: #53b2e8;
}
.small_section_heading:hover {
  color: #53b2e8;
}
.forth_section_heading h1:hover {
  color: #53b2e8;
}
.interested_title:hover {
  color: #53b2e8;
}
.img-overflow {
  overflow: hidden;
  transition: 1s;
  margin-bottom: 17px;
}
.forth_section_heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

img.forth_section_image:hover {
  transform: scale(1.2);
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
  li.search_bar {
    width: 90% !important;
  }
  .images_section .main_img img {
    width: 100%;
  }
  .forth_section .forth_section_image_section img.forth_section_image {
    width: 100%;
  }
  .fifth_section .row.container img {
    width: 100%;
  }
  .sixth_section img.forth_section_image {
    width: 100%;
  }
  img.search_img {
    cursor: pointer;
    position: absolute;
    top: 22px;
    right: 0px;
  }

  .main_collpase {
    padding: 28px 0 13px 0;
    min-width: 315px;
    left: 81px;
  }

  .content_text {
    font-family: "Poppins";
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    text-transform: capitalize;
    color: #494949;
  }
  span.search_bar input[type="text"] {
    background: #f9fafa;
    border: 1px solid #c5c6c8;
    box-sizing: border-box;
    border-radius: 40px;
    padding: 4px;
    cursor: pointer;
  }

}
.container-fluid.recent-section {
  background: #e9f7ff;
}
