<app-header></app-header>


<div class="common-headermargin">
  <section class="resouves-beta">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="box">
            <div class="lower-resources-sec">
              <div class="row">
                <div class="col-md-3" *ngFor="let printable of resources">
                  <div class="card card-beta">
                    <img *ngIf="printable?.coverPic?.url" class="card-img-top" src="{{blogUrl}}{{printable?.coverPic?.url}}" />
                    <img *ngIf="!printable?.coverPic?.url" class="card-img-top" src="assets/resource-view2.png" />
                    <div class="card-body">
                      <div class="list join-flex">
                        <h5>{{printable?.title}}</h5>
                        <p>
                          <a (click)="downloadFile(printable?.file)"


                          >DOWNLOAD</a>
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              
              </div>
            </div>
          </div>
        </div>


      </div>


    </div>
  </section>
</div>




<app-footer></app-footer>
