<app-header></app-header>


<div class="common-headermargin">
  <section class="resouves-beta">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="box">
            <div class="lower-resources-sec">
              <div class="row">
                <div class="col-md-3">
                  <div class="card card-beta">
                    <img class="card-img-top" src="assets/resource-view1.png" />
                    <div class="card-body">
                      <div class="list join-flex">
                        <h5>Neighbourhood Scavanger Hunt</h5>
                        <p>
                          <a href="" target="_blank">DOWNLOAD</a>
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="card card-beta">
                    <img class="card-img-top" src="assets/resource-view2.png" />
                    <div class="card-body">
                      <div class="list join-flex">
                        <h5>Thanksgiving Scavanger Hunt</h5>
                        <p>
                          <a href="" target="_blank">DOWNLOAD</a>
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="card card-beta">
                    <img class="card-img-top" src="assets/resource-view3.png" />
                    <div class="card-body">
                      <div class="list join-flex">
                        <h5>Playground Scavanger Hunt</h5>
                        <p>
                          <a href="" target="_blank">DOWNLOAD</a>
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="card card-beta">
                    <img class="card-img-top" src="assets/resource-view4.png" />
                    <div class="card-body">
                      <div class="list join-flex">
                        <h5>Mealtime Chat Chart #1</h5>
                        <p>
                          <a href="" target="_blank">DOWNLOAD</a>
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="card card-beta">
                    <img class="card-img-top" src="assets/resource-view5.png" />
                    <div class="card-body">
                      <div class="list join-flex">
                        <h5>Mealtime Chat Chart #2</h5>
                        <p>
                          <a href="" target="_blank">DOWNLOAD</a>
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="card card-beta">
                    <img class="card-img-top" src="assets/resource-view6.png" />
                    <div class="card-body">
                      <div class="list join-flex">
                        <h5>Playdate Invitation</h5>
                        <p>
                          <a href="" target="_blank">DOWNLOAD</a>
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="card card-beta">
                    <img class="card-img-top" src="assets/resource-view7.png" />
                    <div class="card-body">
                      <div class="list join-flex">
                        <h5>Tantrum Taming Tips</h5>
                        <p>
                          <a href="" target="_blank">DOWNLOAD</a>
                        </p>
                      </div>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>


      </div>


    </div>
  </section>
</div>




<app-footer></app-footer>
