


<div class="content box">

    <div class="categories-box">
		<div class="container1">
		<div class="row">
			<div class="col-md-6 button-spacing">
				<h1 *ngIf='categoryName' class="painting-header">{{categoryName}}</h1>
			</div>
			

			<div class="col-md-1">

			</div>
			<div class="col-md-2">
		
			</div>
			<div class="col-md-2" id="accordionExample">
				<h5 *ngIf="categoryName !='Most Viewed'" class="dropdown-text"> Sort by: Recent Posts </h5>
                <h5  *ngIf="categoryName =='Most Viewed'" class="dropdown-text"> Sort by: {{categoryName}}</h5>
				<span class="arrow-cross cursor" aria-expanded="true" data-target="#location" data-toggle="collapse" > <img src="assets/down_arrow_blog.png"> </span>
				<div class="dropdown-box" class="collapse main_collpase  recentbtn verification_modal" id="location"
                data-parent="#accordionExample">

                <button (click)="getBlogByCat()" type="button" class="btn drop-2" [ngClass]="{ 'active':categoryName != 'Most Viewed' }" data-target="#location" data-toggle="collapse">Recent posts
                 <span class="arrow-down cursor" > <img src="assets/down_arrow_blog.png" *ngIf="categoryName !='Most Viewed'"> </span>
                </button>

			    <button (click)="mostViewed()" type="button" class="btn drop-2" [ngClass]=" {'active':categoryName == 'Most Viewed'}"
                data-target="#location" data-toggle="collapse">Most Viewed  <span class="arrow-down cursor" > <img src="assets/down_arrow_blog.png" *ngIf="categoryName =='Most Viewed'"></span>
                </button>

				</div>
			</div>
		</div>
	</div>
	</div>
    <div class="container1">
            <div class="forth_section_image_section">
                <div class="row">

                    <div class="col-4" *ngFor="let blog of searchCatgData?.blogs  | slice:0:9 let i =index">
                        <img (click)="setBlog(blog)" class="forth_section_image cursor" src="{{blogUrl}}{{blog?.image[0]?.url}}">
                        <div class="date">
                            <span class="blue_heading">{{blog?.published_at | date:'mediumDate'}}</span>
                        </div>
                        <div class="forth_section_title cursor" (click)="setBlog(blog)">
                            {{blog?.title}}
                        </div>
                        <div class="content_text">
                            <app-read-more [content]="blog?.content" [limit]="100" [completeWords]='true' [blogData]='blog'>
                            </app-read-more>
                            <!-- <span class="blue_heading">Learn More</span> -->
                        </div>

                    </div>
                </div>
            </div>


    </div>

    <div class="container1">
        <div class="seventh_section">
            <div class="up_to_date">
                Stay upto date
            </div>
            <div class="seventh_section_content">
                Stay upto date and receive best promotions directly in your inbox. <br>
                We promise not to spam you.
            </div>
            <div class="search_bar">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="example@domain.com">
                    <div class="input-group-pend">
                        <button class="Submit_btn" type="button">Submit</button>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <br><br>
    <br>


</div>

<!-- ------------------------popup html start-------------------------- -->
