footer {
    background-color: #53B2E8;
    padding:25px 0;
}

.footer_logo {
    display: inline-block;
    width: 100%;
}

.footer_logo a img {
    max-width: 78px;
}

.footer_menu {
    display: inline-block;
    width: 100%;
}

.footer_menu ul {
    margin-top: 7px;
}

.footer_menu ul li {
    display: inline-block;
    margin: 0 27px 0 0;
}

.footer_menu ul a {
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.001em;
    color: #fff;
}

.footer_menu ul a:hover {
    color: #fff;
}

.copyright_text {
    margin-top: 35px;
}

.copyright_text p {
    font-weight: normal;
    font-size: 13px;
    line-height: 16px;
    margin-top: 30px;
    margin: 0;
    color: #ffffff;
}

.footer_left {
    float: left;
}

.social_icon_footer {
    float: right;
    margin-top: 10px;
}

.social_icon_footer ul li {
    display: inline-block;
}

.social_icon_footer li a {
    display: inline-block;
    margin-right: 14px;
}

.social_icon_footer li:last-child a {
    margin: 0;
}

.social_icon_footer li a .icon {
    font-size: 16px;
    color: #fff;
    transition: 0.8s;
}
.social_icon_footer li a .icon img{
    width:16px;
    height:16px;
    margin-top: -5px;
}
.social_icon_footer li a:hover .icon.icon-facebook {
    color: #395794;
}

.social_icon_footer li a:hover .icon.icon-instagram {
    color: #d60044;
}
.social_icon_footer li a:hover .icon.icon-twitter {
    color: #1DA1F2;
}
.social_icon_footer li a .icon:hover img {
    background-color: #0e76a8;
}
.social_icon_footer li a:hover .icon.icon-pinterest {
    color: #e11e27;
}
.contact-us {
    padding: 100px;
}
.contact-us .contact-usdata {
    padding: 30px;
    padding-top: 0px;
}
.contact-usform form .form-group.text-lengthno {
    position: relative;
}
.contact-us .contact-usdata h1 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 45px;
    text-transform: capitalize;
    color: #494949;
}
.contact-us .contact-usdata h2 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height:30px;
    color: #494949;
    padding-top: 15px;
    padding-bottom: 30px;
}
.contact-us .contact-usdata .social-icons a {
    margin: 0px 12px 0px 0px;
}
.contact-us .contact-usdata a.fb:hover img {
    filter: invert(38%) sepia(7%) saturate(4607%) hue-rotate(182deg) brightness(96%) contrast(86%);
    }
.contact-us .contact-usdata a.insta:hover img {
    filter: invert(31%) sepia(100%) saturate(1050%) hue-rotate(308deg) brightness(88%) contrast(103%);
    }
.contact-us .contact-usdata a.tweet:hover img {
    filter: invert(47%) sepia(92%) saturate(1449%) hue-rotate(176deg) brightness(99%) contrast(91%);
    }
.contact-us .contact-usdata a.pin:hover img {
    filter: invert(14%) sepia(71%) saturate(5505%) hue-rotate(342deg) brightness(91%) contrast(115%);
    }
.contact-us .contact-usdata a.link:hover img {
    filter: invert(33%) sepia(47%) saturate(2010%) hue-rotate(173deg) brightness(94%) contrast(101%);
    }
.contact-usform form .form-group {
    margin: 25px 0px 0px 0px;
}
.contact-us .contact-usform .form-group label {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 10px;
    line-height: 15px;
    letter-spacing: 0.01em;
    text-transform: uppercase;
    color: #494949;
    padding-left: 0px;
}
.contact-usform h1 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    color: #494949;
    margin-top: 10px;
}
.contact-usform form button {
    background: #53B2E8;
    border-radius: 20px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #FFFFFF;
    border: none;
    margin-top: 25px;
    padding: 8px;
    padding-left: 20px;
    padding-right: 20px;
}
.imgage-corners {
    position: absolute;
    top: 89px;
    left: -41px;
}
.imgage-corners img {
    width: 250px;
}
.contact-usform .image-corners {
    position: absolute;
    bottom: -95px;
    right: -102px;
}
.contact-usform {
    position: relative;
}
.contact-usform .image-corners img {
    width: 250px;
}
@media only screen and (min-width:1024px) and (max-width:1366px) and (orientation: portrait)  {

    footer {
        background-color: #53B2E8;
        padding: 25px 0;
        position: fixed;
        width: 100%;
        bottom: 0px;
    }




}