
<footer>
  <div class="container">
      <div class="footer_inner">
          <div class="row align-items-center">
              <div class="col-12">
                  <div class="footer_left">
                      <!-- <div class="footer_logo">
                          <a href="landing">
                              <img *ngIf="auth.currentUser()" src="assets/newlogowhite.png" alt="Logo">
                          </a>
                      </div> -->
                      <div class="footer_menu">
                          <ul>
                              <li>
                                  <a [routerLink]="['/about-wondrfly']"> About Us</a>
                              </li>
                              <li >
                                  <a [routerLink]="['/blogs']">Blog</a>
                                </li>
                                <li>
                                  <a [routerLink]="['/faq']">FAQ</a>
                              </li>
                              <!-- <li>
                                  <a [routerLink]="['/ambassador-policy']">Ambassador</a>
                              </li> -->
                              <li>
                                  <a [routerLink]="['/term-condition']">Terms & Conditions</a>
                              </li>
                              <li>
                                  <a [routerLink]="['/privacyPolicy']">Privacy Policy</a>
                              </li>

                              <li>
                                  <a [routerLink]="['/contactUs']">Contact Us</a>
                              </li>


                          </ul>
                      </div>

                      <div class="copyright_text">
                          <p>© 2021 Wondrfly Inc. All Rights Reserved.</p>
                      </div>
                  </div>

                  <div class="social_icon_footer">
                      <ul>
                          <li>
                              <a href="https://www.facebook.com/wondrfly" target="_blank">
                                  <span class="icon icon-facebook"></span>
                              </a>
                          </li>
                          <li>
                              <a href="https://www.instagram.com/wondrfly/" target="_blank">
                                  <span class="icon icon-instagram"></span>
                              </a>
                          </li>
                          <!-- <li>
                              <a href="javascript:;">
                                  <span class="icon icon-twitter"></span>
                              </a>
                          </li> -->
                          <li>
                              <a href="#">
                                  <span class="icon icon-pinterest"></span>
                              </a>
                          </li>
                          <!-- <li>
                              <a href="#">
                                  <span class="icon">
                                      <img src="assets/linkedin.png">
                                  </span>
                              </a>
                          </li> -->
                      </ul>
                  </div>
              </div>
          </div>
      </div>
  </div>
</footer>
