/*
footer {
    padding-bottom: 26px;
    padding: 31px 25px;
    background-color: #FFFFFF;
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.1);
}

.footer_logo {
    display: inline-block;
    width: 100%;
}

.footer_logo a img {
    max-width: 94px;
}

.footer_menu {
    display: inline-block;
    width: 100%;
}

.footer_menu ul {
    margin-top: 7px;
}

.footer_menu ul li {
    display: inline-block;
    margin: 0 27px 0 0;
}

.footer_menu ul a {
    font-weight: normal;
    font-family: 'Poppins';
    font-size: 13px;
    line-height: 19px;
    letter-spacing: 0.001em;
    color: #494949;
}

.footer_menu ul a:hover {
    color: #53B2E8;
}

.copyright_text {
    margin-top: 35px;
    clear: both;
}

.copyright_text p {
    font-family: 'Poppins';
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    margin: 0;
    color: #494949;
}

ul,
li,
a {
    list-style: none;
    padding: 0;
    margin: 0;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}
.footer-icons a {
    margin-left: 12px;
}
.footer-icons {
    float: right;
    margin-top: -15px;
}

.footer-icons a.fb:hover img {
    filter: invert(38%) sepia(7%) saturate(4607%) hue-rotate(182deg) brightness(96%) contrast(86%);
    }
.footer-icons a.insta:hover img {
    filter: invert(31%) sepia(100%) saturate(1050%) hue-rotate(308deg) brightness(88%) contrast(103%);
    }
.footer-icons a.tweet:hover img {
    filter: invert(47%) sepia(92%) saturate(1449%) hue-rotate(176deg) brightness(99%) contrast(91%);
    }
.footer-icons a.pin:hover img {
    filter: invert(14%) sepia(71%) saturate(5505%) hue-rotate(342deg) brightness(91%) contrast(115%);
    }
.footer-icons a.link:hover img {
    filter: invert(33%) sepia(47%) saturate(2010%) hue-rotate(173deg) brightness(94%) contrast(101%);
    } */



    /* --------------------------------------blue footer------------------------------------- */
    footer {
      background-color: #53B2E8;
      padding:25px 0;
  }

  .footer_logo {
      display: inline-block;
      width: 100%;
  }

  .footer_logo a img {
      max-width: 78px;
  }

  .footer_menu {
      display: inline-block;
      width: 100%;
  }

  .footer_menu ul {
      margin-top: 7px;
  }

  .footer_menu ul li {
      display: inline-block;
      margin: 0 27px 0 0;
  }

  .footer_menu ul a {
      font-weight: normal;
      font-size: 14px;
      line-height: 18px;
      letter-spacing: 0.001em;
      color: #fff;
  }

  .footer_menu ul a:hover {
      color: #fff;
  }

  .copyright_text {
      margin-top: 35px;
  }

  .copyright_text p {
      font-weight: normal;
      font-size: 13px;
      line-height: 16px;
      margin: 0;
      color: #ffffff;
  }

  .footer_left {
      float: left;
  }

  .social_icon_footer {
      float: right;
      margin-top: 10px;
  }

  .social_icon_footer ul li {
      display: inline-block;
  }

  .social_icon_footer li a {
      display: inline-block;
      margin-right: 14px;
  }

  .social_icon_footer li:last-child a {
      margin: 0;
  }

  .social_icon_footer li a .icon {
      font-size: 16px;
      color: #fff;
      transition: 0.8s;
  }
  .social_icon_footer li a .icon img{
      width:16px;
      height:16px;
      margin-top: -5px;
  }
  .social_icon_footer li a:hover .icon.icon-facebook {
      color: #395794;
  }

  .social_icon_footer li a:hover .icon.icon-instagram {
      color: #d60044;
  }
  .social_icon_footer li a:hover .icon.icon-twitter {
      color: #1DA1F2;
  }
  .social_icon_footer li a .icon:hover img {
      background-color: #0e76a8;
  }
  .social_icon_footer li a:hover .icon.icon-pinterest {
      color: #e11e27;
  }
