<header [ngClass]="{'search-header':logoPosition}">
    <div class="container">


    <nav class="navbar navbar-expand-lg navbar-light">
        <a class="mr-auto cursor" (click)="logo()">
            <img *ngIf="!logoPosition" src="assets/logo.svg" alt="Logo">
            <img *ngIf="logoPosition" class="header-image-search" src="assets/logo.svg" alt="Logo">
        </a>

        <div class="left-searchpd" *ngIf="!searchBar">
            <div class="left_search">
                <div>
                    <form class="banner_form" data-toggle="collapse" href="#dropdownprogram-provider" role="button" aria-expanded="false" aria-controls="dropdownprogram-provider">
                        <div class="form-group ">
                            <input type="text" autocomplete="off" (keyup)="searchCategory(filterData.activityName);providerSearch(filterData.activityName)"
                            [(ngModel)]="filterData.activityName"
                              placeholder="Search Activity..."
                                class="form-control camp_input " name="activityName">
                        </div>
                        <div class="form-group cursor" >
                            <button class="banner_button cursor" type="submit" routerLink="search" (click)="searchActivityByNameDate()">
                                <img src="assets/search_icon.svg" alt="Search image">
                            </button>

                        </div>

                        <div class="dropdownprogram" *ngIf="(categoriesBySearch?.length || providersBySearch?.length ) && filterData.activityName" >
                            <div class="card card-body">
                              <div class="program-list"
                                *ngIf="categoriesBySearch?.length">
                                <h6  (click)="searchActivityByCategory(category.id)" *ngFor="let category of categoriesBySearch | slice:0:4">
                                    {{category.name}}
                                    <span class="search-programlist">
                                        <img src="assets/program-search.svg">
                                    </span>
                                </h6>
                              </div>
                              <hr>
                              <div class="provider-list" *ngIf="providersBySearch?.length">
                                <h5>
                                    Providers
                                </h5>
                                <h6 (click)="goToProviderProfile(provider)" *ngFor="let provider of providersBySearch | slice:0:4">
                                    {{provider.firstName}}
                                </h6>
                              </div>
                            </div>
                        </div>
                    </form>
                </div>

            </div>
        </div>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto" [ngClass]="{'before-nav':logoPosition}">
                <li class="nav-item">
                    <a class="nav-link cursor" [routerLink]="['/about-wondrfly']">About Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link cursor" [routerLink]="['/blogs']">Blog</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link cursor" [routerLink]="['/faq']">FAQ</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link cursor" [routerLink]="['/sign-up']">Create an account</a>
                </li>
                <li>
                    <a [routerLink]="['/login']" class="btn_style cursor">SIGN IN</a>
                </li>
            </ul>
        </div>
    </nav>
</div>
</header>
