header {
    background-color: #fff;
    padding:0 35px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.24);
}

header .logo {
    max-width: 136px;
}

header .logo img {
    max-width: 100%;
}

.content_outer {
    padding-top: 99px;
    padding-bottom: 36px;
}

header .navbar {
    padding: 0;
}

header .navbar-light .navbar-nav .nav-link {
    font-size: 13px;
    line-height: 16px;
    color: #494949;
    padding: 9px 0;
    margin-right: 25px;
}

header .navbar-nav .btn_style {
    background-color: #53B2E8;
    border-color: #53B2E8;
    box-shadow: none;
    border-radius: 26px;
    font-weight: 600;
    font-size: 13px;
    color: #fff;
    width: 100px !important;
}

img.header-image-search {
    margin-left: -80px;
}
/* dropdown program/provider */

.dropdownprogram {
    position: absolute;
    top: 0px;
}
.dropdownprogram .card {
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
    border-radius: 20px;
    width: 355px;
    min-height: auto;
    max-height: 450px;
    z-index: 999;
    top: 58px;
    left: -7px;
}

.dropdownprogram .card h6 span.search-programlist {
    float: right;
}
.dropdownprogram .card .program-list {
    padding: 10px;
}
.dropdownprogram .card h6 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    letter-spacing: 0.001em;
    color: #858585;
    padding-top: 10px;
    padding-bottom: 10px;
    cursor: pointer;
}
.dropdownprogram .card .provider-list{
    padding: 10px;
}
.dropdownprogram .card h5{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 0.001em;
    color: #858585;
    padding-top: 10px;
    padding-bottom: 10px;
    cursor: pointer;
}

.left_search{
  margin-top: 0;
  background: #FFFFFF;
  width:100%;
  position: relative;
  border: 1px solid #E0E0E0;
  border-radius: 40px;
}
button.banner_button.cursor img {
  width: 60%;
}

.banner_form {
  display: flex;
  background: #FFFFFF;
  border-radius: 44px;
  padding: 0;
}

.banner_form .form-group {
  margin: 0;
}

.banner_form .form-group input {
  min-height: 100%;
  background-color: transparent;
  border: none;
  border-radius: 0;
  padding: 0 25px;
  position: relative;
  z-index: 999;
}

.banner_form .form-group input.camp_input{
  min-width:250px;
  height: 55px;
  margin-top: 0px !important;
}

.banner_form .form-group input.date_input {
  background: #EFEFEF;
  border-radius: 30px;
  margin-left: 27px;
  max-width: 215px;
  min-width: auto;
}

.banner_form .form-group input::-webkit-input-placeholder,
.banner_form .form-group .form-control::-webkit-input-placeholder {
  color: #858585;
}

.banner_form .form-group input::-moz-placeholder,
.banner_form .form-group .form-control::-moz-placeholder {
  color: #858585;
}

.banner_form .form-group input::placeholder,
.banner_form .form-group .form-control::placeholder {
  color: #858585;
}
.banner_form .form-group.daterange input::placeholder,
.banner_form .form-group.daterange .form-control::placeholder {
  color: #494949 !important;
}

.banner_form .form-group .form-control.date_input::-webkit-calendar-picker-indicator {
  display: none;
  -webkit-appearance: none;
}

.banner_form .form-group input::placeholder {
  color: #D5DCE1;
}

.banner_form .form-group input::-webkit-input-placeholder {
  color: #D5DCE1;
}

.banner_form .form-group input:-moz-placeholder {
  color: #D5DCE1;
}

.banner_form .banner_button {
  background: #FA627D;
  border: 1px solid #FA627D;
  border-radius: 50%;
  width: 45px;
  height: 45px;
  position: absolute;
  right: 15px;
  top: 5px;
}

.search-results {
  max-height: calc(100vh - -736px);
  overflow: hidden;
  scrollbar-color: #ddd #ccc;
  scrollbar-width: thin;
  height: 100%;
  overflow-y: auto;
  padding-top:20px;
  padding-left: 40px;
  padding-right:20px;
}
.search-results::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

/* search location */
.search-location input {
  min-width:275px;
    background-color: transparent;

}
.search-location:before {
  content: "";
  width: 2px;
  height: 40px;
  background-color: #E0E0E0;
  position: absolute;
  left:43%;
  top: 7px;
}

/* locatrion-popup */
.location-popup span img {
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.location-popup {
  padding-top: 25px;
  padding-bottom: 25px;
}
.location-popup h1 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  text-align: center;
  color: #494949;
}
.location-popup h2 {
  font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 36px;
    text-align: center;
    color: #494949;
    padding-left: 40px;
    padding-right: 80px;
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
}
.location-popup h2 img{
  margin-top: 10px;
}
@media only screen and (min-width:1024px) and (max-width:1366px) and (orientation: portrait)  {

    .banner_form .form-group input.camp_input {
        min-width: 230px;
    }
    .dropdownprogram .card{
        width: 237px;
    }
    img.header-image-search {
      margin-left: -23px;
  }

}
.before-nav {
  margin-right: -83px;
}
/* header.search-header {
  box-shadow: none;
  border: 1px solid #E0E0E0;
} */
@media screen and (min-width:850px) and (max-width:1023px) {

  .activity .media-left {
    max-width:200px;
  }
  .banner_form .form-group input.camp_input {
    min-width: 130px;
  }
  .search-location:before {
    left: 44%;
  }
  .search-location input {
    min-width: 200px;
}
}

@media only screen and (min-width:1024px) and (max-width:1366px) and (orientation: portrait)  {
  .search-location:before {
    left: 43%;
  }

  .banner_form .form-group input.camp_input{
    min-width: 190px;}
  .activity .media-left {
      max-width: 200px;
      width: 200px;
      height: 200px;
      max-height: 200px;
      position: relative;
      border-radius: 20px;
      overflow: hidden;
  }
  .before-nav {
    margin-right: -15px;
  }
  .banner_form .form-group input.date_input {
      background: #EFEFEF;
      border-radius: 30px;
      margin-left: 8px;
      max-width: 170px;
      min-width: auto;
      max-height: 53px;
      min-height: 53px;
  }
  .search-results{
      max-height: calc(100vh - -4px);
  }
  .main_collpases {
      position: absolute;
      background-color: #fff;
      box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
      border-radius: 20px;
      padding: 20px 0 20px 0;
      z-index: 11;
      right: -42px;
      top: -24px;
      width: 255px;
      min-width: 176px;
      margin-top: 21px;
      text-align: left;
  }
  .banner_form .form-group input {
      min-height: 100%;
      background-color: transparent;
      border: none;
      border-radius: 0;
      padding: 0 0px 0px 25px;
  }
  .star-daialogbox{
    left: -48px;
    width: 270px;
  }
  .search-results.suggested{
      max-height: calc(100vh - 248px) !important;

  }
  .search-results.suggested.suggested-one {
      max-height: calc(100vh - 300px) !important;
  }
  .banner_form .form-group input.camp_input {
    min-width: 200px;
  }
  .list p {
    font-weight: normal;
    font-size: 11px;
  }
  .partcategory{
    min-width:950px !important;
    padding: 0px;
  }
  #timess .form-group.typess label {
    font-size: 7px;
  }
  .banner_form .form-group input.camp_input {
    max-width: 170px;
    min-width: 170px;

  }
  .banner_form .form-group {
    margin-left: 10px;
    }

    .search-location input {
      min-width: 177px;
      max-width: 177px;
    }

  }
