<body>
  <app-header2 *ngIf="!auth.currentUser()"></app-header2>
  <app-header *ngIf="auth.currentUser()"></app-header>

  <div class="common-headermargin">
    <section>
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="beta-suggestionheading">
              <h1>Hi Cyril. Welcome to Wondrfly!</h1>
              <h2>Here Are Your Personalized Activity Recommendations!</h2>
            </div>
          </div>
        </div>
      </div>
    </section>

    <div *ngIf="kids?.length">
      <section class="activity_category" *ngFor="let kid of kids">
        <div class="container">
          <div class="row">
            <div class="col-12 activities-flex">
              <h2 class="title">Activities for {{ kid?.name }}</h2>
              <span routerLink="/search" class="d-flex justify-content-end"
                >view all</span
              >
            </div>
          </div>
          <div class="activity_category_list">
            <div class="row">
              <div
                class="col-md-4"
                *ngFor="let category of categories | slice: 2:5; let i = index"
              >
                <div
                  class="category_list_box cursor"
                  (click)="searchByCategory(category.id)"
                >
                  <a href="javascritpt:;">
                    <div class="category_image">
                      <img
                        [defaultImage]="defaultImage"
                        [lazyLoad]="category?.imageUrl"
                      />
                    </div>
                    <div class="category_title">
                      <p>
                        {{ category?.name
                        }}<span class="title_arrow">
                          <img
                            src="assets/category_arrow.svg"
                            alt="Category_arrow"
                          />
                        </span>
                      </p>
                    </div>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>

    <section>
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="beta-suggestionbox">
              <div class="imgage-corners">
                <img src="assets/resouces-circle.png" />
              </div>
              <h1>Discover the best kids activities near you</h1>

              <div class="search-filterupper">
                <div class="search-filed">
                  <div class="left-searchss">
                    <div class="">
                      <div>
                        <form
                          class="banner_form"
                          data-toggle="collapse"
                          href="#dropdownprogram-provider"
                          role="button"
                          aria-expanded="false"
                          aria-controls="dropdownprogram-provider"
                        >
                          <div class="form-group">
                            <input
                              type="text"
                              autocomplete="off"
                              (keyup)="
                                searchSubCategory(activityName);
                                providerSearch(activityName)
                              "
                              placeholder="Search activity or provider..."
                              class="form-control camp_input"
                              name="activityName"
                              [(ngModel)]="activityName"
                            />
                          </div>
                          <div class="search-location">
                            <span
                              data-toggle="modal"
                              data-target="#locationModal"
                            >
                              <img src="assets/search-location.png"
                            /></span>
                            <input
                              placeholder="Search Location"
                              (keydown.enter)="$event.preventDefault()"
                              autocorrect="off"
                              autocapitalize="off"
                              spellcheck="off"
                              #search
                            />
                          </div>
                          <div class="form-group">
                            <button
                              (click)="filterByNameDate()"
                              class="banner_button"
                              type="submit"
                            >
                              <img
                                src="assets/search_icon.svg"
                                alt="Search image"
                              />
                            </button>
                          </div>

                          <div
                            class="dropdownprogram"
                            *ngIf="
                              (providersBySearch?.length ||
                                categoriesBySearch?.length) &&
                              activityName
                            "
                          >
                            <div class="card card-body">
                              <div
                                class="program-list"
                                *ngIf="categoriesBySearch?.length"
                              >
                                <h6
                                  (click)="searchBySubCategory(category._id)"
                                  *ngFor="
                                    let category of categoriesBySearch
                                      | slice: 0:4
                                  "
                                  (click)="searchBySubCategory('')"
                                >
                                  {{ category.name }}
                                  <span class="search-programlist">
                                    <img src="assets/program-search.svg" />
                                  </span>
                                </h6>
                              </div>
                              <hr />
                              <div
                                class="provider-list"
                                *ngIf="providersBySearch?.length"
                              >
                                <h5>Providers</h5>
                                <h6
                                  (click)="goToProviderProfile(provider)"
                                  *ngFor="
                                    let provider of providersBySearch
                                      | slice: 0:4
                                  "
                                >
                                  {{ provider.firstName }}
                                </h6>
                              </div>
                            </div>
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="image-corners">
                <img src="assets/beta-image.png" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="blog-explore">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="boxs">
              <div class="row">
                <div class="col-md-5">
                  <div class="beta-invitedata">
                    <h1>New Feature: Invites</h1>
                    <p>This is your chance to tell others about Wondrfly beta!</p>
                    <h6>
                      You have <span>0</span> of <span>5</span> invites used
                    </h6>

                    <button (click)="sendInvite()">SEND INVITE</button>
                  </div>
                </div>
                <div class="col-md-7">
                  <div class="img-invite">
                    <img src="assets/beta-invite.png" alt="invite-image" />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <div class="blog-explore explore-fixed">
      <div class="container">
        <div class="row">
          <div class="col-md-8">
            <div class="boxs">
              <div class="row">
                <div class="col-md-6">
                  <div class="img-invite">
                    <img src="assets/beta-invite.png" alt="invite-image" />
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="beta-invitedata">
                    <img src="assets/closecolor.svg">
                    <h1>New Feature: Invites</h1>
                    <p>This is your chance to tell others about Wondrfly beta!</p>
                    <a href="#">TRY NOW</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


    <section class="blog-explore">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="box">
              <div class="upper-blog">
                <h2 class="upper-blog-heading">Feedback</h2>
              </div>
              <div class="lower-blog-sec">
                <div class="row">
                  <div
                    class="col-md-3"
                    *ngFor="let survey of feedback; let i = index"
                  >
                    <div
                      class="card"
                      [class.activated-survey]="
                        feedback[0] === feedback[i] ? true : false
                      "
                    >
                      <div class="card-body">
                        <h5 class="card-title">{{ survey?.feedback }}</h5>
                        <p class="card-text">{{ survey?.description }}</p>
                        <h6 class="card-subtitle mb-2 text-muted">
                          <span>Not Completed </span><br />
                          this week
                        </h6>
                        <a href="{{ survey?.url }}" target="_blank"
                          ><button
                            [disabled]="
                              feedback[0] !== feedback[i] ? true : false
                            "
                          >
                            START NOW
                          </button></a
                        >
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="blog-explore">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="box">
              <div class="upper-blog">
                <h2 class="upper-blog-heading">Resources</h2>
                <span  class="d-flex justify-content-end" routerLink="/resources" >view all</span>
              </div>
              <div class="lower-resources-sec">
                <div class="row">
                  <div class="col-md-4" *ngFor="let res of resources">
                    <div class="card">
                      <img
                        class="card-img-top"
                        src="{{ blogUrl }}{{ res?.image?.url }}"
                        alt="Card image cap"
                      />
                      <div class="card-body">
                        <h5 class="card-title">{{ res.title }}</h5>
                        <p class="card-text">{{ res.description }}</p>
                        <div class="list">
                          <div class="list-flex">
                            <p>
                              <img
                                src="assets/calendar.svg "
                                alt="School image "
                              />{{ res.start_date }}
                            </p>
                            <p>
                              <img
                                src="assets/user_group.svg "
                                alt="School image "
                              />{{ res.end_date }}
                            </p>
                          </div>
                          <p>
                            <a href="{{ res.url }}" target="_blank"
                              >READ MORE</a
                            >
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="col-md-4">
                    <div class="card comming-soon">
                      <div class="imgage-corners">
                        <img src="assets/resouces-circle.png" />
                      </div>
                      <div class="tuned-flex">
                        <h5 class="card-title">STAY TUNED</h5>
                        <p class="card-text">New features will come soon</p>
                      </div>

                      <div class="image-corners">
                        <img src="assets/beta-image.png" />
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>

  <app-footer></app-footer>
</body>
