

<body>

    <div class="forum_outer">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <form class="forum_form">
                        <div class="form-group">
                            <input type="text" [(ngModel)]="SearchValue" [ngModelOptions]="{standalone: true}"
                                placeholder="Ex: Why my child should take after school class?"
                                class="form-control camp_input">
                        </div>
                        <div class="form-group">
                            <button class=" banner_button" (click)="forumSearch()">
                                <img src="assets/search_icon.svg" alt="Search image">
                            </button>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>

    <div class="search_result">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h2>Search Results</h2>
                    <div class="all_result">
                        <p>{{forums.length}} Results</p>
                        <p>.</p>
                        <p> Sort by:</p>
                        <div class="custom_select">
                            <select name="date">
                                <option selected>Solution Date</option>
                                <option>Date 1</option>
                                <option>Date 2</option>
                                <option>Date 3</option>
                            </select>

                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="not_found" *ngIf="!forums.length">
                        <img src="assets/found_icon.svg" alt="Search icon">
                        <p>No Topics Found</p>
                    </div>
                    <div class="result_list">
                        <div class="media cursor" (click)="forum(topic)" *ngFor="let topic of forums let i = index">
                            <div class="media_left">
                                <img src="assets/activities_icon.svg" alt="Activities icon">
                            </div>
                            <div class="media_body">
                                <h3>{{topic.title}}</h3>
                                <div class="author_name">
                                    <p>by: <span>{{topic.author.firstName}}</span></p>
                                    <!-- <p>.</p>
                  <p>by: <span>Antoine G</span></p> -->
                                </div>
                                <p>{{topic.description}}</p>
                                <div class="comment_lefts">
                                    <a><img src="assets/up_arrow.svg" alt="Up arrow"
                                            class="up_arrow">{{topic.likesCount}}</a>
                                    <a><img src="assets/comment_icon.svg"
                                            alt="Comment icon">{{topic.comments.length}}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<ngx-ui-loader></ngx-ui-loader>
