.forum_outer {
    padding: 33px 0;
    border-bottom: 2px solid #E0E0E0;
}

.forum_form {
    display: flex;
    background: #FFFFFF;
    border-radius: 44px;
    padding: 11px 16px 14px 16px;
    max-width: 665px;
}

.forum_form .form-group {
    margin: 0;
    width: 100%;
}

.forum_form .form-group:last-child {
    width: auto;
}

.forum_form .form-group .form-control,
.forum_form .form-group input {
    background-color: #EFEFEF;
    border-radius: 30px;
}

.forum_form .form-group input::placeholder {
    color: #748494;
}

.forum_form .form-group input::-webkit-input-placeholder {
    color: #748494;
}

.forum_form .form-group input:-moz-placeholder {
    color: #748494;
}

.forum_form .banner_button {
    background: #FA627D;
    border: 1px solid #FA627D;
    border-radius: 50%;
    display: inline-block;
    width: 52px;
    height: 52px;
    margin: 3px 0 0 30px;
    padding: 0;
}

.search_result {
    padding: 30px 0;
}

.search_result h2 {
    font-weight: 600;
    font-size: 26px;
    line-height: 18px;
    text-transform: uppercase;
    color: #828282;
}

.all_result {
    margin-top: 17px;
}

.all_result p {
    font-weight: normal;
    font-size: 13px;
    line-height: 18px;
    color: #748494;
    display: inline-block;
    margin-right: 22px;
}

.search_result p:last-child {
    margin: 0;
}

.search_result .custom_select {
    max-width: 140px;
    min-height: auto;
    line-height: initial;
    border: none;
    min-width: 134px;
}

.result_list {
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
    margin-top: 36px;
}

.result_list .media {
    padding: 38px 58px;
    border-bottom: 2px solid rgb(189, 189, 189, 0.4);
}

.result_list .media:last-child {
    border-bottom: 0;
}

.result_list .media_body {
    padding-left: 38px;
}

.result_list .media_body h3 {
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0.001em;
    color: #828282;
}

.result_list .media_body .author_name {
    margin-top: 7px;
}

.result_list .media_body .author_name p {
    font-size: 13px;
    line-height: 18px;
    color: #828282;
    display: inline-block;
    margin: 0 13px 0 0;
}

.result_list .media_body .author_name p:last-child {
    margin: 0;
}

.result_list .media_body .author_name p span {
    color: #53B2E8;
}

.result_list .media_body p {
    font-size: 12px;
    line-height: 14px;
    color: #828282;
    margin-top: 13px;
}

.not_found {
    text-align: center;
    padding: 70px 0;
}

.search_result .not_found p {
    font-weight: 600;
    font-size: 30px;
    line-height: 45px;
    color: #BDBDBD;
    margin: 8px 0 0 0;
    display: inline-block;
    width: 100%;
}

.comment_lefts {
    display: inline-block;
    width: 100%;
    margin-top: 11px;
}

.comment_lefts a {
    font-size: 12px;
    line-height: 18px;
    color: #828282;
    margin: 0 16px 0 0;
}

.comment_lefts a img {
    vertical-align: middle;
    margin: 0 4px 0 0;
}

.comment_lefts a img.up_arrow {
    margin: 0 4px 0 0;
}