.forum_outer {
    padding: 33px 0;
    border-bottom: 2px solid rgb(189, 189, 189, 0.4);
}

.forum_form {
    display: flex;
    background: #FFFFFF;
    border-radius: 44px;
    padding: 11px 16px 14px 16px;
    max-width: 665px;
}

.forum_form .form-group {
    margin: 0;
    width: 100%;
}

.forum_form .form-group:last-child {
    width: auto;
}

.forum_form .form-group .form-control,
.forum_form .form-group input {
    background-color: #EFEFEF;
    border-radius: 30px;
}

.forum_form .form-group input::placeholder {
    color: #748494;
}

.forum_form .form-group input::-webkit-input-placeholder {
    color: #748494;
}

.forum_form .form-group input:-moz-placeholder {
    color: #748494;
}

.forum_form .banner_button {
    background: #FA627D;
    border: 1px solid #FA627D;
    border-radius: 50%;
    display: inline-block;
    width: 52px;
    height: 52px;
    margin: 3px 0 0 30px;
    padding: 0;
}

.user_outer {
    margin-top: 33px;
}

.user_outer .user_list {
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
    padding: 50px 50px 33px;
}

.user_outer .user_list.comment {
    margin-top: 20px;
}

.user_profile {
    width: 84px;
    height: 84px;
    border-radius: 50%;
    overflow: hidden;
}

.user_profile img {
    max-width: 100%;
    min-height: 100%;
    object-fit: cover;
}

.user_name .media-body {
    padding-left: 26px;
}

.user_name .media-body h3 {
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    color: #828282;
}

.user_name .media-body h4 {
    font-size: 14px;
    line-height: 21px;
    color: #53B2E8;
}

.user_name .media-body p {
    font-size: 14px;
    line-height: 21px;
    color: #828282;
}

.user_about {
    margin-top: 43px;
}

.user_about p.date {
    font-weight: normal;
    font-size: 12px;
    line-height: 18px;
    color: #53B2E8;
}

.user_about h5 {
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    margin-top: 7px;
}

.user_about h6 {
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    color: #828282;
    margin-top: 15px;
}

.forum_button {
    padding: 50px 0;
    display: inline-block;
    width: 100%;
}

.forum_button .button {
    float: left;
}

.forum_button .button.next {
    float: right;
}

.forum_button .button a {
    border: 1px solid #53B2E8;
    box-sizing: border-box;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 50px;
    color: #53B2E8;
    min-width: 210px;
    min-height: 55px;
    line-height: 55px;
    text-align: center;
    transition: 0.8s;
    display: inline-block;
    font-weight: 600;
    font-size: 14px;
    text-transform: uppercase;
}

.forum_button .button a:hover {
    background-color: #53B2E8;
    color: #ffff;
}

.replay_forum {
    text-align: right;
    border-top: 1px solid #EEEEEE;
    margin-top: 48px;
}

.replay_forum .comment_left {
    float: left;
}

.replay_forum .comment_left p {
    display: inline-block;
    font-size: 14px;
    line-height: 21px;
    color: #828282;
    margin: 0 19px 0 0;
}

.replay_forum .comment_left a {
    font-size: 12px;
    line-height: 18px;
    color: #828282;
    margin: 0 16px 0 0;
}

.replay_forum .comment_left a img {
    vertical-align: middle;
    margin: 0 4px 0 0;
}

.replay_forum .comment_left a img.up_arrow {
    margin: 0 4px 0 0;
}


/* start comment_box css */

.comment_box {
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
    padding: 50px 50px 33px;
    margin-top: 20px;
}

.comment_box .media-body {
    padding-left: 35px;
}

.comment_box .media-body textarea {
    min-height: 180px;
}

.post_btn {
    text-align: right;
    padding-top: 30px;
}

.post_btn .btn_style {
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 14px;
    min-width: 150px;
    min-height: 46px;
    line-height: 46px;
    text-align: center;
    color: #53B2E8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 30px;
    background-color: transparent;
    border: 1px solid #53B2E8;
}

.post_btn .btn_style:hover {
    background-color: #53B2E8;
    color: #fff;
}

.sort_by.search_result p {
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    color: #748494;
    display: inline-block;
}

.sort_by.search_result a.cursor {
    font-size: 14px;
    line-height: 21px;
    color: #748494;
}

.sort_by.search_result {
    text-align: right;
    margin-top: 24px;
}

.sort_by.search_result .dropdown-menu {
    background: #FFFFFF;
    border: 1px solid #E5E9EC;
    border-radius: 20px;
    padding: 15px;
    left: -92px !important;
    right: auto !important;
    max-width: 220px;
    margin-top: 13px;
}

.sort_by.search_result .dropdown-menu a {
    display: inline-block;
    margin: 0 0 0 30px;
    padding: 11px;
    border-radius: 20px;
    transition: 0.8s;
    background: transparent;
}

.sort_by.search_result .dropdown-menu a:hover {
    background: rgba(229, 233, 236, 0.5);
}

.sort_by.search_result .dropdown-menu a img {
    margin: 0 6px 0 0;
    max-width: 21px;
}

.comment_box .form-group label {
    font-size: 12px;
    line-height: 18px;
    font-weight: 500;
    color: #53B2E8;
}