

<body>

    <div class="user_outer">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="user_list">
                        <div class="media user_name align-items-center">
                            <div class="media-left">
                                <div class="user_profile">
                                    <img *ngIf="forum.author.avatarImages" src="{{forum.author.avatarImages}}"
                                        alt="Profile img">
                                    <img *ngIf="!forum.author.avatarImages" src="assets/profile.svg" alt="Profile img">
                                </div>
                            </div>
                            <div class="media-body">
                                <h3> {{forum.author.firstName}} </h3>
                                <h4>{{forum.author.role}}</h4>
                                <p>Memeber since {{forum.author.createdOn | date:'dd MMM, yyyy'}}</p>
                            </div>
                        </div>
                        <div class="user_about">
                            <p class="date">{{forum.updateOn | date:'dd MMM, yyyy'}}</p>
                            <h5>{{forum.title}}</h5>
                            <h6>{{forum.description}}</h6>
                        </div>

                        <div class="replay_forum post_btn">
                            <div class="comment_left">
                                <p>Was this article helpful?</p>
                                <a><img src="assets/up_arrow.svg" (click)="forumLike()" alt="Up arrow"
                                        class="up_arrow">{{forum.likesCount}}</a>
                                <!-- <a href="javascript:;"><img src="assets/comment_icon.svg"
                                        alt="Comment icon">{{forum.comments.length}}</a> -->
                            </div>
                            <button class="btn_style" data-toggle="collapse" data-target="#commentBox"
                                aria-expanded="false" aria-controls="collapseExample">Reply</button>

                        </div>
                    </div>


                    <div class="collapse" id="commentBox">
                        <div class="media comment_box">
                            <div class="media-left">
                                <div class="user_profile">
                                    <img *ngIf="user.avatarImages" src="{{user.avatarImages}}" alt="Profile img">
                                    <img *ngIf="user.avatarImages" src="assets/profile.svg" alt="Profile img">
                                </div>
                            </div>
                            <div class="media-body">
                                <div class="form-group" [formGroup]="commentForm">
                                    <label>ADD YOUR COMMENT</label>
                                    <textarea #commentValue maxlength="3000" class="form-control" placeholder="Type"
                                        formControlName="text" required></textarea>
                                    <div class="textarea_length">
                                        <p>({{commentValue.value?.length || 0}} of 3000)
                                        </p>
                                    </div>
                                </div>
                                <div class="form-group post_btn">
                                    <button class="btn_style" data-toggle="collapse" data-target="#commentBox"
                                        aria-expanded="false" aria-controls="collapseExample"
                                        (click)="addComment()">Post</button> </div>
                            </div>
                        </div>
                    </div>

                    <div class="sort_by search_result">
                        <p>Sort by : </p>
                        <a aria-expanded="false" aria-haspopup="true" class="cursor" data-toggle="dropdown" id="Sortby"
                            role="button">
                            {{sortBy}} posts
                        </a>
                        <div aria-labelledby="Sortby" class="dropdown-menu">
                            <a class="dropdown-item cursor" [class.disabled]="isRecent"
                                (click)="sortingComment(forum.comments,'Recent')">
                                <img src="assets/recent.svg"> Recent </a>
                            <a class="dropdown-item cursor" [class.disabled]="isOlder"
                                (click)="sortingComment(forum.comments,'Older')">
                                <img src="assets/relevance.svg"> Older </a>
                        </div>
                    </div>

                    <div *ngIf="forum.comments">
                        <div class="user_list comment" *ngFor="let comment of forum.comments">
                            <div class="media user_name align-items-center">
                                <div class="media-left">
                                    <div class="user_profile">
                                        <img *ngIf="comment.userImage" src="{{comment.userImage}}" alt="Profile img">
                                        <img *ngIf="!comment.userImage" src="assets/otheruser.jpeg" alt="Profile img">

                                    </div>
                                </div>
                                <div class="media-body">
                                    <h3> {{comment.creatorName}} </h3>
                                    <h4>{{comment.userRole}}</h4>
                                    <p>Memeber since {{comment.userCreatedOn | date:'dd MMM, yyyy'}}</p>
                                </div>
                            </div>
                            <div class="user_about">
                                <p class="date">{{comment.updatedOn | date:'MMM dd, yyyy'}}</p>
                                <h6>{{comment.text}}</h6>
                            </div>

                        </div>
                    </div>

                    <div class="forum_button">
                        <div class="button">
                            <a>Back</a>
                        </div>
                        <div class="button next">
                            <a href="javascript:;">Next</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<ngx-ui-loader></ngx-ui-loader>
